<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--<meta name="theme-color" content="#08C1CE">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="<%- url %>">
	<meta name="twitter:title" content="<%- param.file.name %>">
	<meta name="twitter:description" content="<%- param.file.description %>">
	<meta name="twitter:image" content="/translated/<%- param.file.project_id %>/<%- param.file.resource_id %>/cover.jpg">
	<!-- <meta name="twitter:image" content="<%- param.file.cover %>"> -->

	<meta property="og:title" content="<%- param.file.name %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%- url %>" />
	<meta property="og:description" content="<%- param.file.description %>" />
	<meta property="og:image" content="/translated/<%- param.file.project_id %>/<%- param.file.resource_id %>/cover.jpg" />
	<!-- <meta property="og:image" content="<%- param.file.cover %>" /> -->

	<title>CICÉRON</title>
	<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/nepick-news.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>




	<script>
		var project_id = "<%- param.file.project_id %>";
		var resource_id = "<%- param.file.resource_id %>";
		var language_id = "<%- param.file.language_id %>";
		var previewFileList = JSON.parse('<%- JSON.stringify(param.file.previewFileList) %>');
		var encodedUrl = "<%- encodedUrl %>";
		var date = "<%- param.file.date %>";
		// var time = "<%- param.file.time %>";
		// var date = new Date().toLocaleDateString();
		var time = new Date("<%- param.file.time %>").toLocaleString();
	</script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80552336-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-80552336-1');
	</script>
</head>

<body>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '149846289132955',
				autoLogAppEvents: true,
				xfbml: true,
				version: 'v2.11'
			});
		};

		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) { return; }
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-logo">
					<button onclick="window.open('/');">번역 의뢰하기</button>
				</div>
			</div>
		</header>
		<header class="header-fixed hidden">
			<div class="container">
				<div class="header-logo"></div>
				<div class="header-title">
					<%- param.file.name %>
				</div>
				<div class="header-share">
					<i class="fa fa-link share-link" aria-hidden="true"></i>
					<i class="fa fa-facebook-official share-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter share-twitter" aria-hidden="true"></i>
				</div>
			</div>
		</header>
		<!-- <div class="content"> -->
		<div class="cover" style="background-image: url('<%- param.file.cover %>');">
			<div class="cover-background"></div>
			<div class="container">
				<div class="cover-line">
					<span class="cover-title">
						<%- param.file.name %>
					</span>
				</div>
				<div class="cover-line">
					<span class="cover-subTitle">
						<%- param.file.description %>
					</span>
				</div>
				<% if(param.file.source != "" && param.file.source != "original"){ %>
					<div class="cover-line">
						<span class="cover-source">
							Source:
							<a href="<%- param.file.source %>" target="_blank">
								<%- param.file.author %>
							</a>
						</span>
					</div>
					<% } %>
						<div class="cover-line" style="margin: .5em 0 2em 0;"></div>
						<div class="cover-line">
							<span class="cover-translator">
								<div class="cover-translator-picture"></div>
								<div class="cover-translator-infomation">
									<span style="font-weight: 100;">Translated by </span>
									<a href="#about">내픽뉴스 번역팀</a>
									<br />
									<span style="font-weight: 100;" class="printTime">
									</span>
								</div>

								<!-- <%- param.file.author %> -->
							</span>
						</div>
						<div class="cover-line" style="margin: .5em 0 2em 0;"></div>
						<div class="cover-line">
							<div class="cover-share">
								<i class="fa fa-link share-link" aria-hidden="true"></i>
								<i class="fa fa-facebook-official share-facebook" aria-hidden="true"></i>
								<i class="fa fa-twitter share-twitter" aria-hidden="true"></i>

							</div>
						</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
				<div class="content-line">
					<div class="content-article">
						<div class="content-preview">
							<img src="/img/loading.gif">
						</div>
						<div class="content-share">
							<i class="fa fa-link share-link" aria-hidden="true"></i>
							<i class="fa fa-facebook-official share-facebook" aria-hidden="true"></i>
							<i class="fa fa-twitter share-twitter" aria-hidden="true"></i>
						</div>
					</div>
					<div class="content-side">
						<span style="font-weight: 700; display: block; margin-bottom: 1em;">Latest Translations</span>
						<div class="content-latest">
							<div class="content-latest-item" onclick="location.href = '/translated/{Project}/{Resource}';">
								<div class="content-latest-item-cover" style="background-image: url({Cover});"></div>
								<span class="content-latest-item-title">
									{Title}
								</span>
								<span class="content-latest-item-summary">
									{Summary}
								</span>
							</div>
						</div>
						<span style="font-weight: 700; display: block; margin-bottom: 1em;">번역해 보고 싶은 해외 기사를 추천해주세요!</span>
						<div class="content-advertisement">
							<!-- <div class="fb-send-to-messenger" messenger_app_id="149846289132955" page_id="508570782843726" color="blue" size="large"></div> -->
							<button style="background-color: #0084ff; width: 100%;" onclick="window.open('https://m.me/NePickNews');">
								<img src="/img/facebook-messenger.png" style="width: 1.2em; vertical-align: middle;"> 내픽뉴스 메신저에서 추천
							</button>
						</div>
					</div>
				</div>
				<div class="content-line">

				</div>
			</div>
		</div>
		<div class="about" id="about">
			<div class="container">
				<!-- <div class="about-line">
					<span class="about-title">
						Share this post...
					</span>
					<i class="fa fa-link share-link" aria-hidden="true"></i>
					<i class="fa fa-facebook-official share-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter share-twitter" aria-hidden="true"></i>
				</div> -->
				<div class="about-line">
					<div class="about-translator">
						<span class="about-title">
							내픽뉴스 번역팀
						</span>
						<!-- <span class="about-subTitle">
							What we do
						</span> -->
						<span class="about-context">
							내픽뉴스는 내가 원하는 최신 해외 뉴스를 번역합니다.
							<br> 보고 싶은 언론사를 페이스북에서 추천해주세요!
						</span>
						<span class="about-subTitle">
							Language
						</span>
						<span class="about-context">
							한국어, 영어, 중국어를 전문적으로 번역하고 있습니다.
						</span>
						<span class="about-subTitle">
							Category
						</span>
						<span class="about-context">
							뉴스, 출판물, 공문서 등
						</span>
						<span class="about-subTitle">
							Contact
						</span>
						<!-- <a class="about-link" target="_blank" href="//ciceron.me">웹 사이트</a> -->
						<!-- <a class="about-link" target="_blank" href="https://www.facebook.com/ciceronmate/">페이스북</a> -->
						<a class="about-link" target="_blank" href="https://www.facebook.com/NePickNews/">페이스북</a>
						<br />
						<a class="about-link" target="_blank" href="//ciceron.me">씨세론에서 이 번역가에게 의뢰</a>
						<br />
						<button style="background-color: #0084ff; width: auto;" onclick="window.open('https://m.me/NePickNews');">
							<img src="/img/facebook-messenger.png" style="width: 1.2em; vertical-align: middle;"> 내픽뉴스 메신저에서 추천
						</button>
						<!-- <a class="about-link" target="_blank" href="https://www.instagram.com/ciceron_mate/">씨세론 인스타그램</a> -->
					</div>
					<div class="about-ciceron">
						<span class="about-title">씨세론은</span>
						<span class="about-context">
							씨세론은 번역가의 보다 나은 번역 환경 및 AI를 활용한 자동 번역 기술을 연구하고 있습니다.
							<br />또한 전세계의 다양한 언어 및 상황에 맥락에 맞는 번역·교열 서비스를 제공하고 있습니다.
						</span>
						<button onclick="window.open('/');">지금 번역 의뢰하기</button>
						<span class="about-subTitle">
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->

		<footer>
			<div class="footer-line">
				<a href="/">홈페이지</a>
				<a href="/terms">이용약관</a>
				<a href="/privacy">개인정보처리방침</a>
				<a href="http://goo.gl/forms/cQMkN2gpYXOBtruz2">의견</a>
			</div>
			<div class="footer-line">
				<span class="footer-responsibility">
					이 페이지는
					<span style="font-weight: 700;">번역 의뢰 고객에 번역물을 제공하기 위한 Viewer</span>이며 이 페이지의 콘텐츠의 저작권은 원작자 및 번역가 또는 씨세론에 있습니다. 따라서 이를 무단 이용하는 경우 저작권법 등에 따라 법적책임을 질
					수 있습니다.
				</span>
			</div>
		</footer>
	</div>


	<script src="/js/nepick.js"></script>
</body>

</html>