<style>
.beTranslator-popup {
	max-width: 500px;
	1height: 100px;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	margin: 0 auto;
	text-align: center;
}
</style>
<div class="beTranslator-popup">
	<h1>Hello Popup!</h1>
	<p class="target-language-name"></p>
	<p class="target-language-options">한국어 영어 중국어 태국어 등</p>
	<p>의 번역 권한을 신청할꺼지?</p>
	<br/>
	<button class="submit">응</button>
	<button class="close">아니</button>
</div>