
<div class="container">
    <!--about.2.html의 footer 부분을 참고하여 제작해주시면 됩니다.-->
    
    <div class="footer_img">
	    <a href="/"><img class="footer_logo" src="img/ciceron_gray.png"></a>
    </div>
    
    <div class="footer_left brtag brtag_up">
	    <span class="spantag">					
						Translate this page into
						<select class="select" id="translatePage">
							<option value="1">한국어</option>
							<option value="2">English</option>
							<!--<option value="3">English(UK)</option>
							<option value="4">中國語</option>-->
						</select>
						<div class="brtag"><span>대표: 윤영선</span></div>
						<div class="brtag"><span>개인정보관리책임자: 이준행</span></div>
						<div class="brtag"><span>사업자등록번호: 367-81-00182</span></div>
						<div class="brtag"><span>통신판매업신고번호: 제 2016-서울중구-0676 호</span></div>
		</span>	
    </div>
    <div class="footer_middle">
	    <span class="spantag">					
						<!--<div class="brtag_up"><span><a>회사소개</a></span></div>-->
						<div class="brtag_up"><span><a style="cursor: pointer;" href="/terms" target="popup" onclick="window.open(this.href,'이용약관','width=600,height=400'); return false;">이용약관</a></span></div>
						<div class="brtag"><span><a style="cursor: pointer;" href="/privacy" target="popup" onclick="window.open(this.href,'개인정보취급방침','width=600,height=400'); return false;">개인정보취급방침</a></span></div>
		</span>
    </div>
    <div class="footer_middle_2">
	    <span class="spantag">
	    	<div class="brtag brtag_up"><span><a href="/about">About</a></span></div>
	    	<!--<div class="brtag"><span><a>Process</a></span></div>
	    	<div class="brtag"><span><a>Feature</a></span></div>
	    	<div class="brtag"><span><a>Apply</a></span></div>
	    	<div class="brtag"><span><a>Partners</a></span></div>-->
	    </span>
    </div>
    <div class="footer_right">
	    <span class="spantag">
						<div class="brtag brtag_up"><span><a>Contact/장애문의</a></span></div>
						<div class="brtag"><span><a href="mailto:chingoo@ciceron.me">chingoo@ciceron.me</a></span></div>
						<div class="brtag"><span>주식회사 씨세론</span></div>
						<div class="brtag"><span>서울시 중구 청계천로 40</span></div>
						<div class="brtag"><span>문화창조벤처단지 1508호</span></div>					
						<div class="brtag brtag_down"><span>대표번호: 02-6441-3838</span></div>
		</span>
    </div>
    <hr>
    <div class="footer_bottom" style="padding-top: 20px; font-size: 12px;">
	    <span class="spantag">
	    	Copyright © 2016 CICÉRON, inc<br>
			All rights reserved

	    </span>
    </div>
</div>

