<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/js/index.js"></script>
<a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/ciceron.xyz"><img src="https://seal.beyondsecurity.com/verification-images/ciceron.xyz/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>