<meta charset="utf8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<script src="/static/js/lib/handlebars.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/css/proto.css">
<style>
	html, body {
		margin: 0;
		padding: 0;
		    background-color: #90B5E3;
	}
.sectionContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: transparent;
	1z-index: 0;
}
.sectionContainer:nth-child(1) {
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/upfeathers.png);
}
.sectionContainer:nth-child(2) {
	1background-color: #90B5E3;
}
.sectionContainer:nth-child(3) {
	1background-color: #90B5E3;
}
.sectionContainer:nth-child(4) {
	1background-color: #90B5E3;
}
.sectionContainer:nth-child(5) {
	1background-color: #90B5E3;
}
.sectionContainer:nth-child(6) {
	1background-color: #90B5E3;
}
.sectionContainer:nth-child(3) {
	1background-color: red;
}
.ciceronHead {
	position: absolute;
	bottom: 0;
	display: block;
	width: 450px;
	height: 700px;
	opacity: .8;
	border: 1px dotted black;
	background-image: url(/static/img/landing/1/cicero_landing-05.png);
	background-size: cover;
	z-index: 10;
}
.ciceronHead.left{
	left: 0;
	background-position: right top;
}
.ciceronHead.right{
	right: 0;

	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-position: right top;
}

.ciceronMask {
	position: absolute;
	top: 0;
	margin-top: -510px;
	1opacity: 0;
	border: 1px dotted black;
	1background-image: url(/static/img/landing/1/cicero_landing-05.png);
	background: rgba(255,255,255,.5);
	background-size: cover;
	z-index: 10;
	height: 500px;
	display: block;
	width: 300px;
}
.ciceronMask.left{
	left: 0;
}
.ciceronMask.right{
	right: 0;
}

.headMsg1,
.headMsg2 {
	color: white;
    font-size: 33px;
    font-weight: 100;
}


.headMsg1 {
	position: absolute;
	top: 40%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	opacity: 0;
}

.headMsg2 {
	position: absolute;
	top: 40%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	opacity: 0;
}

.shortRequestCard {
	position: absolute;
	bottom: 100px;
	left: 50%;
	1opacity: 0;
	display: block;
	margin: 0 auto;
	width: 200px;	
}
</style>
</head>

<body>
	<section class="sectionContainer">1
	</section>
	<section class="sectionContainer">2
		<div class="ciceronHead left">		<!--img class="ciceronHead left" src="/static/img/landing/1/cicero_landing-05.png"/-->
		</div>
		<div class="ciceronHead right">		<!--img class="ciceronHead left" src="/static/img/landing/1/cicero_landing-05.png"/-->
		</div>
		<h1 class="headMsg1">씨세론은 당신을 이해하는 번역을 합니다</h1>
	</section>
	<section class="sectionContainer">3
	</section>
	<section class="sectionContainer">4
		<div class="ciceronMask left">		<!--img class="ciceronHead left" src="/static/img/landing/1/cicero_landing-05.png"/-->
		</div>
		<div class="ciceronMask right">		<!--img class="ciceronHead left" src="/static/img/landing/1/cicero_landing-05.png"/-->
		</div>
		<h1 class="headMsg2">사려 깊은 당신의 히어로들</h1>
	</section>
	<section class="sectionContainer">5
	</section>
	<section class="sectionContainer">6
	</section>
	<section class="sectionContainer">7 : 스토아
		<img class="shortRequestCard" src="http://images.apple.com/v/tv/a/images/overview/siri_remote_large_2x.png"/>
	</section>
	<section class="sectionContainer">8
	</section>
	<section class="sectionContainer">9
	</section>
	<section class="sectionContainer">10 : 간단한 절차를 통해 티켓을 만들어 보세요 
	</section>
<script>
	var nWinHeight = window.innerHeight;
	
	$(window).on("scroll", function(){
		var nSectionProgress = window.scrollY / $(".sectionContainer").height();
		console.log(nSectionProgress);

		if(nSectionProgress >= 1 &&  nSectionProgress <= 5) { // 화면에 걸쳐지는 영역
			$(".ciceronHead").css("position", "fixed");
			$(".ciceronHead").css("bottom", "0");		
		} else if(nSectionProgress > 5) {
			$(".ciceronHead").appendTo(".sectionContainer:nth-child(6)");
			$(".ciceronHead").css("position", "absolute");
		}else if(nSectionProgress < 1) {
			$(".ciceronHead").appendTo(".sectionContainer:nth-child(2)");
			$(".ciceronHead").css("position", "absolute");
		}		

		if(nSectionProgress >= 3 &&  nSectionProgress <= 5) { // 화면에 걸쳐지는 영역
			$(".ciceronMask").css("position", "fixed");
			//$(".ciceronMask").css("bottom", "0");
			
			if(nSectionProgress >= 3 && nSectionProgress < 4) {
				$(".ciceronMask").css("opacity", 1);
				// 화면 높이 - ㅊ
				var nLastPosition =	nWinHeight - 250;
				//console.log(nLastPosition);
				$(".ciceronMask").css("margin-top", (- 510 + 1 * (nSectionProgress - 3) * nLastPosition) + "px");
			} else if(nSectionProgress >= 4){ 
				//$(".headMsg2").css("opacity", 5 - nSectionProgress);
				$(".ciceronMask").css("opacity", 1);
			} else {
				$(".ciceronMask").css("opacity", 0);
			}			
			
		} else if(nSectionProgress > 5) {
			$(".ciceronMask").appendTo(".sectionContainer:nth-child(6)");
			$(".ciceronMask").css("position", "absolute");
			$(".ciceronMask").css("opacity", 1);
	//						$(".ciceronMask").css("opacity", 0);

		} else if(nSectionProgress < 3) {
			$(".ciceronMask").appendTo(".sectionContainer:nth-child(4)");
			$(".ciceronMask").css("position", "absolute");
			$(".ciceronMask").css("opacity", 0);
		}		


		
		if(nSectionProgress >= 1 &&  nSectionProgress <= 3) { // 화면에 걸쳐지는 영역
			$(".headMsg1").css("position", "fixed");
			$(".headMsg1").css("bottom", "0");		
			
			if(nSectionProgress >= 1 && nSectionProgress < 2) {
				$(".headMsg1").css("opacity", nSectionProgress - 1);
			} else if(nSectionProgress >= 2){ 
				$(".headMsg1").css("opacity", 3 - nSectionProgress);
			} else {
				$(".headMsg1").css("opacity", 0);
			}
		} else {
			$(".headMsg1").css("opacity", 0);
		}	

		if(nSectionProgress >= 3 &&  nSectionProgress <= 5) { // 화면에 걸쳐지는 영역
			$(".headMsg2").css("position", "fixed");
			$(".headMsg2").css("bottom", "0");		
			
			if(nSectionProgress >= 3 && nSectionProgress < 4) {
				$(".headMsg2").css("opacity", nSectionProgress - 3);
			} else if(nSectionProgress >= 4){ 
				//$(".headMsg2").css("opacity", 5 - nSectionProgress);
				$(".headMsg2").css("opacity", 1);
			} else {
				$(".headMsg2").css("opacity", 0);
			}
		} else if(nSectionProgress > 5) {
			$(".headMsg2").css("opacity", 1);
			$(".headMsg2").appendTo(".sectionContainer:nth-child(6)");
			$(".headMsg2").css("position", "absolute");
			
		} else if(nSectionProgress < 3) {
			$(".headMsg2").css("opacity", 0);
		}	
		
		if(nSectionProgress >= 6 &&  nSectionProgress <= 8) { // 화면에 걸쳐지는 영역
			$(".shortRequestCard").css("position", "fixed");
			$(".shortRequestCard").css("bottom", "0");		
		} else if(nSectionProgress > 8) {
			$(".shortRequestCard").appendTo(".sectionContainer:nth-child(9)");
			$(".shortRequestCard").css("position", "absolute");
		}else if(nSectionProgress < 6) {
			$(".shortRequestCard").appendTo(".sectionContainer:nth-child(7)");
			$(".shortRequestCard").css("position", "absolute");
		}		
	});
	
	// fixed 기준으로 각 객체의 위치를 조정하자
</script>
</body>