<!--<div class="footer">
    <div class="container">
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 100%;
            }
        </style>

        <br />
        <a class="footer-info" href="mailto:chingoo@ciceron.me">chingoo@ciceron.me</a>
        <a class="footer-info" href="tel:+82264413838">+82-2-6441-3838</a>
        <br />
        <a class="footer-info" target="_blank" href="https://goo.gl/maps/TNRTkgdK8WB2" style="font-size: 0.8em;">1508, CKL Corporate Support Center, <br /><span style="font-size: 0.8em;">40, Cheonggyecheon-ro, Jung-gu, <br /><span style="font-size: 0.8em;">Seoul, Republic of Korea</span></span></a>
        <div class="clearfix"></div>
        <ul class="footer_menu">
            <li><a href="http://ciceron.me/privacy" target="_blank">개인정보 취급방침</a></li>
            <li><a href="http://ciceron.me/terms" target="_blank">이용약관</a></li>
            <li><a href="mailto:chingoo@ciceron.me" target="_blank">고객센터</a></li>
        </ul>
        <div class="footer_sns">
            <a href="http://blog.ciceron.me/" target="_blank"><img src="/img/blog.png" style="height:38px;"/></a>
            <a href="https://www.facebook.com/ciceronmate/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/ciceron_mate/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="footer_reserved">
        회사명 : 주식회사 씨세론 ㅣ 대표이사 : 윤영선 ㅣ 사업자등록번호 : 367-81-00182 ㅣ 통신판매업신고번호 : 제 2016-서울중구-0676 ㅣ<br /> 주소 : 서울특별시 중구 청계천로 40
        문화창조벤처단지 1508호 ㅣ 전화 : (+82)2-6441-3838 ㅣ <br />이메일 : chingoo@ciceron.me ㅣ 개인정보관리책임자 : 이준행 <br /><br />
        <em>COPYRIGHT © 2016 CICÉRON All rights reserved</em>

        <span class="footer-logo" style="letter-spacing: -7px;">
        <a href="/">
            <img src="/img/logo-white.png" style="height:20%; max-height: 50px;"/>
        </a>
    </span>
    </div>
</div>-->

<div class="footer">
    <div class="container">
        <ul class="footer_lnb">
            <li><a href="//ciceron.me/terms" target="_blank">이용약관</a></li>
            <span>&nbsp;|&nbsp;</span>
            <li><a href="//ciceron.me/privacy" target="_blank">개인정보취급방침</a></li>
            <span>&nbsp;|&nbsp;</span>
            <li><a href="//goo.gl/forms/cQMkN2gpYXOBtruz2" target="_blank">문의하기</a></li>
        </ul>
        <ul class="footer_info">
            <li>주식회사 씨세론</li>
            <span>&nbsp;|&nbsp;</span>
            <li>대표이사 : 윤영선</li>
            <span>&nbsp;|&nbsp;</span>
            <li>개인정보관리책임자 : 이준행</li>
            <span>&nbsp;|&nbsp;</span>
            <li>사업자등록번호 : 367-81-00182</li>
            <span>&nbsp;|&nbsp;</span>
            <li>통신판매업신고번호 : 제 2016-서울중구-0676</li>
            <span>&nbsp;|&nbsp;</span>
            <li>대표번호 : (+82)2-336-3830</li>
        </ul>
        <p>COPYRIGHT ⓒ CICÉRON All RIGHTS RESERVED.</p>
    </div>
</div>

<!--top btn-->
<div class="btn_top"><a href="#"><img src="img/btn_top.png" alt=""></a></div>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<!--<script src="/js/lib/jquery.ddslick.min.js"></script>
        <script src="/js/lib/i18n.js"></script>
        <script src="/js/lib/divhelper.js"></script>-->
<script src="/js/global.js"></script>
<script src="/js/<%= filename %>.js"></script>
</body>

</html>