<%- include('admin_header') %>

    <section id="userM_contents">
        <table class="table_board table_admin">
            <thead>
                <th></th>
                <th>Name</th>
                <th>E-Mail</th>
                <th class='text_center'>권한</th>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    
    <script type="text/javascript" rel="javascript" src="/js/admin_userM_modify.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/admin_userM_admin.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

    <%- include('admin_userM_modify') %>
<%- include('admin_footer') %>