<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>test</title>
    <link type="text/css" rel="stylesheet" href="css/admin_imgcrop_style.css" />
    <link  href="css/cropper.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/cropper.min.js"></script>
    <script src="https://use.fontawesome.com/77cff2c481.js"></script>
</head>
<body>
    <div id="top_back"></div>
    <div id="wrap"> 
        <header>
            <h1><img src="images/logo_CICERON-01.png" alt="ciceron_logo"/></h1>
            <div id="login">
                <div>
                    <label>ID : </label>
                    <input type="text" id="managerId" />
                </div>
                <div>
                    <label>PASS : </label>
                    <input type="text" id="managerPass" />
                </div>
            </div>
        </header>

        <div class="clearFix"></div>

        <nav id="menu">
            <ul>
                <li>
                    <a href="#">CICERON</a>
                    <ul>
                        <li><a href="#">의뢰물관리</a></li>
                        <li>
                            <a href="#">회원관리</a>
                            <ul>
                                <li><a href="#">권한관리</a></li>
                                <li><a href="#">번역가</a></li>
                                <li><a href="#">의뢰인</a></li>
                                <li><a href="#">관리자</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">KANGAROO</a>
                    <ul>
                        <li><a href="#">태그관리</a></li>
                        <li><a href="#">사진관리</a></li>
                    </ul>
                </li>
                <li><a href="#">번역 공구</a></li>
                <li><a href="#">번역비환급 관리</a></li>
                <li>
                    <a href="#">DB 관리</a>
                    <ul>
                        <li><a href="#">문장DB입력</a></li>
                        <li><a href="#">문장DB가져오기</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="clearFix"></div> <!--Header 끝-->

        <section id="contents">
            <h2 class="header-title">
                이미지 Crop
            </h2>
            <div class="clearFix"></div>

            <div class="container">

                <div class="filebox">
                    <input type="file" id="fileUpload" accept="image/*" style="display: none;" multiple onchange="fileInfo(this)" /><br>
                    <label for="fileUpload">Search files</label>

                    <div id="MyCheck">
                        <input type="checkbox" value="all" id="allCheck"/ >
                        <button id="stayImg">Stay</button> <button id="delImg">Delete</button>
                    </div>

                    <div class="clearFix"></div>
                    
                    <div id="img_box"></div>
<!--
                    <div class="selBox">
                        <div class="stayImg">Stay</div>
                        <div class="delImg">Delete</div>
                    </div>-->
                </div>

                
              <div class="clearFix"></div>

                <div id="infoBtn">
                    <button id="imgInfo">IMG 정보 보내기</button>
                </div>

            </div>
        </section>
        
        <div class="clearFix"></div> <!--footer 시작-->

        
        
    </div>
    
    <div id="bottom_back">

        <footer>
                <address>
                    <div>
                        <span class="">E-mail:</span>
                        <span class=""><a href="mailto:chingoo@ciceron.me">chingoo@ciceron.me</a></span>
                        <span class="">Tel:</span>
                        <span class=""><a href="tel:+82-2-6441-3838">+82-2-6441-3838</a></span>
                    </div>
                    <div>
                        <span class="">Address:</span>
                        <span class="">1508, CLK Corporate Support Center</span>
                        <span class="">40, Cheonggyecheon-ro, Jung-gu, Seolu, Republic of Korea</span><br>
                        <span class="">서울 특별시 중구 청계천로 40 CKL기업지원센터 1508호 주식 회사 씨세론</span>
                    </div>
                </address>
        </footer>
    </div>

    <script type="text/javascript" rel="javascript" src="js/admin_imgcrop.js"></script>
</body>
</html>