<%- include('admin_header') %>

    <section id="export_contents" class="contents">
        <div class="container">
            <div class="setting">
                <form onsubmit="return false">
                    <div id="setting-lang">			
                        <div class="setting-select1">
                            <span>원문언어 : </span>
                            <select id="lang1" name="original_language_id">
                                <option value="" >원문언어선택</option>
                                <option value="1">한국어</option>
                                <option value="2">영어(미국) / 미국</option>
                                <option value="3">영어(영국) / 영국</option>
                                <option value="4">북경어(중국) / 중국본토</option>
                                <option value="5">광동어(중국) / 중국(홍콩, 마카오)</option>
                                <option value="6">태국어</option>
                                <option value="7">대만어(중국)</option>
                                <option value="8">일본어</option>
                                <option value="9">스페인어</option>
                                <option value="10">포르투갈어</option>
                                <option value="11">베트남어</option>
                                <option value="12">독일어</option>
                                <option value="13">프랑스어</option>
                            </select><br><br>
                        </div>

                        <div class="setting-select2">
                            <span>타겟언어 : </span>
                            <select id="lang2" name="target_language_id">
                                <option value="">타겟언어선택</option>
                                <option value="2">영어(미국) / 미국</option>
                                <option value="1">한국어</option>
                                <option value="3">영어(영국) / 영국</option>
                                <option value="4">북경어(중국) / 중국본토</option>
                                <option value="5">광동어(중국) / 중국(홍콩, 마카오)</option>
                                <option value="6">태국어</option>
                                <option value="7">대만어(중국)</option>
                                <option value="8">일본어</option>
                                <option value="9">스페인어</option>
                                <option value="10">포르투갈어</option>
                                <option value="11">베트남어</option>
                                <option value="12">독일어</option>
                                <option value="13">프랑스어</option>
                            </select><br><br>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="major">
                        <span class="setting-title">분야 : </span>
                        <select id="kind_Maj" name="subject_id">
                            <option value="">분야선택</option>
                            <option value="0">예술</option>
                            <option value="1">스포츠</option>
                            <option value="2">과학</option>
                            <option value="3">건강</option>
                            <option value="4">경제</option>
                            <option value="5">음악</option>
                            <option value="6">문학</option>
                            <option value="7">정치</option>
                            <option value="8">비즈니스</option>
                            <option value="9">종교</option>
                            <option value="10">쇼핑</option>
                            <option value="11">패션</option>
                        </select>
                    </div>
                    <div class="kind_D">
                        <span class="setting-title">포멧 : </span>
                        <select id="kind_Doc" name="format_id">
                            <option value="">포멧선택</option>
                            <option value="0">전자우편</option>
                            <option value="1">편지</option>
                            <option value="2">에세이</option>
                            <option value="3">광고</option>
                            <option value="4">초대장</option>
                            <option value="5">안부</option>
                            <option value="6">출판물</option>
                            <option value="7">대본</option>
                            <option value="8">리서치</option>
                            <option value="9">레포트</option>
                            <option value="10">메뉴</option>
                            <option value="11">지원서</option>
                            <option value="12">설명서</option>
                            <option value="13">SNS</option>
                            <option value="14">기타</option>
                        </select>
                    </div>
                    <div class="tone">
                        <span class="setting-title">어조 : </span>
                        <select id="kind_tone" name="tone_id">
                            <option value="">어조선택</option>
                            <option value="0">Resentful</option>
                            <option value="1">Urgent</option>
                            <option value="2">Neutral</option>
                            <option value="3">Respectable</option>
                            <option value="4">Appealing</option>
                            <option value="5">Critical</option>
                            <option value="6">Apologitic</option>
                            <option value="7">Frank</option>
                            <option value="8">Emotional</option>
                            <option value="9">Grateful</option>
                        </select>
                    </div>
                    <div class="customer">
                        <span class="setting-title">고객 : </span>
                        <input id="cName" type="text">
                    </div>
                    <button type="button" id="btnSelect">검색</button>

                    <div class="clearfix"></div>
                    <br>

                    <div class="clearfix"></div>

                    <div class="Doc_Maj">
                        <span class="kind_box">
                            원문언어 : <span>&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            |&nbsp;&nbsp;타겟언어 : <span>&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            |&nbsp;&nbsp;분야 : <span>&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            |&nbsp;&nbsp;포멧 : <span>&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            |&nbsp;&nbsp;어조 : <span>&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            |&nbsp;&nbsp;고객 : <span></span>
                        </span>
                    </div>

                    <div id="result">

                        <div id="data_rst"> 
                            <p> </p>	
                        </div>						
                    </div>
                    <button type="button" id="btnExport">Export</button>

                </form>
            </div>
        </div>
    </section>

    <script type="text/javascript" rel="javascript" src="/js/admin_DBexport.js"></script>

<%- include('admin_footer') %>