<%- include('admin_header') %>

<section id="projectG_resource_put_contents">
    <div id="resource_modify">
        <div>
            <span class="rectangle_box"></span>
            <span>Resource title :</span>
            <input type="text" name="theme"/>
        </div>
        <!--<div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:11px">번역</span>가 :
            <input type="text" name="translator" />
        </div>-->
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:45px">설</span>명 :
            <input type="text" name="description"/>
        </div>
        <div>
            <span class="rectangle_box"></span>
            <span style="letter-spacing:45px">언</span>어 :
            <select name="target_language_id">
                <option>선택</option>
                <option value="1">한국어</option>
                <option value="2">영어(미국)/미국</option>
                <option value="3">영어(영국)/영국</option>
                <option value="4">북경어(중국)/중국본토</option>
                <option value="5">광동어(중국)/중국(홍콩, 마카오)</option>
                <option value="6">태국어</option>
                <option value="7">대만어(중국)</option>
                <option value="8">일본어</option>
                <option value="9">스페인어</option>
                <option value="10">포르투갈어</option>
                <option value="11">베트남어</option>
                <option value="12">독일어</option>
                <option value="13">프랑스어</option>
            </select>
            <span class="rectangle_box" style="margin-left:27px"></span>
            <span style="letter-spacing:11px">번역</span>톤 :
            <select name="tone_id">
                <option>선택</option>
                <option value="1">원망</option>
                <option value="2">긴급</option>
                <option value="3">애매한</option>
                <option value="4">존경</option>
                <option value="5">애원</option>
                <option value="6">비판</option>
                <option value="7">변명</option>
                <option value="8">솔직</option>
                <option value="9">감정적인</option>
                <option value="10">기분좋은</option>
            </select>
        </div>
        <div>
            <span class="rectangle_box"></span>
            <span>공유레벨 :</span>
            <select name="read_permission_level">
                <option value="1">무료</option>
                <option  value="2">유료</option>
            </select>
            <span class="rectangle_box" style="margin-left:27px"></span>
            <span style="letter-spacing:3px">가격</span>(원) :
            <input type="number" name="price" class="text_right"/>
        </div>
        <!--/ 원문파일여부 :-->
        <!--<input type="checkbox" name="is_original"/><br />-->
        <div class="button_line">
            <button class="contents_update">update</button>
        </div>
        <div id="file_modify">
            <span class="rectangle_box"></span>
            <span>첨부파일 :</span>
            <label for="upload_file">File</label>
            <input type="file" id="upload_file" class="upload_file" multiple accept="image/*" />
            <span class="delete_box">
                <span class="file_delete">
                    <i id="delete_icon" class="fa fa-trash file_delete" aria-hidden="true"></i>
                </span>
                <span class="file_delete">삭제</span>
            </span>
        </div>
        <div class="clearfix"></div>
        <table class="fileTable">
            <thead>
                <th>파일명</th>
                <th>용량</th>
                <th class="text_center">권한</th>
                <th class="text_center">수정</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>
<script type="text/javascript" rel="javascript" src="/js/admin_projectG_resource_put.js"></script>
<script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

<%- include('admin_footer') %>