<%- include('admin_header') %>

    <section id="projectG_modify_contents">
        <div class="project_create_contents">
            <span class="rectangle_box"></span>
            <span class="project_contents">원문언어 : </span>
            <select name="original_lang">
                <option>선택</option>
                <option value="1">한국어</option>
                <option value="2">영어(미국)/미국</option>
                <option value="3">영어(영국)/영국</option>
                <option value="4">북경어(중국)/중국본토</option>
                <option value="5">광동어(중국)/중국(홍콩, 마카오)</option>
                <option value="6">태국어</option>
                <option value="7">대만어(중국)</option>
                <option value="8">일본어</option>
                <option value="9">스페인어</option>
                <option value="10">포르투갈어</option>
                <option value="11">베트남어</option>
                <option value="12">독일어</option>
                <option value="13">프랑스어</option>
            </select>
            <span class="rectangle_box" style="margin-left:20px;"></span>
            <span class="project_contents" style="letter-spacing:34px">형</span>식 :
            <select name="format">
                <option>선택</option>
                <option value="0">전자우편</option>
                <option value="1">편지</option>
                <option value="2">에세이</option>
                <option value="3">광고</option>
                <option value="4">초대장</option>
                <option value="5">안부</option>
                <option value="6">출판물</option>
                <option value="7">대본</option>
                <option value="8">리서치</option>
                <option value="9">레포트</option>
                <option value="10">메뉴</option>
                <option value="11">지원서</option>
                <option value="12">설명서</option>
                <option value="13">SNS</option>
                <option value="14">기타</option>
            </select>
        </div>
        <div class="project_create_contents">
            <span class="rectangle_box"></span>
            <span class="project_contents" style="letter-spacing:34px">분</span>야 :
            <select name="subject">
                <option>선택</option>
                <option value="0">예술</option>
                <option value="1">스포츠</option>
                <option value="2">과학</option>
                <option value="3">건강</option>
                <option value="4">경제</option>
                <option value="5">음악</option>
                <option value="6">문학</option>
                <option value="7">정치</option>
                <option value="8">비즈니스</option>
                <option value="9">종교</option>
                <option value="10">쇼핑</option>
                <option value="11">패션</option>
            </select>
            <span class="rectangle_box" style="margin-left:20px;"></span>
            <span class="project_contents" style="letter-spacing:9px">원작</span>자 :
            <input type="text" id="author"/>
        </div>
        <div class="project_create_contents">
            <span class="rectangle_box"></span>
            <span class="project_contents" style="letter-spacing:34px">커</span>버 :
            <input type="text" class="cover"/>
            <label for="cover">file</label>
            <input type="file" id="cover"/>
        </div>
        <!--<div class="project_create_contents">
            <span class="project_contents">설명 : </span>
            <input type="text" id="description"/>
        </div>-->
        <div class="button_line">
            <button class="projectG_modify">update</button>
        </div>
    </section>
    <script type="text/javascript" rel="javascript" src="/js/admin_projectG_modify.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>
    
<%- include('admin_footer') %>