<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">-->
        <title>CICERON admin</title>
        <link type="text/css" rel="stylesheet" href="/css/admin_main.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link  href="/css/cropper.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" rel="javascript" src="/js/cropper.min.js"></script>
        <script src="/js/sha256.jquery.js"></script>
        <script src="https://use.fontawesome.com/77cff2c481.js"></script>
        <script type="text/javascript" rel="javascript" src="/js/admin_header.js"></script>
        <script type="text/javascript" rel="javascript" src="/js/paging.js"></script>
    </head>
    <body>
        <div id="top_back"></div>
        <div id="menu_back"></div>
        <div id="wrap"> 
            <header>
                <h1>
                    <a href="/admin/main">
                        <img src="/img/logo_CICERON-01.png" alt="ciceron_logo"/>
                    </a>
                </h1>
                <div id="adminLogout">
                    <form id="loginBtn" action="/admin/login">
                        <button type="submit">Login</button>
                    </form>
                    
                    <!--<form id="login">
                        <div>
                            <label>ID : </label>
                            <input type="text" id="adminId" />
                        </div>
                        <div>
                            <label>PASS : </label>
                            <input type="password" id="adminPass" />
                        </div>
                        <div>
                            <button id="login">로그인</button>
                            <span>암호를 잊어버리셨나요?</span>
                        </div>
                    </form>-->
                </div>
                <div class="myPic mainPic"></div>
                <div id="adminLogin">
                    <div id="loginInfo">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        <div class="myPic"></div>
                        <span id="user_e-mail"></span>    
                    </div>
                    <span id="logout">로그아웃</span>
                </div>
            </header>
            <nav id="menu">
                <ul>
                    <li>
                        <a href="/admin/commis" value="m1" class="menu-commis menu-userM menu-admin menu-translator menu-requester">CICERON</a>
                        <ul>
                            <li><a href="/admin/commis" value="m1" class="menu-commis">의뢰물관리</a></li>
                            <li>
                                <a href="/admin/userM" value="m1" class="menu-userM menu-admin menu-translator menu-requester">회원관리</a>
                                <ul>
                                    <li><a href="/admin/userM" value="m1" class="menu-userM">권한관리</a></li>
                                    <li><a href="/admin/userM/requester" value="m1" class="menu-requester">의뢰인</a></li>
                                    <li><a href="/admin/userM/translator" value="m1" class="menu-translator">번역가</a></li>
                                    <li><a href="/admin/userM/admin" value="m1" class="menu-admin">관리자</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/tagData" value="m2" class="menu-tagData menu-photoData">KANGAROO</a>
                        <ul>
                            <li><a href="/admin/tagData" value="m2" class="menu-tagData">태그관리</a></li>
                            <li><a href="/admin/photoData" value="m2" class="menu-photoData">사진관리</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/projectG" value="m3" class="menu-projectG">번역 공구</a></li>
                    <li><a href="#" value="m4" class="yet">번역비환급 관리</a></li>
                    <li>
                        <a href="/admin/DBsubmit" value="m5" class="menu-DBsubmit menu-DBexport">DB 관리</a>
                        <ul>
                            <li><a href="/admin/DBsubmit" value="m5" class="menu-DBsubmit">문장DB입력</a></li>
                            <li><a href="/admin/DBexport" value="m5" class="menu-DBexport">문장DB가져오기</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="clearfix"></div>
            <div class="sub_title">
                <div class="menuNavi"></div>
                <div class="clearfix"></div>
                <div class="menuView">
                    <span class="subMenuView"></span>
                </div>
            </div>
            <div class="clearfix"></div>