<%- include('admin_header') %>

    <section id="commis_contents">
        <table class="table_board">
            <thead>
                <th></th>
                <th>Name</th>
                <th>E-mail</th>
                <th>종류</th>
                <th class='text_center'>언어</th>
                <th class='text_center'>요청일</th>
                <th>Order<br />Number</th>
                <th class='text_center'>상태</th>
            </thead>
            <tbody></tbody>
        </table>
        <div class="holder"></div>
    </section>
    
    <script type="text/javascript" rel="javascript" src="/js/admin_commis.js"></script>
    <script type="text/javascript" rel="javascript" src="/js/ajaxCall.js"></script>

<%- include('admin_footer') %>