<%- include('admin_header') %>

    <section id="photo_contents">
        <div id="photoBox">
            <div id="tagView">
                <ul></ul>
                <p id="loading">
                    <img src="../img/loader.gif" alt="Loading..." />
                </p>
            </div>
        </div>
        <div id='photo_view'>
            <!-- loading gif -->
            <p id="page_loading">
                <img src="../img/loader2.gif" alt="Loading..." />
            </p>
            <div id='MyCheck'>
                <input type='checkbox' value='all' id='allCheck' />
                <button id='stayImg' type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Add</span></button>
                <button id='delImg' type="button"><i class="fa fa-minus-circle" aria-hidden="true"></i><span>Delete</span></button>
            </div>
            <div class="tagName">Loading...</div>
            <div class="clearfix"></div>
            <ul id="tagImg"></ul>
            <div class='pager'>
                <span class='prev disabled'>
                    <i class='fa fa-angle-double-left' aria-hidden='true'></i>
                </span>
                <span class='page-number'>1</span>
                <span class='next'>
                    <i class='fa fa-angle-double-right' aria-hidden='true'></i>
                </span>
                <span class='pageSum'>/ 1</span>
            </div>
            <div class="clearfix"></div>

        </div>
    </section>

    <script type="text/javascript" rel="javascript" src="/js/photoData.js"></script>

    <!-- crop 팝업창 -->
    <div id="pop_crop" class="popup">
        <div id="crop1" class="popup_box">
            <i class="fa fa-times" aria-hidden="true" id="close"></i>
            <div id="crop_pic" style="width:400px; height:auto;">
                <img style="width:100%;" src="" alt="img" />
            </div>
            <div id="cropBtn">
                <button>Crop</button>
            </div>
        </div>
    </div>

    <%- include('admin_footer') %>