<%- include('admin_header') %>

    <section id="language_submit_contents" class="contents">
        <div class="container">
            <div class="setting">
                <form onsubmit="return false">
                    <div class="kind_D">
                        <span class="setting-title">포멧 : </span>
                        <select id="kind_Doc" name="kind_Doc">
                                <option value="0">전자우편</option>
                                <option value="1">편지</option>
                                <option value="2">에세이</option>
                                <option value="3">광고</option>
                                <option value="4">초대장</option>
                                <option value="5">안부</option>
                                <option value="6">출판물</option>
                                <option value="7">대본</option>
                                <option value="8">리서치</option>
                                <option value="9">레포트</option>
                                <option value="10">메뉴</option>
                                <option value="11">지원서</option>
                                <option value="12">설명서</option>
                                <option value="13">SNS</option>
                                <option value="14">기타</option>
                        </select>
                    </div>
                    <div class="major">
                        <span class="setting-title">분야 : </span>
                        <select id="kind_Maj" name="kind_Maj">
                            <option value="0">예술</option>
                            <option value="1">스포츠</option>
                            <option value="2">과학</option>
                            <option value="3">건강</option>
                            <option value="4">경제</option>
                            <option value="5">음악</option>
                            <option value="6">문학</option>
                            <option value="7">정치</option>
                            <option value="8">비즈니스</option>
                            <option value="9">종교</option>
                            <option value="10">쇼핑</option>
                            <option value="11">패션</option>
                        </select>
                    </div>
                    <div class="tone">
                        <span class="setting-title">어조 : </span>
                        <select id="kind_tone" name="kind_tone">
                            <option value="0">Resentful</option>
                            <option value="1">Urgent</option>
                            <option value="2">Neutral</option>
                            <option value="3">Respectable</option>
                            <option value="4">Appealing</option>
                            <option value="5">Critical</option>
                            <option value="6">Apologitic</option>
                            <option value="7">Frank</option>
                            <option value="8">Emotional</option>
                            <option value="9">Grateful</option>
                        </select>
                    </div>
                    <div class="customer">
                        <span class="setting-title">고객 : </span>
                        <input id="cName" type="text">
                    </div>

                    <div class="clearfix"></div>
                    <br>
                    
                    <div id="setting-lang">
                        <!--<h4 class="setting-title">언어 선택</h4>			-->
                        <div class="setting-select1">
                            <span>Original: </span>
                            <select id="lang1" name="lang1">
                                <option value="1">한국어</option>
                                <option value="2">영어(미국) / 미국</option>
                                <option value="3">영어(영국) / 영국</option>
                                <option value="4">북경어(중국) / 중국본토</option>
                                <option value="5">광동어(중국) / 중국(홍콩, 마카오)</option>
                                <option value="6">태국어</option>
                                <option value="7">대만어(중국)</option>
                                <option value="8">일본어</option>
                                <option value="9">스페인어</option>
                                <option value="10">포르투갈어</option>
                                <option value="11">베트남어</option>
                                <option value="12">독일어</option>
                                <option value="13">프랑스어</option>
                            </select><br><br>
                            <textarea id="userTxt1"></textarea>
                        </div>

                        <div class="setting-select2">
                            <span>Target: </span>
                            <select id="lang2" name="lang2">
                                <option value="2">영어(미국) / 미국</option>
                                <option value="1">한국어</option>
                                <option value="3">영어(영국) / 영국</option>
                                <option value="4">북경어(중국) / 중국본토</option>
                                <option value="5">광동어(중국) / 중국(홍콩, 마카오)</option>
                                <option value="6">태국어</option>
                                <option value="7">대만어(중국)</option>
                                <option value="8">일본어</option>
                                <option value="9">스페인어</option>
                                <option value="10">포르투갈어</option>
                                <option value="11">베트남어</option>
                                <option value="12">독일어</option>
                                <option value="13">프랑스어</option>
                            </select><br><br>
                            <textarea id="userTxt2"></textarea>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <button id="btnParse" type="submit">PARSE</button>

                    <div class="Doc_Maj">
                        <span class="kind_box">
                            포맷 : <span>&nbsp;&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            /&nbsp;&nbsp;&nbsp;분야 : <span>&nbsp;&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            /&nbsp;&nbsp;&nbsp;어조 : <span>&nbsp;&nbsp;&nbsp;</span>
                        </span>
                        <span class="kind_box">
                            /&nbsp;&nbsp;&nbsp;고객 : <span></span>
                        </span>
                    </div>

                    <div id="lang_title">
                        <div class="lang_box">
                            <span>언어1</span>
                        </div>
                        <div class="lang_box">
                            <span>언어2</span>
                        </div>
                    </div>

                    <div id="result">

                        <div class="pairing_box">
                            <div class="text_box">
                                <span>표시1</span>
                            </div>
                            <div class="text_box">
                                <span>표시2</span>
                            </div>
                        </div>

                        <div class="blank1"> 
                            <p>문단으로 나누시려면 클릭하세요.</p>	
                        </div>						
                    </div>

                    <button id="btnSubmit" type="submit">SUBMIT</button>

                </form>
            </div>
        </div>
    </section>

    <script type="text/javascript" rel="javascript" src="/js/admin_DBsubmit.js"></script>

<%- include('admin_footer') %>