<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>내픽뉴스</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="<%- url %>">
	<meta name="twitter:title" content="<%- param.file.name %>">
	<meta name="twitter:description" content="<%- param.file.description %>">
	<meta name="twitter:image" content="<%- param.file.cover %>">

	<meta property="og:title" content="<%- param.file.name %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%- url %>" />
	<meta property="og:description" content="<%- param.file.description %>" />
	<meta property="og:image" content="<%- param.file.cover %>" />

	<link rel="stylesheet" href="/css/nepick1219.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

	<script>
		var secure_url = "<%- global.secure_url %>";
		var project_id = "<%- param.file.project_id %>";
		var language_id = "<%- param.file.language_id %>";
		var previewFileList = <%- JSON.stringify(param.file.previewFileList) %>;
		// var date = "<%- param.file.date %>";
		// var time = "<%- param.file.time %>";
		var date = new Date().toLocaleDateString();
		var time = new Date().toLocaleTimeString();
	</script>

	<script>
		$(function () {
			var pos = $(".hide").offset().top;
			$(window).on('resize', function () {
				pos = $(".hide").offset().top;
			})

			$(window).scroll(function () {
				var sct = $(window).scrollTop();
				if (sct >= pos) {
					$(".fix").addClass("visible");
				}
				if (sct < pos) {
					$(".fix").removeClass("visible");
				}
			});
		});
	</script>
</head>

<body>
	<div class="wrap">
		<header>
			<h1 class="ani">NEPICK NEWS</h1>
			<ul class="linkPage">
				<li>
					<p>share</p>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/link.png" alt="링크주소">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/blog.png" alt="블로그">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/face.png" alt="얼굴책">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/twit.png" alt="짹">
					</a>
				</li>
			</ul>
			<div class="back"></div>
		</header>
		<div class="hide"></div>
		<nav class="fix">
			<p class="left">NEPICK NEWS</p>
			<ul class="right">
				<li>
					<a href="#">
						<img src="/img/nepick/link.png" alt="링크주소">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/blog.png" alt="블로그">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/face.png" alt="얼굴책">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/nepick/twit.png" alt="짹">
					</a>
				</li>
			</ul>
		</nav>
		<div class="time">
			<div class="one">
				<p class="day"></p>
			</div>
			<p class="start">번역요청시간:
				<%- new Date().toLocaleDateString() %>
				<%- new Date().toLocaleTimeString() %>
			</p>
			<!-- <p class="end">번역시간: 2017.12.18</p> -->
		</div>
		<hr>
		<div class="contain">
			<h2>
				<%- param.file.name %>
			</h2>
			<p class="subT">
				<%- param.file.description %>
			</p>
			<div class="cover">
				<img src="<%- param.file.cover %>" alt="기사이미지">
				<p>위 사진은 기사내용과 상관없는 이미지 입니다.</p>
			</div>
			<div class="ccl">
				<!-- <p>출처 &#58;
					<a href="http://world.huanqiu.com/exclusive/2017-12/11454846.html">http://world.huanqiu.com/exclusive/2017-12/11454846.html</a>
				</p> -->
				<p>번역 &#58; 씨세론 팀
					<a href="mailto:chingoo@ciceron.me">(chingoo@ciceron.me)</a>
				</p>
			</div>
			<div class="post content-preview">

			</div>
		</div>
		<footer>
			<p class="con">이 콘텐츠는 무료로 제공됩니다.</p>
			<p class="copy">
				<a href="http://ciceron.me/">&copy; 2017 CICÉRON Inc.</a> &nbsp;
				<a href="#">이용약관</a> &nbsp;
				<a href="#">개인정보취급방침</a> &nbsp;
				<a href="#">의견</a>
			</p>
		</footer>
	</div>

	<script>
		var getFileType = function getFileType(file) {
			return ['png', 'jpg', 'jpeg', 'gif', 'bmp'].indexOf(file.file_url.split(".").pop()) > -1 ? 'image' : 'html';
		};
		var renderImage = function renderImage(file) {
			return '<img src="/file/' + project_id + '/lang/' + language_id + '/preview/' + file.id + '">';
		};
		var renderHtml = function renderHtml(file) {
			$.ajax({
				url: '/file/' + project_id + '/lang/' + language_id + '/preview/' + file.id,
				processData: false,
				contentType: false,
				dataType: "html",
				cache: false,
				type: 'GET'
			}).done(function (data) {
				data = data.indexOf("<") > -1 ? data : data.split("\n").join("<br />");
				$('#section' + file.id).html(data);
			}).fail(function (xhr, ajaxOptions, thrownError) {
				console.log('section' + file.id + ' error');
			});
			return '<div id="section' + file.id + '" class="content-preview-section"></div>';
		};

		$(".content-preview").html(previewFileList.map(function (file) {
			var val = getFileType(file) == 'image' ? renderImage(file) : renderHtml(file);
			return val;
		}).join(''));
	</script>
</body>

</html>