@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    /*body *{
        overflow: hidden;
    }*/
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'KBIZ', sans-serif;
        overflow-x: hidden; 
        
    }

    .header{
        width: 100%;
        height: 100px;
        padding: 30px 0px 10px 0px;
        position: absolute;
        left: 0px;
        top: 0px;

        /*background-color: rgba(255, 255, 255, 1);*/
        /*opacity: 0.8;
        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 );*/
    }

    .header .header-left{
        width: auto;
        height: 100%;
        float: left;
    }

    .header .header-left .header-left-logo{
        width: auto;
        height: 100%;
    }

    .header .header-right{
        width: auto;
        height: 100%;
        float: right;
    }


    .header .header-right .header-right-a{
        width: auto;
        height: 100%;
        line-height: 60px;
        display: inline-block;
        /*color: #231f20;*/
        color: #FFFFFF;
        text-decoration: none;
        /*padding: 0px 20px;*/
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .header .header-right .header-right-a.selected, .header .header-right .header-right-a:hover{
        /*color: #91c73d;*/
        opacity: 0.6;
    }

    .header .header-right .header-right-a::after{
        content: "•";
        font-size: 14px;
        padding: 0px 15px;
        margin-top: -53px;
        display: inline-block;
        color: #d3d3d3;
        font-family: sans-serif;
    }

    .header .header-right .header-right-a:last-child::after{
        content: "";
    }

    .wrapper{
        /*width: 100%;
        height: 100%;
        position: relative;*/

    }

    .landing-intro{
        width: 100%;
        /*height: 80%;*/
        height: auto;
        /*background-image: url('/img/main.jpg');
        background-size: cover;
        background-position: center;*/
        background: #0081c2;
        background: -moz-linear-gradient(top, #0081c2 0%, #00b3e6 100%);
        background: -webkit-linear-gradient(top, #0081c2 0%,#00b3e6 100%);
        background: linear-gradient(to bottom, #0081c2 0%,#00b3e6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0081c2', endColorstr='#00b3e6',GradientType=0 );
        display: block;
        padding-top: 80px;
    }

    .landing-intro .landing-intro-content{
        width: 100%;
        height: auto;
        position: relative;
        padding: 120px 0px 60px 0px;


    }

    .landing-intro .landing-intro-content .landing-intro-left{
        width: 50%;
        height: auto;
        color: #FFFFFF;
        font-size: 36px;
        float: left;
        padding: 10px;
        text-shadow: -1px 0 #7b7c80, 0 1px #7b7c80, 1px 0 #7b7c80, 0 -1px #7b7c80;
    }

    .landing-intro .landing-intro-content .landing-intro-left .landing-intro-left-button{
        width: auto;
        height: auto;
        display: block;
        margin: 20px 10px;
        background-color: #231f20;
        background-color: rgba(35, 31, 32, 0.8);
        color: #FFFFFF;
        border: none;
        border-radius: 50px;
        padding: 30px 50px;
        font-size: 20px;
        cursor: pointer;
        
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .landing-intro .landing-intro-content .landing-intro-left .landing-intro-left-button:hover{
        /*border-radius: 25px;*/
        background-color: #231f20;
        background-color: rgba(35, 31, 32, 1);
    }


    .landing-intro .landing-intro-content .landing-intro-right{
        width: 50%;
        height: auto;
        float: left;
        padding: 10px;
    }

    .landing-intro .landing-intro-content .landing-intro-right form{
        width: 100%;
        height: auto;
        background-color: rgba(0, 127, 197, 0.6);
        padding: 40px 30px;
        border: none;
        border-radius: 20px;
    }    

    .landing-intro .landing-intro-content .landing-intro-right form .landing-intro-right-title{
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .landing-intro .landing-intro-content .landing-intro-right form .landing-intro-right-context{
        color: white;
        font-size: 15px;
        font-weight: 100;
        margin: 5px 0px 15px 0px;
        display: block;
    }
    .landing-intro .landing-intro-content .landing-intro-right form .landing-intro-right-logos{
        width: 80%;
        height: auto;
        text-align: center;
        position: relative;
        margin-left: 10%;
        margin-top: 20px;
    }

    .landing-intro .landing-intro-content .landing-intro-right form .landing-intro-right-logos img{
        display: inline-block;
        width: 100%;

        /*float: center;*/
    }

    .landing-intro .landing-intro-content .landing-intro-navigate{
        width: 100%;
        height: 120px;
        position: relative;
        display: block;
        clear: both;
        text-align: center;
        padding-top: 60px;
    }

    
    .landing-intro .landing-intro-content .landing-intro-navigate img{
        width: auto;
        height: 100%;
        cursor: pointer;

    }

    

    .docs{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 500;
        left: 0px;
        top: 0px;
        background-color: #d3d3d3;
    }

    .docs .docs-top{
        width: 100%;
        height: 120px;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        text-align: center;
        padding: 20px 0px;
        z-index: 501;
    }

    .docs .docs-top .docs-top-logo{
        width: auto;
        height: 100%;
        /*float: center;*/
    }

    .docs .docs-top .docs-top-close{
        width: auto;
        height: auto;
        float: right;
        cursor: pointer;
        /*margin-top: 20px;*/
    }

    .docs .docs-top .docs-top-close img{
        width: auto;
        height: 30px;
    }

    .docs .docs-content{
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 120px;
        padding-bottom: 80px;
        left: 0px;
        top: 0px;
    }

    .docs .docs-content .container{
        overflow: visible;
    }

    .docs .docs-content .docs-content-inside{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #FFFFFF;
        border: 2px solid #7b7c80;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #7b7c80;
        padding: 15px;
    }

    .docs .docs-content .docs-content-inside .docs-content-inside-html{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        
    }

    /* Let's get this party started */
    .docs *::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    .docs *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    .docs *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        /*background: transparent; */
        background: #FFFFFF; 
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .docs .docs-content .docs-content-inside .docs-content-inside-html:hover::-webkit-scrollbar-thumb{
        background: #7b7c80; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    .docs *::-webkit-scrollbar-thumb:window-inactive {
        /*background: transparent;*/
        background: #FFFFFF;
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .docs .docs-bottom{
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        line-height: 80px;
        color: #7b7c80;
        text-align: center;
        font-size: 15px;
        display: block;
    }


    .footer{
        width: 100%;
        height: auto;
        min-height: 300px;
        background-color: #FFFFFF;
        padding: 10px 0px;
    }

    .footer .div4{
        padding: 10px;
        padding-left: 0px;
    }

    .footer .footer-logo{
        width: auto;
        max-height: 60px;
        max-width: 100%;
    }

    .footer .footer-menu .footer-menu-title{
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        color: #231f20;
        
        margin-bottom: 15px;
        display: block;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        text-decoration: none;
        color: #7b7c80;

        margin-bottom: 10px;
        display: block;
    }

    input[type="text"]{
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 6px 11px;
        color: #231f20;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        /*margin-top: 1px;
        margin-bottom: 1px;*/
    }

    .buttons-full{
        width: auto;
        height: auto;
        border: none;
        background-color: #00b3e6;
        padding: 6px 11px;
        margin: 0px 3px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons-full:hover{
        opacity: 0.8;

    }

    .buttons-full:active{
        opacity: 0.6;
    }

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: 100%;
        overflow: hidden;
        position:  relative;
    }

    pre{
        font-family: 'KBIZ', sans-serif;
        
    }
    
}

@media screen and (max-width: 1024px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }
}

@media screen and (max-width: 640px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 50%;

    }
}

@media screen and (max-width: 480px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 100%;
    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }
}
