@font-face {
	font-family: 'KBIZ';
	src: url('/fonts/KBIZ.woff');
}

@media screen{
	*{
        margin: 0px;
        outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
/*        
        -webkit-transition: font-size 0s none;
        -moz-transition: font-size 0s none;
        transition: font-size 0s none;*/
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }




    
    .step-left{
        opacity: 0;
        position: absolute;
        left: 50%;

        /*-moz-transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        transform: translateX(-75%);*/

        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        
    }

    .step-right{
        opacity: 0;
        position: absolute;
        left: 50%;

        /*-moz-transform: translateX(75%);
        -webkit-transform: translateX(75%);
        -o-transform: translateX(75%);
        -ms-transform: translateX(75%);
        transform: translateX(75%);*/

        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .step-now{
        position: relative;

        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;

        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .popup{
        width: 100%;
        height: 100%;
        position: fixed;
        display: block;
        z-index: 700;
        /*-webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;*/
        
        -webkit-animation: fadein 0.25s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.25s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadein 0.25s ease-in-out; /* Internet Explorer */
        -o-animation: fadein 0.25s ease-in-out; /* Opera < 12.1 */
        animation: fadein 0.25s ease-in-out;
        background-color: rgba(0, 0, 0, 0.3);
        
    }

    .popup + .popup{

        /*background-color: rgba(0, 0, 0, 0.3);*/
        background-color: transparent;
    }

    .popup>div{
        z-index: 701;
        background-color: #FFFFFF;
        /*border: 2px solid #7b7c80;*/
        /*border-radius: 10px;*/
        box-shadow: 1px 1px 5px #7b7c80;
        margin-top: 120px;
        /*width: auto;*/
        height: auto;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;

        /*position: absolute;
        left: 0;
        top: 120px;*/

        -webkit-animation: toptobottom 0.5s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: toptobottom 0.5s ease-in-out; /* Firefox < 16 */
        -ms-animation: toptobottom 0.5s ease-in-out; /* Internet Explorer */
        -o-animation: toptobottom 0.5s ease-in-out; /* Opera < 12.1 */
        animation: toptobottom 0.5s ease-in-out;
    }

    .popup > div.selected{
        display: block;
        
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .popup > div.before{
        display: block;
        
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    
    .popup > div.after{
        display: block;
        
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }


    /*.language{
        width: 100%;
        height: auto;
        
    }*/

    .language-title{
        display: block;
        font-size: 1em;
        font-weight: 400;
        margin: 25px;
        /*margin-bottom: 120px;*/

    }

    .language-select{
        width: 100px;
        /*background-color: #00779a;*/
        font-size: 0.6em;
        font-weight: 100;
        padding: 10px;
        /*padding: 20px 10px 20px 20px;*/
        margin: 2px;
        border-top: 2px solid transparent;
        /*border-radius: 4px;*/
        position: relative;
        display: inline-block;

        transform: scale(1);
        transform-origin: 50% 50%;
        
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        cursor: pointer;

    }

    .language-select:hover, .language-select:active, .language-select.selected{
        z-index: 99;
        transform: scale(1.1) translateY(-3px);
        background-color: #00779a;
        /*border: 2px solid transparent;
        padding: 8px;
        padding-top: 10px;*/
        /*padding-top: 3px;*/
        /*transform: scale(1.5);*/
        /*transform-origin: 30% 20%;*/
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    
    }


    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        /*font-family: 'KBIZ', sans-serif;*/
        overflow-x: hidden; 
        overflow-y: hidden;
        background-color: #fafafa;
        
        /*background-image: url('/file/preview/x');
        background-size: auto 90%;
        background-position: center;
        background-repeat: no-repeat;*/
        perspective: 1000px;

        font-size: 20px;
    }

    
        /* Let's get this party started */
    .wrap *::-webkit-scrollbar {
        width: 12px;
        z-index: 10000;
    }
    
    /* Track */
    .wrap *::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    .wrap *::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent; 
        /*background: #d3d3d3;*/
        
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .wrap *:hover::-webkit-scrollbar-thumb{
        background: #d3d3d3; 
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }    

    .wrap *::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
        /*background: #d3d3d3;*/
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .wrap{
        width: 100%;
        height: 100%;
        /*transform-origin: 50% 50%;*/
        transform-origin: 50% 90%;
        transform-style: preserve-3d; 
        /*transform: translateZ(0px) translateX(0%) rotateY(0deg);*/
        /*background-color: #f3f3f3;*/
        -webkit-transition: transform 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        -moz-transition: transform 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        transition: transform 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    .wrap.menu1{
        /*opacity: 0.5;*/
        cursor: pointer;
        /*transform: translateY(60%) rotateX(45deg);*/
        transform: translateZ(-100px) rotateX(60deg);
        transform-origin: 50% 150%;
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
    }

    .wrap.menu, .wrap.share, .wrap.language{
        /*opacity: 0.5;*/
        cursor: pointer;
        transform: translateY(10%);
        /*transform: translateY(60%) rotateX(45deg);*/
        /* transform: scale(0.95); */
        -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        overflow: hidden;
    }
    
    /* .wrap::before{
        content: '';
        width: 100%;
        height: 99990%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: -1;
        background-color: #231f20;
        opacity: 0;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    } */
    
    .wrap.menu::before, .wrap.share::before, .wrap.language::before{
        content: '';
        width: 100%;
        height: 99990%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 9999;
        background-color: #231f20;
        opacity: 0.3;
    }


    .file_intro{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 300;
        left: 0px;
        top: 0px;
        /*background-color: #7b7c80;*/

        /*background-image: url('/img/logo-fit-icon.png');*/
        background-image: url('/img/logo-fit.png');
        background-size: auto 50px;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        -webkit-animation: intro 2.5s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: intro 2.5s ease-in-out; /* Firefox < 16 */
        -ms-animation: intro 2.5s ease-in-out; /* Internet Explorer */
        -o-animation: intro 2.5s ease-in-out; /* Opera < 12.1 */
        animation: intro 2.5s ease-in-out;
        animation-fill-mode: forwards;  
        z-index: 500;

    }


    .file_download, .file_share, .file_language{
        /*display: none;*/
        -moz-transform: translate(0px, -100%);
        -webkit-transform: translate(0px, -100%);
        -o-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
        transform: translate(0px, -100%);
        -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
        -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
        /*opacity: 0;*/
        width: 100%;
        /*height: 100%;*/
        text-align: center;
        /*font-size: 36px;*/
        position: fixed;
        left: 0px;
        top: 0px;

        color: #00b3e6;

        padding-bottom: 1em;
    }

    .wrap.menu ~ .file_download, .wrap.share ~ .file_share, .wrap.language ~ .file_language{
        /*opacity: 1;*/
        /*display: block;*/
        /*max-width: 400px;*/
        /*line-height: 300%;*/
        background-color: rgba(0,179,230, 1);
        color: #FFFFFF;
        /*padding: 50px 20px;*/
        
        /*background-color: #FFFFFF;*/
        /*border: 1px solid #7b7c80;
        border-radius: 3px;*/
        border: none;
        z-index: 350;
        /*opacity: 0.8;*/
        
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .file_download .file_download-close, .file_share .file_share-close, .file_language .file_language-close{
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 3em;
        font-weight: 100;
        cursor: pointer;
        text-align: center;
        width: 60px;
        height: 60px;
        background-image: url('/img/cross.png');
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;

    }

    /*.file_download .file_download-close i{
        padding: 0px 30px;
    }    */

    .file_download .file_download-title, .file_share .file_share-title{
        width: 100%;
        display: block;
        height: auto;
        padding: 1em 0px;
        font-size: 1.5em;
        background-color: #00779a;
    }

    .file_download .file_download-subtitle, .file_share .file_share-subtitle{
        display: block;
        font-size: 1em;
        text-align: left;
        margin-top: 1em;
        /*padding: 1% 0px;*/
    }

    .file_download .file_download-input, .file_share .file_share-input{
        display: block;
        background-color: #00779a;
        color: #FFFFFF;
        width: 100%;

        border: none;
        padding: 20px 80px 20px 20px;
        font-size: 1em;
        border-radius: 0px;        
    }

    .file_download .container, .file_share .container{
        position: relative;
        padding: 5px;
    }

    .file_download .file_download-submit{
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 19px;
        cursor: pointer;
    }

    .file_share{
        padding: 1em;
        padding-top: 1em;
    }

    .file_share .file_share-button{
        width: auto;
        height: auto;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        background: transparent;
        color: #FFFFFF;
        font-size: 1em;
        margin: 10px;
        cursor: pointer;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
    }

    .file_share .file_share-button *{
        -webkit-transition: all 0.05s;
        -moz-transition: all 0.05s;
        transition: all 0.05s;
    }        

    .file_share .file_share-button:hover{
        background-color: #FFFFFF;
        color: #7b7c80;
        
    }

    .file_share #file_share-copy{
        overflow: hidden;
    }

    .file_share #file_share-copy::after{
        content: "✓";
        font-size: 1em;
        position: absolute;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, 200%);;
        -webkit-transform: translate(-50%, 200%);;
        -o-transform: translate(-50%, 200%);;
        -ms-transform: translate(-50%, 200%);;
        transform: translate(-50%, 200%);;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .file_share #file_share-copy.success i{
        /*font-size: 0px;*/
        /*visibility: collapse;*/
        
        -moz-transform: translate(0, -200%);
        -webkit-transform: translate(0, -200%);
        -o-transform: translate(0, -200%);
        -ms-transform: translate(0, -200%);
        transform: translate(0, -200%);

    }

    .file_share #file_share-copy.success::after{
        
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }    



    .header{

        width: 100%;
        height: 60px;
        padding: 15px 10px;
        /*background-color: #FFFFFF;*/
        background-color: transparent;
        position: absolute;
        top: 0px;
        left: 0px;
        color: #231f20;
        z-index: 300;
        /*background-image: url('/img/logo.png');
        background-position: left bottom;
        background-size: auto 70%;
        background-repeat: no-repeat;*/

        /*border-bottom: 1px solid #d3d3d3;*/
        line-height: 27.6px;
        color: #FFFFFF;
        
    }

    .header button{
        color: #FFFFFF;
    }

    .header .header-back{
        width: 1.6em;
        height: 1.6em;
        float: left;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.6em;
        /*-webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;*/
        /*-webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;*/
        cursor: pointer;
        background-image: url(/img/logo-icon.png);
        background-size: 100% 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
/*        
        -moz-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);*/


    }

    .header .header-back:hover{
        /* background-color: #d3d3d3; */
        color: #FFFFFF;
        /* border-radius: 50%; */
    }




    .header .header-logo{
        width: calc(100% - 200px);
        height: auto;
        float: left;
        padding: 3px 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden !important;
    }

    .header .header-logo::before{
        content: "|";
        font-size: 22px;
        padding: 0px 5 px 0px 0px;
        margin-top: -53px;
        font-weight: 100;
        display: inline-block;
        color: #d3d3d3;
        font-family: sans-serif;
    }
/*
    .header .header-logo img{
        width: auto;
        height: 23px;
    }*/


    .header .header-menu{
        width: auto;
        height: auto;
        float: right;
        /*padding: 8px;*/
        
    }

    .header button, .buttons{
        width: auto;
        height: auto;
        padding: 0.5em 0.6em;
        /*border: 1px solid #7b7c80;*/
        border: none;
        /*background-color: rgba(243, 243, 243, 0.1);*/
        background-color: transparent;
        /*border-radius: 3px;*/
        cursor: pointer;
        font-size: 0.8em;
        font-weight: 100;
    }

    .header button:hover, .buttons:hover{
        /*background-color: rgba(123, 124, 128, 0.5);*/
        /*border-radius: 6px;*/
        /*color: #FFFFFF;*/
        opacity: 0.8;
        border-radius: 3px;

        
    }

    .cover{
        width: 100%;
        height: 88%;
        max-height: 240px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cover .cover-grad{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-image: url(/img/grad.png);
        background-size: 100% 100%;
        
    }

    .cover .cover-text{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        color: #FFFFFF;
        padding: 0em 0em;
    }
    
    .cover .cover-text span{
        display: block;
    }

    .cover .cover-text .cover-title{
        font-size: 1.7em;
        background-color: #fafafa;
        /* -moz-transform: translate(0, .5em);
        -webkit-transform: translate(0, .5em);
        -o-transform: translate(0, .5em);
        -ms-transform: translate(0, .5em);
        transform: translate(0, .5em); */
        /* color: #00b3e6; */
        color: #231f20;
        font-weight: 100;
        letter-spacing: 0.05em;
        width: auto;
        height: auto;
        max-width: 100%;
        display: inline-block;
        padding: 0.5em;
        position: relative;
        z-index: 20;
        /* white-space:nowrap; */
    }

    .cover .cover-text .cover-subtitle{
        font-size: 0.8em;
        background-color: #00779a;
        /* padding: 0.5em 1em 3.8em 1em; */
        padding: 0.5em;
        display: inline-block;
        /* -moz-transform: translate(-0.5em, 3em);
        -webkit-transform: translate(-0.5em, 3em);
        -o-transform: translate(-0.5em, 3em);
        -ms-transform: translate(-0.5em, 3em);
        transform: translate(-0.5em, 3em); */
        width: auto;
        height: auto;
        max-width: 100%;        
        position: relative;
        font-weight: 100;
        letter-spacing: 0.2em;
        z-index: 19;
        /* white-space:nowrap; */
    }

/*
    .content{
        width: 300px;
        height: auto;
        padding: 10px;

        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }*/
    .content{
        width: auto;
        /*height: 100%;*/

        min-height: 80%;
        min-height: calc(100% - 105px);
        padding-top: 60px;
        padding-bottom: 45px;
        padding: 10px;

        background-color: #FFFFFF;
        /*border: 1px solid #d3d3d3;*/
        border-radius: 4px;
        display: block;
        position: relative;

        /*position: relative;*/

        /*overflow-y: auto;*/
        /*position: absolute;
        left: 50%;
        top: 50%;
        
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
    }

    .content .content-translateBy{
        width: 3em;
        margin: 1em;
        position: absolute;
        left: -2em;
        top: 0px;
        -moz-transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        text-align: center;
        border-bottom: 4px solid #00779a;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
    }

    .content .content-translateBy img{
        width: 100%;
        border-radius: 50%;
        display: block;
        background-size: cover;
        background-color: #FFFFFF;
        background-image: url('/img/logo-icon.png');
        background-repeat: no-repeat;
        
    }

    .content .content-translateBy .content-translator{
        display: block;
        font-size: 0.5em;
        font-weight: 700;
        width: 100%;
        padding: 1em 0;
        text-align: left;
    }

    .content .content-date{
        width: 100%;
        height: auto;
        display: block;
        padding: .8em;
        text-align: right;
    }

    .content .content-date span{
        display: inline-block;
        font-weight: 400;
        font-size: .8em;
        color: #00779a;
    }

    .content .content-preview img{
        
        width: 100%;
        /*background-image: url('/img/1_9.png');*/
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .content .content-preview .content-preview-section{
        width: 100%;
        height: auto;
        display: block;
        margin: 1em 0px;
    }

    .content .content-preview .content-preview-section pre{
        width: 100%;
    }

    /*.content-downloadonly{
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 40px 50px;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid #f3f3f3;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 30px;
        font-size: 1em;

        width: 100%;
        max-width: 450px;

    }*/

    .content-downloadonly{
        width: 100%;
        width: 100vw;
        left: 50%;
        -moz-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -o-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        
        height: auto;
        position: relative;
        padding: 40px 50px;
        /*border-radius: 3px;*/
        background-color: #00779a;
        text-align: center;
        /*line-height: 1em;*/
        font-size: 1em;
        color: #FFFFFF;
    }

    .content-downloadonly button{
        color: #FFFFFF;
    }

    .footer{
        width: 100%;
        height: 45px;
        padding: 10px;
        background-color: #FFFFFF;
        color: #7b7c80;
        /*position: absolute;
        bottom: 0px;
        left: 0px;*/
        line-height: 12px;
        border-top: 1px solid #d3d3d3;
        
    }

    .footer .footer-language{
        float: left;
        
    }

    .footer .footer-language a{
        
        color: #7b7c80;
        font-size: 12px;
    }

    .footer .footer-menu{
        float: right;
    }

    .footer .footer-menu a{
        width: auto;
        height: auto;
        font-size: 12px;
        color: #7b7c80;
        text-decoration: none;
    }
    
    .footer .footer-menu a::after{
        content: "|";
        font-size: 14px;
        padding: 0px 3px;
        margin-top: -53px;
        display: inline-block;
        color: #d3d3d3;
        font-family: sans-serif;
    }

    .footer .footer-menu a:last-child::after{
        content: "";
    }




	


    input[type="text"], input[type="email"]{
        /*width: auto;
        height: auto;*/
        border-radius: 5px;
        padding: 6px 11px;
        color: #231f20;
        background-color: #FFFFFF;
        border: 1px solid #d3d3d3;
        /*margin-top: 1px;
        margin-bottom: 1px;*/
    }

    .buttons-full{
        /*width: auto;
        height: auto;*/
        border: none;
        background-color: #00b3e6;
        padding: 6px 11px;
        margin: 0px 3px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons-full:hover{
        opacity: 0.8;

    }

    .buttons-full:active{
        opacity: 0.6;
    }

    .div4{
        width: 25%;
        float: left;
        position: relative;
        height: auto;

    }

    .div2{
        width: 50%;
        float: left;
        position: relative;
        height: auto;
    }

    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        /*overflow: hidden;*/
        /*position:  relative;*/
    }

    pre,button,textarea{
        /*font-family: 'KBIZ', sans-serif;*/
        
    }

    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both; 
    }
    
}

@media screen and (max-width: 1024px){
	
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div4{
        width: 25%;

    }

    .div2{
        width: 50%;
    }

    /*.content .content-translateBy{
        position: relative;
        left: 0;
        top: 0;
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        
    }

    .content .content-translateBy img{
        float: left;
    }
    .content .content-translateBy .content-translator{
        float: left;
    }*/
}

@media screen and (max-width: 640px){
	
    .container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
/*
    .file_download{
        font-size: 22px;
    }

    .file_share{
        font-size: 22px;
    }*/

    body{
        font-size: 18px;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
        
    }    

    .div4{
        width: 50%;

    }

    .div2{
        width: 100%;
    }

    .footer{
        height: auto;
        position: relative;

    }
    

    .cover .cover-text .cover-title{
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        position: relative;
    }

    .cover .cover-text .cover-subtitle{
        
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        position: relative;
    }

    .content{
        padding-bottom: 0px;
    }
    
    .content .content-translateBy{
        position: relative;
        margin: 0px auto;
        left: 0px;  
        top: 0px;
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 480px){
	
    .container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /*.file_download{
        font-size: 16px;
    }
    .file_share{
        font-size: 16px;
    }*/


    body{
        font-size: 16px;
    }

    .popup>div{
        margin: 0px;
        border: none;
        border-radius: 0px;
        height: 100%;
        overflow-y: auto;
    }    


    .div4{
        width: 50%;
    }

    .div2{
        width: 50%;

    }
}

/*@media screen and (min-width: 1281px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (min-width: 1024px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }

    .div2{
        width: 50%;
    }
}

@media screen and (min-width: 1366px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }

    .div2{
        width: 50%;
    }
}

@media screen and (min-width: 1920px){
	
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .div4{
        width: 25%;

    }

    .div2{
        width: 50%;
    }
}

    @keyframes intro {
        0% { 
            transform-origin: -50% 50%;
            background-position: 52% 50%;
            background-size: auto 20px;
            background-color: #00b3e6;
        }

        30%   { 
            background-position: 50% 50%;    
            background-size: auto 50px;
            background-color: #d3d3d3;
        }

        60%{
            background-position: 50% 50%;    
            background-size: auto 50px;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            border-radius: 0px;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
        }

        80%{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            /*width: 50vh;*/
            /*height: 50vh;*/

            opacity: 1;
        
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        100%{
            border-radius: 50%;
            width: 0px;
            height: 0px;

            background-color: #FFF;
            opacity: 0;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        /*80%{
            -moz-transform: translate(0, -100%) translate(0, 60px);
            -webkit-transform: translate(0, -100%) translate(0, 60px);
            -o-transform: translate(0, -100%) translate(0, 60px);
            -ms-transform: translate(0, -100%) translate(0, 60px);
            transform: translate(0, -100%) translate(0, 60px);
            opacity: 1;
            background-color: #7b7c80;
        
        }

        100%{
            -moz-transform: translate(0, -100%) translate(0, 60px);
            -webkit-transform: translate(0, -100%) translate(0, 60px);
            -o-transform: translate(0, -100%) translate(0, 60px);
            -ms-transform: translate(0, -100%) translate(0, 60px);
            transform: translate(0, -100%) translate(0, 60px);
            background-color: #FFF;
            opacity: 0;
        }*/
    }

    /* Firefox < 16 */
    @-moz-keyframes intro {
        0% { 
            transform-origin: -50% 50%;
            background-position: 52% 50%;
            background-size: auto 20px;
            background-color: #00b3e6;
        }

        30%   { 
            background-position: 50% 50%;    
            background-size: auto 50px;
            background-color: #d3d3d3;
        }

        60%{
            background-position: 50% 50%;    
            background-size: auto 50px;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            border-radius: 0px;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
        }

        80%{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            /*width: 50vh;*/
            /*height: 50vh;*/

            opacity: 1;
        
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        100%{
            border-radius: 50%;
            width: 0px;
            height: 0px;

            background-color: #FFF;
            opacity: 0;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes intro {
        0% { 
            transform-origin: -50% 50%;
            background-position: 52% 50%;
            background-size: auto 20px;
            background-color: #00b3e6;
        }

        30%   { 
            background-position: 50% 50%;    
            background-size: auto 50px;
            background-color: #d3d3d3;
        }

        60%{
            background-position: 50% 50%;    
            background-size: auto 50px;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            border-radius: 0px;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
        }

        80%{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            /*width: 50vh;*/
            /*height: 50vh;*/

            opacity: 1;
        
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        100%{
            border-radius: 50%;
            width: 0px;
            height: 0px;

            background-color: #FFF;
            opacity: 0;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    /* Internet Explorer */
    @-ms-keyframes intro {
        0% { 
            transform-origin: -50% 50%;
            background-position: 52% 50%;
            background-size: auto 20px;
            background-color: #00b3e6;
        }

        30%   { 
            background-position: 50% 50%;    
            background-size: auto 50px;
            background-color: #d3d3d3;
        }

        60%{
            background-position: 50% 50%;    
            background-size: auto 50px;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            border-radius: 0px;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
        }

        80%{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            /*width: 50vh;*/
            /*height: 50vh;*/

            opacity: 1;
        
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        100%{
            border-radius: 50%;
            width: 0px;
            height: 0px;

            background-color: #FFF;
            opacity: 0;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    /* Opera < 12.1 */
    @-o-keyframes intro {
        0% { 
            transform-origin: -50% 50%;
            background-position: 52% 50%;
            background-size: auto 20px;
            background-color: #00b3e6;
        }

        30%   { 
            background-position: 50% 50%;    
            background-size: auto 50px;
            background-color: #d3d3d3;
        }

        60%{
            background-position: 50% 50%;    
            background-size: auto 50px;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            border-radius: 0px;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
        }

        80%{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            /*width: 50vh;*/
            /*height: 50vh;*/

            opacity: 1;
        
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        100%{
            border-radius: 50%;
            width: 0px;
            height: 0px;

            background-color: #FFF;
            opacity: 0;
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    
    


    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Firefox < 16 */
    @-moz-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Internet Explorer */
    @-ms-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    /* Opera < 12.1 */
    @-o-keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; display: none;}
    }

    
    @keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Firefox < 16 */
    @-moz-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }
    /* Internet Explorer */
    @-ms-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }

    /* Opera < 12.1 */
    @-o-keyframes toptobottom {
        from {
                        
                -moz-transform: translate(0, -100%);
                -webkit-transform: translate(0, -100%);
                -o-transform: translate(0, -100%);
                -ms-transform: translate(0, -100%);
                transform: translate(0, -100%);
            
            }
        to   { 
            
                -moz-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);


         }
    }