@charset "utf-8";

/**********************************************
    
    animation keyframes

***********************************************/
@keyframes boxUp {
    form {
        height: 40px;
        line-height: 40px;
        margin-top: 0px;
        font-size: 0.8em;
    }
    to {
        height: 80px;
        line-height: 60px;
        margin-top: -40px;
        font-size: 1em;
    }
}
/**********************************************
    
    css-reset

***********************************************/
@media screen {

    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
        font-family: NanumGothic, sans-serif;
    }
    html, body {
        font-size: 14px;
    }
    li { list-style: none; }
    a {
        text-decoration: none;
        color: black;
    }
    img { vertical-align: top; }
    .clearfix {
        clear: both;
        content: "";
        display: block;
    }

    .header_wrap {
        width:100%;
        height:108px;
        background: #515151;
        position: absolute;
    }
    .wrap {
        max-width: 1280px;
        margin: 0 auto;
    }
    header,
    nav,
    section,
    footer {
        width: 100%;
        height: auto;
    }
    section {
        max-width:1200px;
        margin:0 auto;
    }
    button:hover {
        opacity: 0.8;
    }
    button:disabled:hover , button[disabled]:hover, button.selected:hover {
        opacity:1;
    }

    ::-webkit-input-placeholder { color: #bbbdc0; }
    ::-moz-placeholder {color: #bbbdc0; }
    :-ms-input-placeholder { color: #bbbdc0; } 
    :-o-input-placeholder { color: #bbbdc0; } 

    /**********************************************
        
        header-logo, loginControl, 
        
    ***********************************************/
    header  {
        /* border-bottom: 2px solid #4a4a4a; */
        position: relative;
    }
    header a img {
        width: 200px;
        margin: 30px 0 30px 4%;
    }

    header ul {
        position: absolute;
        top: 0; right: 4%;
    }
    header ul li {
        float: left;
    }
    header ul li a {
        display: block;
        padding: 0 10px;
        margin-top: 5px;
        font-size: 11px;
        color: #bbbdc0;
        background: url(../img/line.jpg) no-repeat right center;
        
    }
    header ul li:nth-child(3) a {
        padding-right: 0;
        background: none;
    }
    header ul li a:hover {
        font-weight: bold;
    }

    header div {
        float: right;
        margin-top: 40px;
        margin-right: 4%;
        position: relative;
    }
    header div select {
        display: inline-block;
        padding:10px 20px;
        /* width: 150px;
        height: 40px; */
        /* background: white url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;   */
        -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;
        background: #fff;
        border-radius: 0px;
        color: #4a4a4a;
        font-weight: bold;
        font-size: 0.8em;
        word-spacing: 10px;
        text-align: center;
        border:none;
        /* cursor: pointer; */
    }

    header div .mobile_ai_link {
        display:none;
        text-align: right;
        width: auto;
        padding: 10px;
        float: right;
        font-size: 0.8em;
    }
    header div .mobile_ai_link a {
        color: #8a8a8a;
    }
        
    /**********************************************
        
        nav

    ***********************************************/
    nav {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #bbbdc0;
    }
    nav span.sub_title1 {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-left: 4%;
        font-size: 18px;
        font-weight: bold;
        color: #7b7c80;
        float: left;
    }
    nav span.move_text {
        display: inline-block;
        margin-top: 5px;
        margin-right: 4%;
        float: right;
    }
    nav span.move_text a {
        display: block;
        height: 20px;
        line-height: 20px;
        margin-top: 10px;
        font-size: 11px;
        color: #bbbdc0;
        text-align: center;
        float: right;
        cursor: pointer;
    }
    nav span.move_text a:hover {
        font-weight: bold;
    }

    /**********************************************
        
        섹션 공통사용

    ***********************************************/
    section div.container div.lang_title {
        padding: 0 20px;
        font-size: 1em;
        font-weight: bold;
        text-align: left;
        margin:10px 0;
    }

    section div.container div.translation_box .translate { 
        display: inline-block;
        width:100%;
        padding:10px 0;
        /* height: 50px;  */
        /* background: #F2F1F1; */
    }
    section div.container div.translation_box .translate span {
        width: 60px;
        line-height: 50px;
        font-size: 11px;
        color: #bbbdc0;
        display: inline-block;
        float: right;
        vertical-align: middle;
    }
    /**********************************************
        
        섹션 2차

    ***********************************************/
    section div.container2 {
        height: auto;
        margin: 50px 0;
        background: rgba(255,255,255,0.6);
        position: relative;
        box-sizing: border-box;
    }
    section div.container2 .translation_table {
        display:table;
        width:100%;
        border-collapse: separate;
        border-spacing: 10px 0;
    }
    section div.container2 div.translation_box {
        display: table-cell;
        width: 100%;
        height:auto;
        min-height: 260px;
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    }
    section div.get_translations div.translation_box div.get_text_wrap {
        width:100%;
        /* height:220px; */
        overflow: hidden;
    }
    section div.get_translations div.translation_box div.get_text_cover 
    {
        width:100%;
        height:100%;    
        overflow-y: auto;
    }
    
    section div.input_translations2 div.translation_box  textarea,
    section div.get_translations2 div.translation_box div.get_text {
        width: 100%;
        height: 220px;
        padding: 0 20px;
        border: 0;
        resize: none;
        font-size: 1em;
        color: #7b7c80;
        box-sizing: border-box;
        line-height: 1.5em;
    }
    section div.get_translations2 div.translation_box div.get_text {
        /* text-align: justify; */
        text-align: left;
        /* word-break: keep-all;         */
        opacity: 0.8;
    }
    section div.get_translations2 div.translation_box div.get_text:hover {
        opacity: 1;
    }

    section div.input_translations2 div.translation_box {
        display:inline-block;
        width:100%;
        border:2px solid #e5e5e5;
    }

    section div.input_translations2 div.translation_box div.translate button {
        display: inline-block;
        padding: 10px 20px;
        border:none;
        margin-top: 5px;
        margin-right: 20px;
        font-size: 0.9em;
        font-weight: 500;
        text-align: center;
        color: #FFF;
        background:#00b3e6;
        /* border-bottom:1px solid #07b3e7; */
        border-radius: 100px;
        cursor: pointer;
        box-sizing: border-box;
        float: right;  
    }
    /* section div.input_translations2 div.translation_box div.translate button:hover { 
        border-bottom: 1px solid #bbbdc0; 
    } */
    section div.input_translations2 div.translation_box div.translate button img { vertical-align: middle; }
    section div.get_translations2 {
        margin-top: 60px;
    }
    section div.get_translations2 > img{
        position: absolute;
        top: -40px; left: 50%;
        -webkit-transform: translateX(-50%) rotate(-90deg);
        -moz-transform: translateX(-50%) rotate(-90deg);
        transform: translateX(-50%) rotate(-90deg);
    }

    section div.get_translations2 div.translation_box {
        display: table-cell;
        width: 33%;
        /* float: left; */
        position: relative;
        background: #f7f7f7;
        border: 2px solid #e5e5e5;
        padding-top: 20px;
    }
    section div.get_translations2 div.translation_box:last-child {
        margin-right: 0;
    }
    section div.get_translations2 div.translation_box:hover {
        /* box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22); */
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    }
    section div.get_translations2 div.translation_box:hover div.get_text {
        color: #7b7c80;
    }
    section div.get_translations2 div.translation_box div.popUp {
        display: inline-block;
        width:100%;
        /* height: 40px; */
        text-align: right;
        padding: 15px;
        /* margin-top: 20px; */
    }
    section div.get_translations2 div.translation_box div.popUp button {
        border: 0;
        border-radius: 100px;
        /* margin-top: 5px; */
        padding:10px 20px;
        background: #00b3e6;
        /* color: #7b7c80; */
        color: #fff;
        font-size: 1em;
        cursor: pointer;
    }
    section div.get_translations2 div.translation_box div.popUp button.selected {
        background:#a3a3a3;
        color: #c4c4c4;
    }
    section div.get_translations2 div.translation_box div.popUp button:disabled, 
    section div.get_translations2 div.translation_box div.popUp button[disabled] {
        background: #efefef;
        color:#c4c4c4;
    }
    section div.get_translations2 div.translation_box .popUp_checked {
        display: inline-block;
        text-align: right;
        color: #a3a3a3;
        font-size: 0.9em;
        margin-right: 5px;
    }
    section div.get_translations2 div.translation_box .popUp_checked h2 {
        font-size: 1.2em;
        font-weight: bold;
        color:#515151;

    }
    section div.get_translations2 div.translation_box .popUp_checked.class_C {
        color: #00b3e6;
    }
    section div.get_translations2 div.translation_box .popUp_checked.class_C img {
        width:100%;
        max-width: 90px;
        margin-bottom: 5px;
    }        

    /**********************************************
        
        섹션 1차

    ***********************************************/
    section .inputBox_wrap {
        display: table;
        width:100%;
        border-collapse: separate;
        border-spacing: 10px 0;
        margin: 50px auto;
    }
    section div.container1 {
        display: table-cell;
        width: 50%;
        height: auto;
        background: rgba(255,255,255,0.6);
        box-sizing: border-box;
        border: 2px solid #e5e5e5;
        resize: none;
        outline: 0;
        transition-duration: 0.2s;
        position: relative;
        overflow: hidden;
    }
    section div.container1.get_translations {
        background: #f7f7f7;
    }
    section div.container1 div.translation_box {
        width: 100%;
        padding-top:10px;
        /* height: 430px; */
        /* box-shadow: 1px 1px 1px 1px #bbbdc0; */
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
        overflow: hidden;
    }
    section div.input_translations1 div.translation_box  textarea,
    section div.get_translations1 div.translation_box div.get_text {
        width: 100%;
        /* height: 390px; */
        height: 220px;
        padding: 20px;
        padding-top:0;
        border: 0;
        resize: none;
        font-size: 1em;
        line-height: 1.5em;
        color: #7b7c80;
        box-sizing: border-box;
    }


    section div.input_translations1 div.translation_box div.translate button {
        /* margin-top: 9px; */
        display: inline-block;
        padding: 10px 20px;
        border: none;
        margin-top: 5px;
        margin-right: 20px;
        font-size: 0.9em;
        font-weight: 500;
        text-align: center;
        color: #FFF;
        background: #00b3e6;
        /* border-bottom: 1px solid #07b3e7; */
        border-radius: 100px;
        cursor: pointer;
        box-sizing: border-box;
        float: right;
    }
    section div.input_translations1 div.translation_box div.translate button img {
        vertical-align: middle;
    }
    section div.get_translations1 > img{
        position: absolute;
        top: 240px; left: -50px;
        transform: rotate(180deg);
        display: none;
    }
    section div.get_translations1 div.translation_box {
        /* box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22); */
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    section div.get_translations1 div.translation_box a {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 1em;
        background: rgba(90,90,90, 0.5);
        padding: 20px;
        padding-bottom: 10px;
        color:#fff;
        
        -webkit-transition: top 0.4s ease-in-out;
        -moz-transition: top 0.4s ease-in-out;
        transition: top 0.4s ease-in-out;
    }

    section div.get_translations1 div.translation_box a.other_translation span {
        display: inline-block;
        width: 100%;
        padding: 10px;
        padding-bottom: 0;
        text-align: right;
        font-size: 0.8em;
    }
    
    section div.get_translations1 div.translation_box a.other_translation {
        /* font-size: 1em; */
        top:74%;
    }
/*
    section div.get_translations1 div.translation_box a {
        width: 100%;
        padding:15px 0;
        color: white;
        font-size: 0.8em;
        text-align: center;
        background: rgba(90,90,90, 0.5);
    }
    section div.get_translations1 div.translation_box a:hover {
        animation-fill-mode: forwards;
        height: 100%;
    }
    section div.get_translations1 div.translation_box a span.side_text {
        width:100%;
        font-size: 0.8em;
        padding:10px;
        padding-bottom: 0;
        font-weight: bold;
        text-align: right;
    }
    section div.get_translations1 div.translation_box a:hover span.side_text {
        transition: opacity 0.4s linear 0.4s;
        display: inline-block;
    }
    */

    /**********************************************
        
        서브 슬로건 2차뷰

    ***********************************************/
    section div.slogan2 {
        margin: 30px auto;
        background: white;
        font-size: 1em;
        color: #515151;
        text-align: center;
        font-weight: bold;
    }

    /**********************************************
        
        서브 슬로건 1차뷰

    ***********************************************/
    section div.slogan1 {
        width: 90%;
        font-size: 15px;
        color: #7b7c80;
        text-align: center;
        margin: 30px auto;
        display: none;
    }

    /**********************************************
        
        section ad

    ***********************************************/
    section div#ad {
        width: 100%;
        /*height: 120px;*/
        /* margin-left: 4%; */
        margin:0 auto;
        /*background: #bbbdc0;*/
        margin-top: 40px;
    }
    section div#ad a {
        display: inline-block;
        width:100%;
    }
    section div#ad img {
        width: 100%;
        /*height: 120px;*/
        /*box-shadow: 1px 1px 1px 1px #bbbdc0;
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;*/
    }
    /*section div#ad img:hover {
        box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    }*/

    /**********************************************
        
        footer

    ***********************************************/
    footer {
        height: 42px;
        padding-top: 8px;
        border-top: 1px solid #bbbdc0;
        margin-top: 40px;
    }

    /**********************************************
        
        footer copyright

    ***********************************************/
    footer > span {
        font-size: 11px;
        color: #bbbdc0;
        margin-left: 4%;
    }

    /**********************************************
        
        footer question

    ***********************************************/
    footer ul {
        float: right;
        margin-right: 4%;
    }
    footer ul li {
        font-size: 11px;
        color: #bbbdc0;
        float: left;
        padding-right: 10px;
        margin-right: 10px;
        background: url(../img/line.png) no-repeat right center;
    }
    footer ul li:last-child {
        background: none;
        padding-right: 0;
        margin-right: 0;
    }
    footer ul li a {
        font-size: 11px;
        color: #bbbdc0;
    }

    /**********************************************
        
        로딩1

    ***********************************************/
    @keyframes loadingAni {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
    @keyframes imgBounce {
        0% { top: -200px; }
        25% { top: 50%; }
        50% { top: 20%; }
        100% { top: 50%; }
    }
    div#loading1 {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0; left: 0;
        background: white;
        animation: loadingAni 1s 2s;
        animation-fill-mode: forwards;
        display: none;
    }
    #loading1 img {
        width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: imgBounce 2s;
        animation-fill-mode: forwards;
    }

    /**********************************************
        
        로딩2

    ***********************************************/
    @keyframes loading {
        0% {
            transform: translate(0, 0px);
        }
        50% {        
            transform: translate(0, -17px);

        }
        100% {        
            transform: translate(0, 0px);

        }
    }
    #loading2 {
        width: auto;
        height: auto;
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
        display: none;
    }
    #loading2 img {
        position: relative;
        /*transform: translate(-50%, -50%);*/
        animation: loading 1.5s ease-in-out;
        animation-iteration-count: infinite;
    }
    #loading2 #loadingText {
        display: block;
        position: relative;
        text-align: center;
        letter-spacing: 0.25em;
    }

    /**********************************************
        
        로딩3

    ***********************************************/

    .cssload-wrap{
        padding-top:78px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }	

    .cssload-wrap > div {
        left: calc(50% - 99px);
        position: relative;
        background-color: rgb(255,255,255);
        width: 196px;
        height: 196px;
        border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
        overflow: hidden;
        color:rgb(0,0,0);
    }
    .cssload-wrap > div:nth-child(2) {
        width: 175px;
        height: 175px;
        top: -185px;
        left: calc(50% - 88px);
        line-height: 175px;
        text-align: center;
    }
    .cssload-wrap > div div {
        width: 146px;
        height: 146px;
        border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
        filter: blur(29px);
            -o-filter: blur(29px);
            -ms-filter: blur(29px);
            -webkit-filter: blur(29px);
            -moz-filter: blur(29px);
        position: absolute;
    }
    .cssload-wrap > div div:nth-child(1) {
        background-color: #00b3e6;
        animation: cssload-move 4.6s;
            -o-animation: cssload-move 4.6s;
            -ms-animation: cssload-move 4.6s;
            -webkit-animation: cssload-move 4.6s;
            -moz-animation: cssload-move 4.6s;
        animation-delay: 5.52s;
            -o-animation-delay: 5.52s;
            -ms-animation-delay: 5.52s;
            -webkit-animation-delay: 5.52s;
            -moz-animation-delay: 5.52s;
        animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
        animation-timing-function: linear;
            -o-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
    }
    .cssload-wrap > div div:nth-child(2) {
        background-color: #fff;
        animation: cssload-move 3.45s;
            -o-animation: cssload-move 3.45s;
            -ms-animation: cssload-move 3.45s;
            -webkit-animation: cssload-move 3.45s;
            -moz-animation: cssload-move 3.45s;
        animation-delay: 0s;
            -o-animation-delay: 0s;
            -ms-animation-delay: 0s;
            -webkit-animation-delay: 0s;
            -moz-animation-delay: 0s;
        animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
        animation-timing-function: linear;
            -o-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
    }
    .cssload-wrap > div div:nth-child(3) {
        background-color: blue;
        animation: cssload-move 6.9s;
            -o-animation: cssload-move 6.9s;
            -ms-animation: cssload-move 6.9s;
            -webkit-animation: cssload-move 6.9s;
            -moz-animation: cssload-move 6.9s;
        animation-delay: 3.68s;
            -o-animation-delay: 3.68s;
            -ms-animation-delay: 3.68s;
            -webkit-animation-delay: 3.68s;
            -moz-animation-delay: 3.68s;
        animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
        animation-timing-function: linear;
            -o-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
    }
    .cssload-wrap > div div:nth-child(4) {
        background-color: #fff;
        animation: cssload-move 5.75s;
            -o-animation: cssload-move 5.75s;
            -ms-animation: cssload-move 5.75s;
            -webkit-animation: cssload-move 5.75s;
            -moz-animation: cssload-move 5.75s;
        animation-delay: 1.84s;
            -o-animation-delay: 1.84s;
            -ms-animation-delay: 1.84s;
            -webkit-animation-delay: 1.84s;
            -moz-animation-delay: 1.84s;
        animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
        animation-timing-function: linear;
            -o-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
    }




    @keyframes cssload-move {
        0%, 100% {
            top: 0%;
            left: 0%;
        }
        25% {
            top: 0%;
            left: 50%;
        }
        50% {
            top: 50%;
            left: 50%;
        }
        75% {
            top: 50%;
            left: 0%;
        }
    }

    @-o-keyframes cssload-move {
        0%, 100% {
            top: 0%;
            left: 0%;
        }
        25% {
            top: 0%;
            left: 50%;
        }
        50% {
            top: 50%;
            left: 50%;
        }
        75% {
            top: 50%;
            left: 0%;
        }
    }

    @-ms-keyframes cssload-move {
        0%, 100% {
            top: 0%;
            left: 0%;
        }
        25% {
            top: 0%;
            left: 50%;
        }
        50% {
            top: 50%;
            left: 50%;
        }
        75% {
            top: 50%;
            left: 0%;
        }
    }

    @-webkit-keyframes cssload-move {
        0%, 100% {
            top: 0%;
            left: 0%;
        }
        25% {
            top: 0%;
            left: 50%;
        }
        50% {
            top: 50%;
            left: 50%;
        }
        75% {
            top: 50%;
            left: 0%;
        }
    }

    @-moz-keyframes cssload-move {
        0%, 100% {
            top: 0%;
            left: 0%;
        }
        25% {
            top: 0%;
            left: 50%;
        }
        50% {
            top: 50%;
            left: 50%;
        }
        75% {
            top: 50%;
            left: 0%;
        }
    }
}
/**********************************************
    
    반응형으로 설정.

***********************************************/
@media screen and (max-width: 1280px) {
    /**********************************************
    
        공용

    ***********************************************/
    section div.container {
        /* width: 100%; */
        margin-bottom: 10px;
    }

    /**********************************************
    
        1차뷰

    ***********************************************/
    section div.get_translations1 > img{
        position: absolute;
        top: -50px; left: 50%;
        transform: rotate(-90deg) translateX(-50%);
    }
    section div.container1 div.translation_box {
        width: 100%;
        /* height: 280px; */
    }

    /**********************************************
    
        2차뷰

    ***********************************************/
    
    section div.get_translations2 div.translation_box {
        /* width: 100%; */
        margin: 0 0 40px 0;
    }
    section div.get_translations2 div.translation_box:last-child {
        margin: 0;
    }
}

@media screen and (max-width:1024px){
    section > div:first-child, section div#ad {
        padding:0 10px;
    }
}

@media screen and (max-width: 920px){ 
    section div.get_translations2 div.translation_box .popUp_checked {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 800px){
/**********************************************
    
        공용

***********************************************/
    header {
        text-align: center;
    }
    header a img {
        margin: 30px 0 30px;
    }
    header div {
        float: none;
        margin: 0 0 10px;
        /* padding-top: 20px; */
    }

    header div .mobile_ai_link {
        display: inline-block;
        width: auto;
        margin-top: 10px;
        padding-right: 20px;
    }

    footer {
        text-align: center;
    }
    footer ul {
        display: none;
    }
    nav {
        display: none;
    }
    
/**********************************************
    
        1차뷰

***********************************************/

    section .inputBox_wrap {
        margin: 0 auto;
    }
/*     
    section div.container1  {
        margin:0;
        margin-bottom: 20px;
        padding:0;
    }
    section div.get_translations1 > img{
        top: -50px; left: 50%;
        transform: rotate(-90deg) translateX(-50%);
    } */

/**********************************************
    
        2차뷰

***********************************************/
    section div.container2 {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        padding:0;
    }
    section div.container2 .translation_table {
        display:inline-block;
    }
    section div.container2 div.translation_box {
        box-shadow: none;
        padding-top: 20px;
    }

    header div select {
        border:none;
        width: auto;
        text-align: left;
        font-size: 0.9em;
        margin-top: 10px;
        float: left;
        padding-bottom: 20px;
    }
    section div.input_translations2 div.translation_box textarea,
    section div.get_translations2 div.translation_box div.get_text {
        height: 200px;
        font-size: 1em;
        line-height: 2em;
        padding-top:0;
        /* padding-right: 50px; */
    }
    section div.input_translations2 div.translation_box textarea {
        padding:20px;
        padding-top: 0;
    }
    section div.get_translations2 div.translation_box {
        display:inline-block;
        width: 100%;
        /* margin: 0 0 40px 0; */
        margin:0;
        background: #f7f7f7;
        color:#949494;
        font-weight: 500;
        font-size: 1em;
        border:none;
        border-top: 2px solid #e5e5e5;
    }
    
    section div.slogan2 {
        width: 100%;
        height: 50px;
        line-height: 50px;
        /* border-top: 1px solid #bbbdc0; */
        margin: 0;
        background: #ebebeb;
        color: #515151;
        font-weight: bold;
        /* display: none; */
    }
    section div.container2 div.lang_title {
        display: none;
    }

    section div#ad {
        padding: 0;
    }
}

@media screen and (max-width: 640px){ 
    /**********************************************
    
        ai1 view

    ***********************************************/
    section .inputBox_wrap {
        display: block;
        width:100%;
    }
    section div.container1 {
        display:inline-block;
        width:100%;
        height: 340px;
    }
    section div.get_translations1 div.translation_box a span {
        display: inline-block;
        width: 100%;
        text-align: right;
        font-size: 12px;
    }
    section div.get_translations1 div.translation_box a.other_translation {
        top: 75%;
    }
}

@media screen and (max-width: 320px){
    section div.container1 {
        height: 280px;
    }

    section div.input_translations1 div.translation_box  textarea, section div.get_translations1 div.translation_box div.get_text {
        height: 175px;
    }
    section div.container1 div.translation_box .translate {
        padding: 0;
    }

    section div.get_translations1 div.translation_box a.other_translation {
        padding:5px;
        top: 75%;
    }
}


/**********************************************
    
    로그인

***********************************************/
h1.logo {
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbdc0;
    margin-top: 20px;
    color: #4a4a4a;
    text-indent: 10%;
    text-align: left;
}
.title {
    display: block;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4a4a4a;
}
label[for='memory'] {
    cursor: pointer;
}
.loginBox input,
#subBox .left input {
    width: 80%;
    height: 40px;
    margin: 0 10% 10px;
    font-size: 15px;
    text-indent: 10px;
    box-sizing: border-box;
}
.loginBox button,
#subLoginBox button,
.loginBox select  {
    width: 80%;
    height: 40px;
    margin: 0 10% 10px;
    font-size: 15px;
    cursor: pointer;
}
#subBox {
    width: 80%;
    margin-left: 10%;
}
#subBox div input {
    margin: 0;
}
#subBox .left,
#subBox .right {
    height: 20px;
    font-size: 11px;
}
#subBox .left {
    width: 100px;
    float: left;
    color: #bbbdc0;
}
#subBox .right {
    float: right;
}
#subBox .right a {
    display: inline-block;
    color: #bbbdc0;
}
#subLoginBox button {
    margin-top: 0;
    margin-bottom: 10px;
}
#subLoginBox button:nth-child(1) {
    background: #3b5996;
}
#subLoginBox button:nth-child(2) {
    background: #cc3633;
}
#subLoginBox button:nth-child(3) {
    background: #ffea00;
}
#line {
    width: 80%;
    margin: 20px auto;
    font-size: 13px;
    color: #bbbdc0;
    text-align: center;
    
}
#subBox .left input[type="checkbox"] {
    width: 20px;
    height: auto;
    margin: 0;
    margin-left: 10%;
}
.footer {
    height: auto;
    margin-top: 24px;
    color: #bbbdc0;
    font-size: 11px;
    text-align: center;
}

/**********************************************
    
    회원가입

***********************************************/
#yaggwan {
    width: 80%;
    height: 100px;
    border: 1px solid #bbbdc0;
    margin: 10px 10%;
    box-sizing: border-box;
    overflow: auto;
}
