	<div class="summeryContainer">
		<div class="header">
			<h2>{{i18n.ACTIVITY_COUNT}}</h2>
		</div>
		<div class="body">
			<p>{{{i18n.CAN_VIEW_ONLY_CONTEXT}}}</p>
		</div>
		<div class="body">
			<div class="revenueIcon">
				<img src="/static/img/ICONS_CICERON-24.png"/>
				<p>{{i18n.REVENUE}}</p>
			</div>
			<div class="revenueValue">
				<p>$<span></span><p>
			</div>
		</div>
	</div>
	<div class="translatedItemContainer">
	</div>
