<li>
<div class="card request done" data-original-lang="{{data.originalLangIndex}}" data-target-lang="{{data.targetLangIndex}}" data-request-id="{{data.requestId}}">
	<div class="header">
		<div class="requesterName">
			<span>{{data.completedDate}}</span>
		</div>
	</div>
	<div class="content">
		<div class="contextCol">
			<div class="context">
				<div class="language">
					<div class="languageIcon">
						<img class="avatar size32" src="{{data.originalLangPicPath}}">
						<p>{{data.messages.originalLang}}</p>
					</div>
					<div class="languageIcon">
						<img class="avatar size32" src="{{data.targetLangPicPath}}">
						<p>{{data.messages.targetLang}}</p>
					</div>
				</div>
				<div class="category">
					<div class="categoryIcon">
						<img class="size32" src="{{data.formatIconPath}}">
						<p>{{data.messages.format}}</p>
					</div>
					<div class="categoryIcon">
						<img class="size32" src="{{data.subjectIconPath}}">
						<p>{{data.messages.subject}}</p>
					</div>
				</div>	
				<div class="wordCount">
					<p>{{data.words}} {{i18n.WORDS}}<p>
				</div>												
			</div>
		</div>
		<div class="contentCol">
			<button class="detailViewBtn">{{i18n.TICKET_DONE}}</button>
			<h2>{{data.title}}</h2>
			<p>{{{data.translatedText}}}</p>
		</div>
	</div>
</div>
</li>