		<section class="makerequestLanding active">
		<h1>{{i18n.MAKE_REQUEST_READY}}<br/>{{i18n.MAKE_REQUEST_SIX_QUESTIONS}}</h1>
		<div class="processicons-container"><img src="/static/img/3.1.1processicons_web.png"/></div>
		<div class="startBtn"></div>
		</section>
		<div class="requestFormContainer">
			<div class="progressBar-container">
				<div class="progressBar">
					<div class="progress">
					</div>
				</div>
			</div>
			<div class="sectionContainer makeRequestFormContainer">
				<section>
					<div class="content">
						<header>
							<span class="indexNum noselect">1</span>
							<p class="noselect">{{i18n.MAKE_REQUEST_WHAT_FORMAT}}</p>
						</header>
						<div class="optionContainer noselect">
							<div class="format-container" data-format-index="0"><div class="icon-container"><img src="/static/img/ICONS_CICERON-05.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_EMAIL}}</p></div>
							<div class="format-container" data-format-index="1"><div class="icon-container"><img src="/static/img/ICONS_CICERON-06.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_LETTER}}</p></div>
							<div class="format-container" data-format-index="2"><div class="icon-container"><img src="/static/img/ICONS_CICERON-07.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_ESSAY}}</p></div>
							<div class="format-container" data-format-index="3"><div class="icon-container"><img src="/static/img/ICONS_CICERON-08.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_AD}}</p></div>
							<div class="format-container" data-format-index="4"><div class="icon-container"><img src="/static/img/ICONS_CICERON-09.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_INVITATION}}</p></div>
							<div class="format-container" data-format-index="5"><div class="icon-container"><img src="/static/img/ICONS_CICERON-10.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_GREETINGS}}</p></div>
							<div class="format-container" data-format-index="6"><div class="icon-container"><img src="/static/img/ICONS_CICERON-11.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_PUBLICATION}}</p></div>
							<div class="format-container" data-format-index="7"><div class="icon-container"><img src="/static/img/ICONS_CICERON-12.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_SCRIPT}}</p></div>
							<div class="format-container" data-format-index="8"><div class="icon-container"><img src="/static/img/ICONS_CICERON-13.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_RESEARCH}}</p></div>
							<div class="format-container" data-format-index="9"><div class="icon-container"><img src="/static/img/ICONS_CICERON-14.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_REPORT}}</p></div>
							<div class="format-container" data-format-index="10"><div class="icon-container"><img src="/static/img/ICONS_CICERON-15.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_MENU}}</p></div>
							<div class="format-container" data-format-index="11"><div class="icon-container"><img src="/static/img/ICONS_CICERON-16.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_APPLICATION}}</p></div>
							<div class="format-container" data-format-index="12"><div class="icon-container"><img src="/static/img/ICONS_CICERON-17.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_MANUAL}}</p></div>
							<div class="format-container" data-format-index="13"><div class="icon-container"><img src="/static/img/ICONS_CICERON-18.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_SNS}}</p></div>
							<div class="format-container" data-format-index="14"><div class="icon-container"><img src="/static/img/ICONS_CICERON-19.png"/></div><p class="label">{{i18n.MAKE_REQUEST_FORMAT_OTHER}}</p></div>
						</div>
					</div>
					<div class="nextBtn noselect noshow"></div>
				</section>
				<section >
					<div class="previousBtn noselect"></div>
					<div class="content">
						<header>
							<span class="indexNum noselect">2</span>
							<p class="noselect">{{i18n.MAKE_REQUEST_WHAT_SUBJECT}}</p>
						</header>
						
						<div class="optionContainer noselect">
							<div class="subject-container" data-subject-index="0"><div class="icon-container"><img src="/static/img/ICONS_CICERON-20.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_ARTS}}</p></div>
							<div class="subject-container" data-subject-index="1"><div class="icon-container"><img src="/static/img/ICONS_CICERON-21.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_SPORTS}}</p></div>
							<div class="subject-container" data-subject-index="2"><div class="icon-container"><img src="/static/img/ICONS_CICERON-22.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_SCIENCE}}</p></div>
							<div class="subject-container" data-subject-index="3"><div class="icon-container"><img src="/static/img/ICONS_CICERON-23.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_HEALTH}}</p></div>
							<div class="subject-container" data-subject-index="4"><div class="icon-container"><img src="/static/img/ICONS_CICERON-24.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_ECONOMY}}</p></div>
							<div class="subject-container" data-subject-index="5"><div class="icon-container"><img src="/static/img/ICONS_CICERON-25.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_MUSIC}}</p></div>
							<div class="subject-container" data-subject-index="6"><div class="icon-container"><img src="/static/img/ICONS_CICERON-26.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_LITERATURE}}</p></div>
							<div class="subject-container" data-subject-index="7"><div class="icon-container"><img src="/static/img/ICONS_CICERON-27.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_POLITICS}}</p></div>
							<div class="subject-container" data-subject-index="8"><div class="icon-container"><img src="/static/img/ICONS_CICERON-28.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_BUSINESS}}</p></div>
							<div class="subject-container" data-subject-index="9"><div class="icon-container"><img src="/static/img/ICONS_CICERON-29.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_RELIGION}}</p></div>
							<div class="subject-container" data-subject-index="10"><div class="icon-container"><img src="/static/img/ICONS_CICERON-30.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_SHOPPING}}</p></div>
							<div class="subject-container" data-subject-index="11"><div class="icon-container"><img src="/static/img/ICONS_CICERON-31.png"/></div><p class="label">{{i18n.MAKE_REQUEST_SUBJECT_FASHION}}</p></div>
						</div>	
					</div>
					<div class="nextBtn noselect noshow"></div>
				</section>
				<section>
					<div class="previousBtn noselect"></div>
					<div class="content">
						<header>
							<span class="indexNum noselect">3</span>
							<p class="noselect">{{i18n.MAKE_REQUEST_SELECT_LANGUAGE}}</p>
						</header>
						<div class="languageOptionContainer noselect">
							<select id="original_language_select">
							  <option value="0" data-class="kor" selected>{{i18n.KOREAN}}</option>
							  <option value="1" data-class="eng-us">{{i18n.ENGLISH_US}}</option>
							  <option value="2" data-class="eng-uk">{{i18n.ENGLISH_UK}}</option>
							  <option value="3" data-class="mandarin">{{i18n.CHINESE_MANDARIN}}</option>
							  <option value="4" data-class="cantonese">{{i18n.CHINESE_CANTONESE}}</option>
							  <option value="4" data-class="cantonese">{{i18n.TAIWANESE}}</option>
							</select>
							<span class="js-lang-switch lang-switch"></span>
							<select id="target_language_select">
							  <option value="0" data-class="kor">{{i18n.KOREAN}}</option>
							  <option value="1" data-class="eng-us" selected>{{i18n.ENGLISH_US}}</option>
							  <option value="2" data-class="eng-uk">{{i18n.ENGLISH_UK}}</option>
							  <option value="3" data-class="mandarin">{{i18n.CHINESE_MANDARIN}}</option>
							  <option value="4" data-class="cantonese">{{i18n.CHINESE_CANTONESE}}</option>
							  <option value="4" data-class="cantonese">{{i18n.TAIWANESE}}</option>
							</select>
							</select>
						</div>
						<div class="mediaKind">
							<div class="optionContainer noselect">
								<div class="mediakind-container" data-mediakind-index="0"><div class="icon-container"><img src="/static/img/ICONS_CICERON-01.png"/></div></div>
								<div class="mediakind-container" data-mediakind-index="1"><div class="icon-container"><img src="/static/img/ICONS_CICERON-02.png"/></div></div>
								<div class="mediakind-container" data-mediakind-index="2"><div class="icon-container"><img src="/static/img/ICONS_CICERON-03.png"/></div></div>
								<div class="mediakind-container" data-mediakind-index="3"><div class="icon-container"><img src="/static/img/ICONS_CICERON-04.png"/></div></div>
							</div>			
						</div>
						<textarea class="requestText" placeholder="{{i18n.MAKE_REQUEST_TYPE_HERE}}" rows="5"></textarea>
					</div>
					<div class="nextBtn noselect noshow"></div>
				</section>
				<section>
					<div class="previousBtn noselect"></div>
					<div class="content">
						<header>
							<span class="indexNum noselect">4</span>
							<p class="noselect">{{i18n.MAKE_REQUEST_WHEN}}</p>
						</header>
						<div class="duedatePicker"></div>
						<div class="dueLabelContainer">
							<span class="label">{{i18n.MAKE_REQUEST_DEADLINE}}</span><br/>
							<span class="dueyearLabel">00</span> / <span class="duemonthLabel">00</span> / <span class="duedateLabel">00</span><br/>
							<input class="duehourPicker">:
							<input class="dueminutePicker">
						</div>
					</div>
					<div class="nextBtn noselect noshow"></div>

					<!--div class="submitBtn noselect noshow"></div-->
				</section>
				<section>
					<div class="previousBtn noselect"></div>
					<div class="content">
						<header>
							<span class="indexNum noselect">5</span>
							<p class="noselect">{{i18n.MAKE_REQUEST_PRICE}}</p>
						</header>
						<div class="rewardContainer">
							<div class="spinnerContinaer">$ <input class="requestReward">
							</div>									
						</div>
						<p class="ciceron_msg">{{i18n.MAKE_REQUEST_PRICE_10_IS_MIN}}<br/>{{i18n.MAKE_REQUEST_PRICE_YOU_CAN_PAY_MORE}}</p>
					</div>
					<div class="nextBtn noselect noshow"></div>
				</section>
				<section>
					<div class="previousBtn noselect"></div>
					<div class="content">
						<header>
							<span class="indexNum noselect">6</span>
							<p class="noselect">{{i18n.MAKE_REQUEST_LEAVE_MESSAGES_TO_TRANSLATOR}}</p>
						</header>
						<div class="languageOptionContainer noselect">
							<textarea class="contextText" placeholder=" " rows="5"></textarea>
						</div>
					</div>
					<div class="submitBtn noselect noshow"></div>
				</section>

			</div>
		</div>
		<section class="makerequestConfirm">
			<h1>{{i18n.MAKE_REQUEST_CONFIRM_QUESTION}}</h1>
			<div class="confirmTicketContainer">
				<!-- 의뢰 티켓 발행 전에 티켓 모양을 확인시킨다 -->
			</div>
			<div class="originalTextContainer">
				<p class="originalText" style="display:none;"></p>
				<div class="toggleBtn">
				</div>
			</div>
			<div class="btnContainer">
			<button class="restartBtn">{{i18n.MAKE_REQUEST_CONFIRM_START_OVER}}</button>
			<button class="confirmSubmitBtn">{{i18n.MAKE_REQUEST_CONFIRM_OK}}</button>
			</div>
		</section>
		<section class="makerequestCheckout">
			<h1>{{i18n.MAKE_REQUEST_SELECT_PAYMENT}}</h1>
			<div class="priceContainer">$ <span class="amount">10.00</span></div>
			<p class="pointContainer">{{i18n.USABLE_POINT}}: $ <span class="amount">{{data.revenue}}</span>
				<input class="pointToUse"/>
			</p>
			<p class="desc">{{i18n.POINT_USE_DESC}}</p>
			<p class="calcul">({{i18n.TRANSLATING_REWARD}})$<span class="amount">10.00</span> - ({{i18n.POINT}})$<span class="point">2.00</span></p>
			<div class="optionContainer noselect">
				<div class="payment-container" data-payment-index="0"><div class="icon-container">
					<p>{{i18n.PAY_WITH_ALIPAY}}</p>
					<img src="/static/img/alipay_logo.png"/>
				</div></div>
				<div class="payment-container" data-payment-index="1"><div class="icon-container">
					<p>{{i18n.PAY_WITH_PAYPAL}}</p>
					<img src="/static/img/paypal_logo.png"/>
				</div></div>
			</div>	
			<div class="btnContainer">
			<button class="checkoutBtn disabled">{{i18n.MAKE_REQUEST_PROCEED_PAYMENT}}</button>
			</div>
		</section>
