<div class="language step-now">
	<div class="div2">
		<span class="language-title">사이트 언어</span>
		<div class="language-select">한국어</div>
		<div class="language-select">영어</div>
		<div class="language-select">중국어</div>
	</div>
	<div class="div2">
		<span class="language-title">콘텐츠 언어</span>
		<div class="language-select">한국어</div>
		<div class="language-select">영어</div>
		<div class="language-select">중국어</div>
		
	</div>
	<div class="clearfix"></div>
</div>