<div class="request step-now">
	<span class="request-title">번역 및 견적 요청</span>
	<textarea class="request-textarea" placeholder="텍스트를 입력하거나 붙여넣기하세요." rows="15"></textarea>
	<button class="request-next">다음으로 &gt;</button>
	<div class="clearfix"></div>
</div>
<div class="request step-right">
	<span class="request-subject">Translate from:</span>
	한국어(자동 감지)
	<br />
	<br />
	<br />
	<span class="request-subject">Translate to:</span>
	<div class="request-language-list">
		<span class="request-language-item div4">한국어</span>
		<span class="request-language-item div4">영어(US)</span>
		<span class="request-language-item div4">영어(UK)</span>
		<span class="request-language-item div4">북경어</span>
		<span class="request-language-item div4">광동어</span>
		<span class="request-language-item div4">태국어</span>
		<span class="request-language-item div4">대만어</span>
		<span class="request-language-item div4">일본어</span>
		<span class="request-language-item div4">스페인어</span>
		<span class="request-language-item div4">포르투갈어</span>
		<span class="request-language-item div4">베트남어</span>
		<span class="request-language-item div4">독일어</span>
		<span class="request-language-item div4">프랑스어</span>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<button class="request-previous">&lt; 이전으로</button>
	<button class="request-next" id="request-check-user">다음으로 &gt;</button>
	<div class="clearfix"></div>
</div>
<div class="request step-right">
	<span class="request-subject">회원님의 정보를 확인하고 있습니다...</span>
	<button class="request-next">다음으로 &gt;</button>
	<div class="clearfix"></div>
</div>
<div class="request step-right" style="text-align: center;">
	<span class="request-title">회원이신가요?</span>
	<button class="buttons-full request-login">씨세론 계정으로 로그인</button>
	<br />
	<br />
	<br />
	<div class="clearfix"></div>
	<span class="request-title">비회원으로 진행</span>
	<input type="text" placeholder="성함을 입력해주세요." class="request-input-text"/><br />
	<input type="email" placeholder="이메일을 입력해주세요." class="request-input-text"/><br />
	<button class="buttons-full request-login">제출</button><br /><br />
	<!--<input type="checkbox" value="" id="request-check-signup"/><label for="request-check-signup">이 정보로 회원가입 합니다.</label>-->
	<div class="clearfix"></div>

	<!--<button class="request-next">다음으로 &gt;</button>
	<div class="clearfix"></div>-->
</div>
<script defer>
$(document).ready(function(){
	$(".request-next").click(function(){
		$(".step-now").addClass("step-left").removeClass("step-now");
		$($(".step-right").first()).addClass("step-now").removeClass("step-right");
		// var obj = { Page: "CICERON", Url: location.href};
		// history.pushState(obj, obj.Page, obj.Url);
		// $(window).on('popstate',function(event) {
		// 	// $(".request-previous").click();
		// 	console.log(event);
		// });
	})
	$(".request-previous").click(function(){
		$(".step-now").addClass("step-right").removeClass("step-now");
		$($(".step-left").last()).addClass("step-now").removeClass("step-left");
	})
	$(".request-language-item").off('click').on('click', function(){
		if($(this).hasClass("selected")){
			$(this).removeClass("selected");
		}
		else{
			$(this).addClass("selected");
		}
	});

	$("#request-check-user").click(function(){
		// var f = setTimeout(function(){
		// 	clearTimeout(f);
		// 	alert("fdsa");
		// 	$(".request-next").click();
		// }, 2000);
	});

});
</script>