<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="theme-color" content="#08C1CE">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">
		<title>CICÉRON</title>
		<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>-->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!--<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>-->
        <!--<link rel="stylesheet" type="text/css" media="all" href="css/jquery-ui.css">-->
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
        <link rel="stylesheet" type="text/css" media="all" href="/css/ciceron-attend.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		
		
    </head>

    <body>
		<div class="header">
			<span class="header-title"><img src="/img/logo-icon.png" />
				씨세론 출근부 통계시스템 베타
			</span>
		</div>
		<div class="container">
			<div class="setting">
				<form><br><br>
					<h3 class="setting-title">직원 선택</h3>
					<div class="setting-select">
						<!--<input type="radio" id="name1" name="name" value="montgomery@ciceron.me"/>
						<label for="name1">김경식</label>-->
						<input type="radio" id="name4" name="name" value="amadeus@ciceron.me"/>
						<label for="name4">윤영선</label>
						<input type="radio" id="name5" name="name" value="junhang.lee@ciceron.me"/>
						<label for="name5">이준행</label>
						<input type="radio" id="name2" name="name" value="hanseulmaro.kim@ciceron.me"/>
						<label for="name2">김한슬마로</label>
						<input type="radio" id="name3" name="name" value="pepper@ciceron.me"/>
						<label for="name3">왕가림</label>
						<input type="radio" id="name6" name="name" value="sso5hee@ciceron.me"/>
						<label for="name6">최소연</label>
						<input type="radio" id="name7" name="name" value="debbie@ciceron.me"/>
						<label for="name7">김단비</label>
						<!--<input type="radio" id="name8" name="name" value="scotch@ciceron.me"/>
						<label for="name8">남궁연범</label>-->
						<input type="radio" id="name9" name="name" value="betty@ciceron.me"/>
						<label for="name9">한혜경</label>
						<input type="radio" id="name10" name="name" value="sunny@ciceron.me"/>
						<label for="name10">이선호</label>
						<!--<input type="radio" id="name11" name="name" value="wazowski@ciceron.me"/>
						<label for="name11">이의령</label>-->
						<input type="radio" id="name12" name="name" value="mntomori@ciceron.me"/>
						<label for="name12">김도훈</label>
					</div>
					<div class="clearfix"></div>
					<h3 class="setting-title">범위 선택</h3>
					<div class="setting-select">
						<input type="radio" value="all" id="range1" name="range"/>
						<label for="range1">전체</label>
						<input type="radio" value="byYear" id="range2" name="range"/>
						<label for="range2">연별</label>
						<input type="radio" value="byMonth" id="range3" name="range" checked/>
						<label for="range3">월별</label>
					</div>
					<div class="clearfix"></div>
					<div id="setting-year" style="float: left; margin-right: 10px;">
						<h3 class="setting-title">연도 선택</h3>			
						<div class="setting-select">
							<select name="year">
								<option value="2017">2017년</option>
							</select>
							<!--<input type="radio" id="year1" name="year"/>
							<label for="year1">2017년</label>
							<input type="radio" id="year2" name="year"/>
							<label for="year2">2018년</label>
							<input type="radio" id="year3" name="year"/>
							<label for="year3">2019년</label>-->
						</div>
					</div>
					<div id="setting-month" style="float: left;">
						<h3 class="setting-title">월 선택</h3>			
						<div class="setting-select">
							<select name="month">
								<option value="1">01월</option>
								<option value="2">02월</option>
								<option value="3">03월</option>
								<option value="4">04월</option>
								<option value="5">05월</option>
								<option value="6">06월</option>
								<option value="7">07월</option>
								<option value="8">08월</option>
								<option value="9">09월</option>
								<option value="10">10월</option>
								<option value="11">11월</option>
								<option value="12">12월</option>
							</select>
							<!--<input type="radio" id="date1" name="date"/>
							<label for="date1">1월</label>
							<input type="radio" id="date2" name="date"/>
							<label for="date2">2월</label>
							<input type="radio" id="date3" name="date"/>
							<label for="date3">3월</label>
							<input type="radio" id="date4" name="date"/>
							<label for="date4">4월</label>
							<input type="radio" id="date5" name="date"/>
							<label for="date5">5월</label>
							<input type="radio" id="date6" name="date"/>
							<label for="date6">6월</label>
							<input type="radio" id="date7" name="date"/>
							<label for="date7">7월</label>
							<input type="radio" id="date8" name="date"/>
							<label for="date8">8월</label>
							<input type="radio" id="date9" name="date"/>
							<label for="date9">9월</label>
							<input type="radio" id="date10" name="date"/>
							<label for="date10">10월</label>
							<input type="radio" id="date11" name="date"/>
							<label for="date11">11월</label>
							<input type="radio" id="date12" name="date"/>
							<label for="date12">12월</label>-->
						</div>
					</div>
					<!--<span class="setting-title">주 선택</span>			
					<div class="setting-select">
						<input type="radio" id="week1" name="week"/>
						<label for="week1">1주</label>
						<input type="radio" id="week2" name="week"/>
						<label for="week2">2주</label>
						<input type="radio" id="week3" name="week"/>
						<label for="week3">3주</label>
						<input type="radio" id="week4" name="week"/>
						<label for="week4">4주</label>
					</div>-->
				</form>
			</div>
			<div class="clearfix"></div>
			<div class="content">
				<div class="content-statistics">
					<h3 style="font-weight: 700;">통계</h3><br />
					<span>총 근무시간: </span>
					<span id="statistics-time">0시간</span><br />
					<span>총 휴가일: </span>
					<span id="statistics-vacation">0일</span><br /><br /><br /><br />

					<h3 style="font-weight: 700;">출 · 퇴근 기록표</h3><br><br>
					<span style="border: 1px solid #AAAAAA;">　</span> 정상입력
					<span style="background-color: #ffc8c5; border: 1px solid #AAAAAA;">　</span> 출/퇴근 미입력
					<span style="background-color: #fef8cc; border: 1px solid #AAAAAA;">　</span> 날짜 미입력
					<span style="background-color: #c5f3ff; border: 1px solid #AAAAAA;">　</span> 휴가
					<span style="background-color: #c1fff0; border: 1px solid #AAAAAA;">　</span> 출장
					<span style="background-color: #f1c2ff; border: 1px solid #AAAAAA;">　</span> 결근
					
					<button id="btnDownload" style="margin-left:10px; margin-top:-7px;">다운로드</button><br><br>
				</div>
				<table id="content-table" class="content-table" style="border-collapse:collapse;">
					<thead>
						<tr>
							<th width="15%">날짜</th>
							<th width="10%">출근</th>
							<th width="30%">비고</th>
							<th width="10%">퇴근</th>
							<th width="30%">비고</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2017.03.18</td>
							<td>10:00</td>
							<td></td>
							<td>19:00</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br />
		<br />
		<br />

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!--<script src="/js/lib/jquery.ddslick.min.js"></script>
        <script src="/js/lib/i18n.js"></script>
        <script src="/js/lib/divhelper.js"></script>-->
        <script src="/js/global.js"></script>

		<script>
			


			var data = JSON.parse('<%- JSON.stringify( param.data1 ) %>');
			
		</script>

        <script src="/js/<%= filename %>.js"></script>
    </body>
    
</html>
