
<?xml version="1.0" encoding="UTF-8" ?>








<rss version="2.0"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/"
	xmlns:activity="http://activitystrea.ms/spec/1.0/" >
<channel>
	
		
			<title><![CDATA[마음을 번역하다 CICERON]]></title>
			<link>http://blog.ciceron.me</link>
			
				<image>
					<url><![CDATA[http://blogpfthumb.phinf.naver.net/20161013_236/ciceron_mate_14763403767442YCKV_PNG/161011_CICERON_logo.png?type=m2]]></url>
					<title><![CDATA[마음을 번역하다 CICERON]]></title>
					<link>http://blog.ciceron.me</link>
				</image>
			
			<description><![CDATA[바쁘지만 번역은 해야하는 당신!
번역의 기초 :: 마음을 번역하다 : 씨세론

번역의뢰
chingoo@ciceron.me]]></description>
			<language>ko</language>
			<generator>Naver Blog</generator>
			<pubDate>Fri, 03 Feb 2017 16:17:58 +0900</pubDate>

			
				<item>
					<author></author>
					<category><![CDATA[번역계 소식]]></category>
					<title><![CDATA[번역가 데보라 스미스, 그녀의 성장은 이제부터 ?]]></title>
					<link>http://blog.ciceron.me/220920957957</link>
					<guid>http://blog.ciceron.me/220920957957</guid>
					<description><![CDATA[작년, 한반도를 떠들썩하게 아니 세계를 흔들었던 한강의 "채식주의자" 한 번쯤 들어봤을 것이다. 채식주의자의 주인공, 한강 작가는 한국인 최초로 맨부커상을 수상하면서 그 인기는 날로 성장에 성장을 거듭했는데요. 관련 소식을 저희 씨세론도 포스팅 했었죠 ! 다시 한 번 맨부커상을 간단히 설명하면 부커상 후보에 오른 작가들에게는 그들 작품의 특별판을 제작해 주고 최종 수상자는 상금과 함께 국제적인 명성을 보증 받는다. 채식주의자를 번역한 "데보라 스미스" 역시 한강 작가님과 함께 수상하면서 단숨에 우리의 뇌리 속에 깊이 자리 잡았죠.그런데 얼마 전, 번역가 데보라 스미스가 또 한 번 수상의 영광을 안았다는 소식입니다. 이.......]]></description>
					<pubDate>Thu, 26 Jan 2017 17:22:53 +0900</pubDate>
					<tag><![CDATA[채식주의자,한강,번역가,데보라스미스,맨부커상,북한소설,씨세론,고발소설,반체제소설,반디소설]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[무슨일이에요?]]></category>
					<title><![CDATA[중국 청도 출장 | 青岛청도 맥주 박물관의 안내도가 이상하다 ?]]></title>
					<link>http://blog.ciceron.me/220915815316</link>
					<guid>http://blog.ciceron.me/220915815316</guid>
					<description><![CDATA[조용했던 씨세론 사무실에 드디어 중국 출장 가셨던 세 분이 돌아왔습니다 ! &#27426;迎&#27426;迎！！ 가족보다 더 많이 부대끼다 보니 잠시 떨어져 있어도 허전한 이 느낌 ..... :) 이번에는 중국의 &#38738;&#23707;칭다오로 출장을 다녀오셨는데요. 칭다오... 너무 익숙하지 않나요 ? 네 맞습니다 ! 칭따오 피쥬 ! 정상훈이 외쳤던 "양꼬치엔 칭따오" 의 그 칭다오 ~ 왠지 손길 가는 익숙한 그 초록색 캔 ! (한국에는 초록색 뿐이지만 대륙으로 가면 흰색캔 등 다양하게 있답니다 ^ ^) 맥주로 유명한 칭다오에 맥주 박물관이 있어 다녀왔습니다.안 그래도 애정하는 칭다오 맥주인데 이번 출장을 통해 그 역사까지 알 수 있어 더 좋았는데요 !.......]]></description>
					<pubDate>Fri, 20 Jan 2017 10:44:12 +0900</pubDate>
					<tag><![CDATA[중국청도,칭다오여행,칭다오맥주박물관,청도여행,청도맥주,번역은씨세론,번역,번역서비스,번역대행,씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[북촌 나들이 | 청국장  밥| 성공적]]></title>
					<link>http://blog.ciceron.me/220913500563</link>
					<guid>http://blog.ciceron.me/220913500563</guid>
					<description><![CDATA[주소 서울특별시 종로구 소격동 36 전화번호 02-6053-1009마음을 번역하는 씨세론입니다 ^ ^ 지금 사무실은 출장 가신 분들의 부재로 매우 조용하답니다.. 그래서 오늘은 ! 날이 좋아서 날이 좋지 않아서 또 날이 적당해서 그 분들의 빈자리가 느껴지지 않도록 추위 따윈 두렵지 않은 젊은 피가 모여 북촌으로 나들이를 다녀왔습니다 ~ 춥다고 웅크리고만 있으면 살찌니까요 ~ 코에 바람 넣어줘야죠. " 북촌 나들이~?" 를 외치며 북촌으로 가보았습니다. 무작정 걸어가면서 오늘은 새로운 곳에 도전해볼까 싶어 브라이언님의 단골집 '밥店'을 지나니 왠지 끌리는 "청국장 밥" 발견 !왜 그런 날 있잖아요. 맨날 먹던 곳 가면 평균은 하지만 그것 보.......]]></description>
					<pubDate>Tue, 17 Jan 2017 17:58:48 +0900</pubDate>
					<tag><![CDATA[마음을번역하다,씨세론,번역은씨세론,번역,번역대행,번역서비스,청국장밥,날이좋아서,북촌나들이,북촌식당추천]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[무슨일이에요?]]></category>
					<title><![CDATA[마시는 슬러시 NO ! | 스타트업 컨퍼런스 | "SLUSH"]]></title>
					<link>http://blog.ciceron.me/220913119692</link>
					<guid>http://blog.ciceron.me/220913119692</guid>
					<description><![CDATA[안녕하세요. 마음을 번역하는 번역 서비스, 씨세론입니다 ^^ 오랜만에 출장기로 돌아온 것 같네요 ! 벌써 작년이 되어버린 2016년, 그것도 한창 춥다는 12월 초 ! 저희 씨세론은 SLUSH에 참가하기 위해 핀란드 헬싱키에 다녀왔는데요 ! 아마데우스님과 브라이언님이 함께한 핀란드 출장기, 지금부터 시작합니다. 1. SLUSH가 뭐냐구요? "SLUSH"는 세계 최대의 스타트업 컨퍼런스입니다. 작년 2016년을 기준으로 9번째 생일을 맞이한 SLUSH에는 무려1700개의 스타트업, 전세계 16000여명의 참가자가 참석한 그야말로 어마어마한 규모의 스타트업 행사인데요. 전세계적으로 수많은 컨퍼런스가 있지만 최근 스타트업의 성장세가 빠르게 이루어지고 있.......]]></description>
					<pubDate>Tue, 17 Jan 2017 11:00:50 +0900</pubDate>
					<tag><![CDATA[씨세론,CICERON,번역은씨세론,마음을번역하다,SLUSH,번역,번역대행,문화창조벤처단지,헬싱키여행,핀란드]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[구글 크롬캐스트 리뷰 | Google Chromecast]]></title>
					<link>http://blog.ciceron.me/220902577720</link>
					<guid>http://blog.ciceron.me/220902577720</guid>
					<description><![CDATA[곤니치와! 안녕하세요~ 씨세론입니당. 떡국들 많이 드셨는지요? ㅋㅋㅋ 에~ 항상 바빠서 새해 오는 지도 모르셨다구요? 하하핫 사실 저도 그렇답니다. 아 그래서~~~ 오늘 소개해드릴 제품은 바로 ~ 구글의 크롬캐스트 2!!! 크롬캐스트 1은 인터넷으로나 실물으로나 많이 보셨을 것 같은데~~~ 크롬캐스트 2는 저도 실물로 처음 봤어요. 아~~~ 바로 이 크롬캐스트는 ~ 일본에서 구매해온 것이랍니다. 한국에서는 5만원 정도에 구매할 수 있는데... 일본에서는 2만원 정도 하더군요?!?!?!?!?! 물론 기능 차이나 언어 차이는 없습니다... 한국!!! 너무 바가지 씌우는 것 아냐?!?!?!?!?! 겉 포장을 빼보면 이렇게 심플한 패키지가 나옵니다. 쨔자잔~ 박.......]]></description>
					<pubDate>Wed, 04 Jan 2017 15:41:30 +0900</pubDate>
					<tag><![CDATA[크롬캐스트2,크롬캐스트,Chromecast,구글,Google,CICERON,씨세론,번역은씨세론,마음을번역하다,프레젠테이션]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[크리스마스 잘 보내셨나요? | 가족친화기업 인증받다!]]></title>
					<link>http://blog.ciceron.me/220895477839</link>
					<guid>http://blog.ciceron.me/220895477839</guid>
					<description><![CDATA[안녕하세요. 씨세론입니다 ^^ 즐거운 크리스마스 잘 보내셨는지요? 저희 씨세론 가족들은 옹기종기 모여 소소하게 케익을 자르면서 담소를 나눴답니다 ^^ 얼마전 미니소에서 구매한 쿠마몬과 함께 ^^ ㅋㅋㅋ 몽고메리님의 해외 출장 후 사오신 홍차와 함께 케익을 먹으니 정말 맛있더군요 ~ ㅎㅎ 아참! 이번에 저희 씨세론이... 여성가족부로부터 가족친화인증을 받았답니다!! 짜자잔~~~ 위 기업은 「가족친화 사회환경의 조성 촉진에 관한 법률」 제 15조 제 1항에 따라 우수한 가족친화경영 운영체제를 구축하고 가족친화제도를 운영함으로써 근로자의 일 · 가정 양립을 지원하고 국가경쟁력 향상에 기여하였기에 가족친화기업으로 인증합니다.......]]></description>
					<pubDate>Mon, 26 Dec 2016 22:08:53 +0900</pubDate>
					<tag><![CDATA[씨세론,CICERON,번역은씨세론,마음을번역하다,가족친화인증,가족친화기업,크리스마스,케이크,쿠마몬]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[미니소 종각점 방문 후기 | 다이소랑은 다르다! 다이소랑은!]]></title>
					<link>http://blog.ciceron.me/220890432895</link>
					<guid>http://blog.ciceron.me/220890432895</guid>
					<description><![CDATA[안녕하세요. 요 며칠동안 겨울이라고 생각되지 않게 따뜻하네요. 비까지 왔는데 말이죠 ㅋㅋㅋ 저희 씨세론 직원들은 며칠 전에 저녁을 먹고 나와 길을 걷고 있었는데!!! 미니소라는 곳이 생겼더군요??! 헛! 딱 보자마자! 다이소?? 유니클로?? 묘한 짝퉁의 냄새가...?! 뭐 노리고 만들었을 수도 있겠지만 첫 인상은 이랬습니다. ㅋㅋㅋ 일본 쿠마모토의 캐릭터인 쿠마몬 인형이 많더군요. 허허 이런 소형 가전과 잡동사니 등을 싸게 팔고 있었어요. 크크 귀여운 물건들이 정말 많지요?? 작고 실용적인 것들도 많았어요. 특히 블루투스 이어폰을 써보니까~~ 이어팟 못지않은 성능을 내더군요. 미니소를 만드신 분이랍니다. 무엇을 샀을까요!~! 짜.......]]></description>
					<pubDate>Tue, 20 Dec 2016 13:44:37 +0900</pubDate>
					<tag><![CDATA[씨세론,미니소,미니소코리아,쿠마몬,쿠마모토,번역은씨세론,마음을번역하다]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[덱 헤슘 프로 적축 리뷰 | 기계식 키보드 | DECK CBL-108P]]></title>
					<link>http://blog.ciceron.me/220889598509</link>
					<guid>http://blog.ciceron.me/220889598509</guid>
					<description><![CDATA[안녕하세요. 씨세론입니다. 최근에 우리 씨세론의 개발자이신 마로님이 열혈 프로그래밍(!!!)을 하기 위해 기계식 키보드를 장만하셨답니다. 맨날 이만원짜리 싸구려 키보드 쓰다가 기계식 키보드를 똮!! 아주 좋아 죽으시더라구요. ㅋㅋㅋ 그럼 지금 간단 리뷰 보실까요?!!! 박스입니다. Create it, Test it, Share it. 완전 개발자를 위한 문구같은데요? ㅋㅋㅋ 박스를 열어보니 키보드, 키보드 덮개, 영어 매뉴얼, 한국어 매뉴얼, 키캡 리무버 두 개가 함께 있었어요. 알차군요!!! 설레이는 마음과 함께 키보드를 바로 꺼내보았어요. 아주 튼튼한 바디와 다양한 펑션 키들이 존재하더군요! 이번에 구매한 키보드는 적축입니다! 적축은 기계식.......]]></description>
					<pubDate>Mon, 19 Dec 2016 16:02:46 +0900</pubDate>
					<tag><![CDATA[덱헤슘,Deck,덱헤슘프로,기계식,키보드,기계식키보드,씨세론,CICERON,마음을번역하다,리뷰]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[샤오미 패블릿 | 미 맥스(Mi Max) 리뷰 | 사용후기]]></title>
					<link>http://blog.ciceron.me/220886074054</link>
					<guid>http://blog.ciceron.me/220886074054</guid>
					<description><![CDATA[안녕하세요. 씨세론입니다. 요즘 잦은 해외 출장으로 소식을 전해드리는 게 뜸했어요. ㅠㅠ 연말까지 정리해서 공유해드릴 예정이니까 많은 기대 부탁드려요! 그래서 이번에 소개해드릴 것은 바로!!! 해외 출장할 때 그 나라에 맞는 유심을 구입하잖아요? 국내 폰, 영업 폰, 해외 폰을 모두 사용해야 하는 몽고메리님은 해외 출장을 할 때 폰을 세 개나 들고 다니셔야 하는 불편함이 있어요. ㅠㅠ 그런 몽고메리님을 위해 새로운 스마트폰을 구매하였어요. ㅎㅎ 올해 5월에 출시된 샤오미의 패블릿, 미 맥스(Mi Max), 미 맥스는 듀얼 심을 장착할 수 있는 스마트폰으로! 두 개를 가지고 다녀야 할 것을 하나로 줄여줄 수 있답니다!!! 자세한 내용.......]]></description>
					<pubDate>Wed, 14 Dec 2016 19:32:25 +0900</pubDate>
					<tag><![CDATA[샤오미,씨세론,미맥스,맥스,마음을번역하다,CICERON,번역은씨세론,ciceron]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[무슨일이에요?]]></category>
					<title><![CDATA[씨세론 태국출장기 | ITU Telecom World 2016]]></title>
					<link>http://blog.ciceron.me/220867724028</link>
					<guid>http://blog.ciceron.me/220867724028</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 오랜만에 인사드리는 씨세론 오늘은 태국출장 소식을 들고왔어요 :) 아마데우스님, 브라이언님, 코코님 이렇게 셋이 태국 출장길에 올랐는데요~! 이번에 ITU Telecom World 2016 행사에 KT의 이차장님의 전폭적인 지원을 받아 K-Champ 부스에 저희 씨세론이 참여하게 되었어요 :) ITU Telecom World 2016 ITU는 세계최대의 ICT전시회입니다 UN산하 전문기구인 ITU는 ICT분야에서 가장 오래되고 명성있는 기구로 올해 150주년을 맞이하는 최대규모 행사입니다! 세계적인 기업의 CEO, 업계 전문가들이 한자리에 모인다는 점에서 의미를 가집니다 2011년 스위스, 2012년 UAE, 2013년 태국, 2014년 카타르, 2015년 헝가리에.......]]></description>
					<pubDate>Tue, 22 Nov 2016 16:04:41 +0900</pubDate>
					<tag><![CDATA[itu,itutelecom,씨세론,번역,번역대행,태국,태국출장,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[cel talk 11월 '스타트업 엣싯(Exit)’]]></title>
					<link>http://blog.ciceron.me/220859248058</link>
					<guid>http://blog.ciceron.me/220859248058</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 :) 오늘은 여러분들께 기쁜소식 전해드립니다! 바로 스타트업에 관심이 많으신분들을 위한 행사! Start Up Exit행사인데요! 문화창조벤처단지에서 개최되는 행사입니다 :) 2016년 한해 스타트업계의 현주소를 점검하고, 스타트업 생태게의 선순환 구조구축을 위한 cel talk! 여러분들께 추천합니다! cel talk 11월 '스타트업 엣싯(Exit)’ http://onoffmix.com/event/82672행사신청은 이곳에서 하면 됩니다!! https://www.facebook.com/celventurecomplex/posts/1855994984634533 행사가 끝나고는 네트워킹 시간이 있으니 저희 씨세론 맴버들과도 네트워킹해요^^ cel talk 11월 '스타트업 엣싯(Exit)’]]></description>
					<pubDate>Fri, 11 Nov 2016 17:21:52 +0900</pubDate>
					<tag><![CDATA[행사,교육,강의,이벤트]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[빼빼로데이 | 씨세론 | 훈훈함이 있는 풍경]]></title>
					<link>http://blog.ciceron.me/220858895899</link>
					<guid>http://blog.ciceron.me/220858895899</guid>
					<description><![CDATA[안녕하세요! 오늘은 빼빼로데이입니다 저희 씨세론은 남자 5명이서 근무하는 우중충한 회사죠 :) 하지만 오늘 몽고메리님의 여자친구분께서 저희에게 아주 특별한 선물을 주셔서 소개해드리려고합니다! 바로 직접 만드신 수제강정을 선물로 주셨는데요! 몽고메리님 여자친구분의 정성으로 훈훈함이 있는 씨세론의 아침풍경 지금부터 공개합니다! 빼빼로데이 | 씨세론 손안에 쏙들어오는 사이즈로 씨세론 맴버들의 체지방량을 조절해주려는 배려가 돋보이는 강정 알파값이 각기 다른 하트와 모양과 패턴이 불규칙적이어서 눈이 편안해지는 디자인의 포장지였어요! 디테일이 살아있는 포장지! 빼빼로데이 | 씨세론 자칫 조청의 당분이 건강에 해로.......]]></description>
					<pubDate>Fri, 11 Nov 2016 10:35:07 +0900</pubDate>
					<tag><![CDATA[빼빼로데이,오늘부터,몽고메리님,영웅,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[무슨일이에요?]]></category>
					<title><![CDATA[Wolves Summit | 씨세론 | 폴란드 출장기]]></title>
					<link>http://blog.ciceron.me/220857427134</link>
					<guid>http://blog.ciceron.me/220857427134</guid>
					<description><![CDATA[브라이언님이 얼마전 다녀오신 울브스 서밋! 그 생생한 현장을 공개합니다 :) Wolves Summit | 씨세론 | 폴란드 출장기]]></description>
					<pubDate>Wed, 09 Nov 2016 16:04:06 +0900</pubDate>
					<tag><![CDATA[wolvessummit,울브스서밋,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[스타트업 박람회 | 디매치 | 씨세론 참여후기]]></title>
					<link>http://blog.ciceron.me/220853215921</link>
					<guid>http://blog.ciceron.me/220853215921</guid>
					<description><![CDATA[안녕하세요 씨세론입니다! 11월 3일 바로 어제! 스타트업 박람회 디매치 캠퍼스투어에 저의 씨세론이 참여했습니다 :) 고려대학교에서 진행된 이번 디매치 행사는 고려대학교 학생들이 많이들 참여해주셨고 다른 외부 학생들과 취업준비생분들도 많이 참석해주셨어요~~ 스타트업 박람회 | 디매치 | 씨세론 참여후기 스타트업의 소개와 여러가지 행사가 진행될 메인무대에요!ㅎㅎ 저희는 브라이언님과 코코님이 씨세론 소개를 해주셨답니다 :) 스타트업 박람회 | 디매치 | 씨세론 참여후기 저희 씨세론에서는 초콜릿을 준비했습니다 ㅎㅎ 별로 좋은건 아니지만 그래도 저희 부스를 찾아주시는 여러명의 지원자분들을 위해! 디매치 책자에 당당하게.......]]></description>
					<pubDate>Fri, 04 Nov 2016 15:12:26 +0900</pubDate>
					<tag><![CDATA[]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[경양식돈까스 맛집 | 을지로 비어할래]]></title>
					<link>http://blog.ciceron.me/220850753923</link>
					<guid>http://blog.ciceron.me/220850753923</guid>
					<description><![CDATA[영업시간 14:00~24:00 설날, 추석 당일 휴업. 주소 서울특별시 중구 다동 97 전화번호 02-778-4011 어렸을때 자주 먹던 돈까스 여러분들 혹시 기억하시나요? 치과가기 싫다고 때쓰던 우리를 달래려 돈까스사준다는 미끼로 치과에 데려갔던 부모님 그때 그시절 경양식돈까스집을 다시 방문해봤어요 :) 저희 씨세론 본사 근처에 위치한 비어할래 OB맥주의 전신 전통호프 비어할래에서 점심특선으로 경양식 돈까스를 제공하고 있었어요ㅎㅎ 경양식돈까스 맛집 | 을지로 비어할래 포크, 나이프, 수저 그리고 옛날식 의자와 장식들 맥주잔을 물컵으로 사용하는 호프집 점심의 풍경이 옛 모습을 떠올리게 만들어줍니다 :) 옛날옛날하는걸보면 저희도 이.......]]></description>
					<pubDate>Tue, 01 Nov 2016 15:10:33 +0900</pubDate>
					<tag><![CDATA[경양식돈까스,을지로돈까스,비어할래돈까스,비어할래,돈까스맛집]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[우리것은 우리손으로 | 씨세론 책상만들기]]></title>
					<link>http://blog.ciceron.me/220847751307</link>
					<guid>http://blog.ciceron.me/220847751307</guid>
					<description><![CDATA[안녕하세요 씨세론입니다! 저희 씨세론에서 직원을 모집하고 일도 많아지다보니 책상이 더 필요했습니다 그래서 저희 손으로 직접! (건축을 전공하신 아마데우스님의 주도하에) 책상을 만들기로 하였습니다 :) 우리것은 우리손으로 | 씨세론 책상만들기 제법 쌀쌀한 기운이 돌기 직전인 어느날 저희 씨세론 직원들이 목공소를 찾았는데요 바로 책상을 만들기 위해서!ㅋㅋㅋㅋ 우리것은 우리손으로 | 씨세론 책상만들기 한예종 직원분께서 가이드를 해주시고 여러가지 조언을 해주셔서 조금더 수월하게 작업할수 있었어요 ㅎㅎ 이자리를 빌어서 감사하다는 말씀전합니다 :) 아마데우스님, 코코님, 몽고메리님 이렇게 3명이서 작업을 진행했는데 주.......]]></description>
					<pubDate>Fri, 28 Oct 2016 16:30:00 +0900</pubDate>
					<tag><![CDATA[책상만들기,가구만들기,DIY,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[벨킨 아이폰 케이블 | 충전 케이블은 역시 벨킨]]></title>
					<link>http://blog.ciceron.me/220845703943</link>
					<guid>http://blog.ciceron.me/220845703943</guid>
					<description><![CDATA[아이폰 케이블 걱정에 짜증이 솟구쳤던 경험 있으신가요? 우연한 기회로 아마데우스님이 벨킨 아이폰 케이블을 획득하셔서 이렇게 여러분들께 추천해드리려고 가져왔습니다 :) 벨킨 아이폰 케이블 | 충전 케이블은 역시 벨킨 남자는 블랙이죠 시크한 블랙색상을 띄고 개봉된 벨킨 아이폰 케이블 한번 찬찬히 살펴 보겠습니다 ㅎㅎㅎ 벨킨 아이폰 케이블 | 충전 케이블은 역시 벨킨 일반 전선의 제질이 아닌 운동화 끈 제질로 되어있어서 변형과 굴곡에 강해보이는 베린 아이폰 케이블! 몇년을 써도 괜찮아보일것 같은데요!!ㅎㅎㅎ 바로 우리원하던 그런 제품인것 같아요! 충전도 엄청 잘되고 빠르고! 마음에 쏙드는군요 :) 아이폰7이 발표되고 출.......]]></description>
					<pubDate>Wed, 26 Oct 2016 09:54:39 +0900</pubDate>
					<tag><![CDATA[벨킨아이폰케이블,아이폰케이블,벨킨,번역,씨세론,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[문화가 있는날 | 일민미술관 | 직장인 무료입장]]></title>
					<link>http://blog.ciceron.me/220842106984</link>
					<guid>http://blog.ciceron.me/220842106984</guid>
					<description><![CDATA[안녕하세요 오랜만에 인사드리는 씨세론입니다 :) 이번 수요일에는 저희 씨세론의 문화가 있는 날이었어요! 회사 근처에 위치한 일민미술관! 광화문역에 있는 일민미술관 직장인 무료입장이벤트를 이용해 미술관작품을 관람했답니다!!ㅋㅋㅋ 문화가 있는날 | 일민미술관 | 직장인 무료입장 매주 수요일에는 11:30-13:30 직장인들에게는 무료로 개방하고 있어요! 명함과 신분증을 보여주면 무료로 티켓을 나눠주고있답니다 ㅋㅋㅋㅋㅋㅋ 문화가 있는날 | 일민미술관 | 직장인 무료입장 사실 미술에 조예가 깊은건 아니지만 잠깐의 문화생활 그리고 여유를 갖자는 취지에서 아마데우스님, 코코님, 몽고메리님이 배고픈 배를 부여잡고 점심시간까지.......]]></description>
					<pubDate>Mon, 24 Oct 2016 09:10:00 +0900</pubDate>
					<tag><![CDATA[일민미술관,김용익,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[교토마블 | 전달합니다 | 따뜻한 식후감]]></title>
					<link>http://blog.ciceron.me/220835266250</link>
					<guid>http://blog.ciceron.me/220835266250</guid>
					<description><![CDATA[안녕하세요! 씨세론입니다! 얼마전 스위프트 배움터가 끝났습니다! 총 3개의 앱이 심사중에 있고 심사가 완료되어 스토어에 판매게시되면 여러분들께 소개해드리려고합니다 :) 오늘은 한 맴버분께서 저희 직원들 드시라고 빵을 선물해주셨어요! 교토마블! 소개해드립니다!! 교토마블 | 전달합니다 | 따뜻한 식후감 교토마블은 메이플과 그린티가 가장 인기있다고해요! 포장이 고급스러워서 정말 뜯기가 싫었는데 이를 앙물고 뜯어보았어요 ㅎㅎ 열어보니 식빵 두개가 덩그러니 모습을 드러냈어요~ 녹차와 메이플 식빵인데 잘려있지 않고 통으로 들어있어서 조금 당황 ㅋㅋㅋㅋㅋㅋ 교토마블의 식빵 보관방법은 냉동고에 보관 그리고 전자렌지 혹.......]]></description>
					<pubDate>Thu, 13 Oct 2016 15:10:07 +0900</pubDate>
					<tag><![CDATA[교토마블,녹차식빵,메이플식빵]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[씨세론 | 수제양초 선물받다 ♬]]></title>
					<link>http://blog.ciceron.me/220830563140</link>
					<guid>http://blog.ciceron.me/220830563140</guid>
					<description><![CDATA[얼마전 씨세론에 큰 도움을 주고계신 분께서 양초를 선물해주셔서 여러분들께 소개해드립니다! 씨세론 | 수제양초 선물받다 ♬ 이게바로 수제양초! 한땀한땀 다 만드셨더라구요 ㅎㅎㅎㅎ 심지어 심지까지 자체제작! 풀로 한땀한땀 붙여서 만든 양초 :) 너무 감사한 마음으로 불을한번 붙여보겠습니다 활활타오르는 양초처럼 저희 씨세론도 불타오르도록 더열씸히 불을 붙여야겠어요 ㅎㅎ 씨세론 | 수제양초 선물받다 ♬]]></description>
					<pubDate>Fri, 07 Oct 2016 18:08:57 +0900</pubDate>
					<tag><![CDATA[씨세론,양초,선물,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[가나다라씨세론]]></category>
					<title><![CDATA[전문번역서비스 | 씨세론 | 지금바로 의뢰하세요!]]></title>
					<link>http://blog.ciceron.me/220824819237</link>
					<guid>http://blog.ciceron.me/220824819237</guid>
					<description><![CDATA[안녕하세요 오늘은 씨세론에 대한 소식을 전달하려고 합니다! 저희 씨세론의 서비스중 활발하게 진행중인 서비스! ’전문 번역서비스’ 입니다 다양한언어 씨세론은 10개국어의 언어를 지원합니다 영어, 중국어, 태국어, 일본어, 배트남어, 스페인어, 포르투갈어, 불어, 독일어, 러시아어 주요언어를 지원함으로써 고객여러분들의 편의를 최대한으로 존중합니다 :) 최적화 된 번역물 해당 언어만 구사하는 외국어 전공자 혹은 외국인이 번역할 경우 굉장히 어색한 결과물을 받아 보는게 대다수입니다. 번역과 관련된 일을 하시거나 해외쪽 일을 하시는 많은 분들이 이런 경험 한번쯤은 해보셨을텐데요. 저희 씨세론은 그 나라의 언어 뿐만아니라.......]]></description>
					<pubDate>Fri, 30 Sep 2016 17:00:00 +0900</pubDate>
					<tag><![CDATA[번역,번역대행,번역에이전시,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[씨세론 | 책으로 환해지다 | 루미오 무드등]]></title>
					<link>http://blog.ciceron.me/220823037055</link>
					<guid>http://blog.ciceron.me/220823037055</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 오늘은 미국출장에서 아마데우스님이 구매하셨던 무드등에 대해 포스팅하려고 합니다 :) 루미오제품인데 여심저격 무드등이라고 확신하는 제품ㅎㅎ 씨세론 | 책으로 환해지다 | 루미오 무드등 자 바로 이제품입니다! 루미오 로고가 세겨져있는 커버 커버로 책이 쌓여있는데 한번 벗겨보겠습니다! 네이비와 옐로우의 조합으로 색상이 조합되어있어요!ㅎㅎ 개인적으로 너무 좋아하는 꿀조합인데 :) 한번 책을 펴보겠습니다!!! 한손으로도 쉽게 펴지는 책! 책을 열면 이렇게 아름다운 조명이 on!!! 무드등으로 변신을 하게 됩니다 ㅎㅎ 책을 완전 다 열어서 표지끼리 붙이게 되면 이렇게 자석이 붙게됩니다 ㅎㅎ 활용가치가.......]]></description>
					<pubDate>Wed, 28 Sep 2016 16:00:00 +0900</pubDate>
					<tag><![CDATA[루미오무드등,무드등,루미오,조명,씨세론,번역,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[테크크런치 | 미국출장 | 씨세론 활약상]]></title>
					<link>http://blog.ciceron.me/220821904960</link>
					<guid>http://blog.ciceron.me/220821904960</guid>
					<description><![CDATA[얼마전 다녀온 테크크런치 씨세론의 미국출장 후기를 공개할게요 :) 씨세론에서는 9월 12-14 사흘간 열리는 Techcrunch Disrupt 행사에 참석했습니다! 역시 미쿡은 미쿡이다 라는 감탄사를 연발했는데 지금부터 그 현장속으로 출발합니다!! 테크크런치 | 미국출장 | 씨세론 활약상 씨세론의 부스입니다! 소프트웨어 전문번역기업 씨세론의 부스! 예쁘게 꾸며놨어요 ㅎㅎㅎ 테크크런치 | 미국출장 | 씨세론 활약상 여러기업과 참가자들이 저희 씨세론의 L18N서비스에 대해 관심을 가져주셨어요 ㅎㅎ 열심히 설명중인 브라이언님과 몽고메리님 :) 행사가 진행되는 동안 계속해서 무대에서는 세션이 진행되었구요 유명인사분들이 좋은 말씀을 굉장히.......]]></description>
					<pubDate>Tue, 27 Sep 2016 11:40:00 +0900</pubDate>
					<tag><![CDATA[테크크런치,techcrunch,disrupt,번역,번역대행,씨세론,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[포베이 시청 | 배트남 쌀국수 맛집]]></title>
					<link>http://blog.ciceron.me/220819137549</link>
					<guid>http://blog.ciceron.me/220819137549</guid>
					<description><![CDATA[영업시간 11:00~21:00 주소 서울특별시 중구 무교동 45 코오롱빌딩 2층 전화번호 02-318-2375 안녕하세요 씨세론입니다! 오늘 미국출장의 여파와 시차를 극복하기 위해 배트남 쌀국수를 먹었습니다! 시청에 위치한 포베이! 사실은 샌프란시스코에서 먹었던 아주 맛있는 쌀국수가 생각이 나서 ㅎㅎㅎㅎㅎㅎㅎ 포베이 시청 | 배트남 쌀국수 맛집 시청에 위치한 포베이 사람이 생각보다 너무 많아서 놀랐고 북적북적 바글바글 이었어요~! 포베이 시청 | 배트남 쌀국수 맛집 포베이 볶음밥은 사실 살짝 실망할만한 맛이었지만 볶음면과 쌀국수는 그래도 괜찮았다! 이정도입니다 ㅋㅋㅋ 포베이 시청 | 배트남 쌀국수 맛집]]></description>
					<pubDate>Fri, 23 Sep 2016 17:00:00 +0900</pubDate>
					<tag><![CDATA[포베이시청,포베이,배트남쌀국수,배트남,씨세론,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[무료강연 | 첨단기술의 융합 | 헬스케어로 말하다]]></title>
					<link>http://blog.ciceron.me/220818212061</link>
					<guid>http://blog.ciceron.me/220818212061</guid>
					<description><![CDATA[안녕하세요 씨세론이 입주해있는 한국관광공사 문화창조벤처단지에서 열리는 cel talk행사소식 여러분들께 전달해드립니다! 다음주 수요일 [첨단기술의 융합 헬스케어로 말한다]라는 주제로 컨퍼런스가 열리는데요! 무료강연 | 첨단기술의 융합 | 헬스케어로 말하다 웨이웨어러블이라는 기업 정말 유명한기업인데 IoT를 활용한 피부데이터 회사입니다! 문종수대표님께서 직접와주신다고한 너무나도 기대가 됩니다 :) 참가신청은 여기서 해주시면됩니다 :) http://onoffmix.com/event/77815 자세한 내용은 여기서 확인하시면됩니다 :) http://blog.naver.com/koccacel/220811832846 * 출처 : 한국콘텐츠진흥원]]></description>
					<pubDate>Thu, 22 Sep 2016 15:50:00 +0900</pubDate>
					<tag><![CDATA[무료강연,첨단기술의융합,헬스케어,iot]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[아이폰7 후기 | 개봉기 |  미국에서 공수해오다]]></title>
					<link>http://blog.ciceron.me/220817433995</link>
					<guid>http://blog.ciceron.me/220817433995</guid>
					<description><![CDATA[안녕하세요 오랜만에 씨세론입니다! 너무 오랜만이죠~? 샌프란시스코 출장을 돌아와 복귀신고하겠습니다! 인사드립니다! 씨세론입니다! ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 오늘 소개해드릴 포스팅 미국에서 직접 공수해온 아이폰7입니다! 얼마전 아이폰7이 공식 출시되었죠~? 바로 미국에서 아이폰7 로즈골드를 구매했습니다 :) 지금 여러분께 단독공개합니다!! 아이폰7 후기 | 개봉기 | 미국에서 공수해오다 예쁩니다. 포장자체가 예쁩니다 자사의 제품을 명품처럼 고귀하게 모시는 애플의 태도 본받아야 할듯합니다 저희 씨세론도 저희 씨세론의 제품을 아끼도록 하겠습니다 :) 아이폰7 후기 | 개봉기 | 미국에서 공수해오다 가장 큰 변화는 이어폰 단.......]]></description>
					<pubDate>Wed, 21 Sep 2016 17:40:00 +0900</pubDate>
					<tag><![CDATA[아이폰7,아이폰7후기,아이폰7로즈골드,아이폰7개봉기]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[종각 샌드위치 추천 | 카페 샌앤토 | 가격파괴]]></title>
					<link>http://blog.ciceron.me/220807230716</link>
					<guid>http://blog.ciceron.me/220807230716</guid>
					<description><![CDATA[영업시간 07:00~22:00 주소 서울시 종로구 청진동 3-2 전화번호 02-733-4504 안녕하세요 저희 씨세론 직원들은 테크크런치 준비로 바쁜 나머지 샌드위치를 포장해서 사무실에서 식사를 해결해야할때가 종종 있습니다 :) 그때마다 애용하는 새로생긴 샌드위치 가게! 카페 샌앤토입니다!! 종각 샌드위치 추천 | 카페 샌앤토 카페 샌앤토는 테이크아웃하는 분들이 많아서 테이크아웃 전문으로 생각할수도 있지만 안에 매장이 깔끔하게 존재하는 완소 카페! 카페 샌앤토는 생긴지 얼마안되어서 깔끔한 내부를 자랑하고 있고 음...또 뭐랄까 암튼 깔끔 깔끔 (?) ㅋㅋㅋㅋㅋㅋㅋㅋ 종각 샌드위치 추천 | 카페 샌앤토 이런거 참여 적극적으로 해야합니다.......]]></description>
					<pubDate>Fri, 09 Sep 2016 11:00:00 +0900</pubDate>
					<tag><![CDATA[카페샌앤토,샌앤토,종각샌드위치,종각역샌드위치,종각역맛집,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[CICÉRON Goods | 후드티 출시 | 존예 득템!]]></title>
					<link>http://blog.ciceron.me/220807189469</link>
					<guid>http://blog.ciceron.me/220807189469</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 이제 테크크런치로 미국행 비행기에 오르는 일이 얼마 안남았군요! 테크크런치 부스에서 씨세론을 홍보하기 위해서 후드티를 만들었는데 여러분들께 최초로 공개하겠습니다 :) CIC&#201;RON Goods | 후드티 출시 저희 이번에 바뀐 색깔이랑 최대한 비슷한 색깔로 제작을 했는데 아주 예쁘게 잘나왔습니다 :) 이리봐도 저리봐도 요리조리 둘러봐도 너무나도 예쁜 씨세론 후드티 파란색 티셔츠를 입고 전세계 여러나라 사람들 앞에서 씨세론을 알릴 생각을 하니 마음이 뿌듯뿌듯하네요 :) CIC&#201;RON Goods | 후드티 출시 대한민국에 누가 되지 않도록 최선을 다해서 홍보하도록 하겠습니다!! 여러분들의 많은 관심과 성.......]]></description>
					<pubDate>Thu, 08 Sep 2016 13:00:00 +0900</pubDate>
					<tag><![CDATA[씨세론후드티,ciceron,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[고려대학교 경영대학 스타트업 연구원 | KUBS | 씨세론 입성하다]]></title>
					<link>http://blog.ciceron.me/220806891946</link>
					<guid>http://blog.ciceron.me/220806891946</guid>
					<description><![CDATA[여러분 안녕하세요 씨세론입니다 :) 오늘 기쁜소식 한가지를 들고왔습니다!! 얼마전 고려대학교 경영대학 스타트업 연구원 선발식에서 저희 씨세론이 장려상을 수상해서 9월 중순에 오픈하는 KUBS에 입주하게 되었습니다! 고려대학교 경영대학 스타트업 연구원 | KUBS 9월 6일에 드디어 개원식이 진행되었는데 저희 씨세론 맴버들도 초대받아 개원식에 참석했어요! 저기 보이는 가운데 건물! 저건물이 KUBS 스타트업 연구원 건물입니다! 저희 씨세론의 지사가 될 저 건물!!! 저희와 함께 입주하는 다른 기업들의 직원분들과 다른 교수님들, 귀빈 여러분들이 참석해주셨어요 ㅎㅎㅎ 고려대학교 경영대학 스타트업 연구원 | KUBS 부채와 순서지를 받.......]]></description>
					<pubDate>Wed, 07 Sep 2016 12:00:00 +0900</pubDate>
					<tag><![CDATA[고려대학교경영대학스타트업연구원,스타트업연구원,startup,kubs,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[새마을식당 김치찌개 | 약속된맛 | 5000원의 행복]]></title>
					<link>http://blog.ciceron.me/220805877912</link>
					<guid>http://blog.ciceron.me/220805877912</guid>
					<description><![CDATA[주소 서울시 종로구 관수동 3-3 전화번호02-2279-4239 안녕하세요 씨세론입니다 얼마전 저희 직원들은 김치찌개가 땡겨서 새마을식당에 다녀왔습니다 새마을식당에 7분김치찌개 여러분들 드셔보셨나요? 바로 약속된 맛입니다 :) 새마을식당 김치찌개 | 5000원의 행복 종로에 위치한 새마을식당 언제봐도 저 간판은 정말 믿음직스럽습니다 여러분들도 마찬가지 이신가요? ㅎㅎㅎㅎㅎㅎ 새마을식당 김치찌개 | 5000원의 행복 기본적인 3찬이 나오고 대접밥과 함께 김 + 김치찌개가 나와요ㅎ 새마을식당 김치찌개 | 5000원의 행복 자작자작 한 국물에 고기가 듬뿍! 돼지고기가 분해되어있는 양푼이 김치찌개 :) 새마을식당 김치찌개 | 5000원의 행복.......]]></description>
					<pubDate>Tue, 06 Sep 2016 10:30:00 +0900</pubDate>
					<tag><![CDATA[새마을식당김치찌개,종로김치찌개,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[스위프트 따라잡기]]></category>
					<title><![CDATA[Swift(스위프트) 배움터 강좌 05 | 텝바 컨트롤러 & 웹뷰]]></title>
					<link>http://blog.ciceron.me/220805026173</link>
					<guid>http://blog.ciceron.me/220805026173</guid>
					<description><![CDATA[Swift(스위프트) 기초 강좌 05 | 텝바 컨트롤러 &amp; 웹뷰 안녕하세요 씨세론입니다! 지난주 문화창조벤처단지에서 진행된 스위프트 배움터 5번째 시간에서는 텝바컨트롤러와 웹뷰에 대해 실습을 진행했습니다 :) 여러분들 시계앱 다들 사용해보셨죠~? 이렇게 아래부분에 4개의 탭으로 나뉜메뉴들 이게바로 탭바입니다 ㅎㅎㅎ 그리고 이렇게 인터넷 창을 띄울수 있는것 그게바로 웹뷰입니다!!! 탭바 컨트롤러와 웹뷰! 아주 유용하구요~ 기대되겠죠~?ㅎㅎㅎ Swift(스위프트) 기초 강좌 05 | 텝바 컨트롤러 &amp; 웹뷰 https://youtu.be/2JK1LGgaWMU?list=PLT06bg24I9ptgwxRDU_EHWsJba60iDISBhttps://youtu.be/PTYzEq7yvEc?list=PLT06bg24I9ptgwxR.......]]></description>
					<pubDate>Mon, 05 Sep 2016 11:00:00 +0900</pubDate>
					<tag><![CDATA[스위프트기초,스위프트강좌,swift기초,swift강좌,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[광화문 맛집 | 전주밥차 | 군대 생각]]></title>
					<link>http://blog.ciceron.me/220802906110</link>
					<guid>http://blog.ciceron.me/220802906110</guid>
					<description><![CDATA[영업시간 11:00~20:00 주소 서울시 종로구 청진동 70 그랑서울 1층 전화번호 02-2158-7919 안녕하세요 씨세론입니다 :) 오늘 여러분들께 소개해드릴 맛집은 전주밥차! 음..군대생각이 약간? ㅎㅎㅎ 났던 전주밥차입니다 !!! 광화문 맛집 | 전주밥차 한끼에 8800원 한식뷔페 여러분들의 선택은? 당연히 저희 직원들은 오케이입니다! 이렇게 저렴한 가격으로 이정도 퀄리티의 한식뷔페 어디 없다고 자부합니다! ㅎㅎㅎㅎ 광화문 맛집 | 전주밥차 이날의 메뉴는 돈까스였는데 김치, 김자반, 샐러드, 가지 볶음 등등의 밑반찬도 완전 집밥! 집밥의 향기를 느낄 수 있었던 전주밥차였습니다 ㅎㅎㅎ 광화문 맛집 | 전주밥차]]></description>
					<pubDate>Fri, 02 Sep 2016 15:00:00 +0900</pubDate>
					<tag><![CDATA[광화문맛집,전주밥차,종로식객촌맛집,광화문전주밥차]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[무슨일이에요?]]></category>
					<title><![CDATA[TechCrunch Disrupt 2016 | SanFran | 씨세론 미국출장갑니다]]></title>
					<link>http://blog.ciceron.me/220801465434</link>
					<guid>http://blog.ciceron.me/220801465434</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 저희 씨세론이 이번 9월에 샌프란시스코에서 열리는 TechCrunch Disrupt 2016에 참가하게 되었습니다 북미 최대규모의 정보기술 온라인매체인 테크크런치가 2011년을 시작으로 매년 개최하는 창업 컨퍼런스인데요! 이번 샌프란시스코 축제에 저희 씨세론이 참여기업으로 선정되어 미국으로 출장가게 되었습니다! TechCrunch Disrupt 2016 | SanFrancisco Startup Battlefield Thought Leadership Startup Alley Hackathon등 여러가지 프로그램으로 구성되어있는 이번 테크크런치에서 저희 씨세론은 파빌리온으로 들어가서 파빌리온 안에서 3일동안 저희 기술과 플랫폼을 홍보하게 됩니다!! 지난번 프랑스 출장보다 더 기.......]]></description>
					<pubDate>Wed, 31 Aug 2016 18:10:46 +0900</pubDate>
					<tag><![CDATA[테크크런치,techcrunch,disrupt,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[뜻밖의 선물 | 일하다 스트레스 받을 때 | 엔터키]]></title>
					<link>http://blog.ciceron.me/220800473969</link>
					<guid>http://blog.ciceron.me/220800473969</guid>
					<description><![CDATA[안녕하세요 씨세론입니다! 저희 씨세론은 요즘 다양한 업무로 열정적인 삶을 살고 있는 직원들의 스트레스가 이만저만이 아닙니다! 그래서 마로님께서 저희 씨세론 직원들 특히 브라이언님을 위한 선물을 준비했습니다 엔터키를 이렇게 USB포트에 연결한뒤에! 화가 날때마다 이렇게 내려치면 됩니다 엔터가 진짜로 입력이되구요! ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 진짜 화날때마다 있는 힘껏 내리면 됩니다 :) 스트레스 많이 받으시는 분들은 한번 구입해보셔요 ㅎㅎ 스트레스 푸는데는 직빵 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ]]></description>
					<pubDate>Tue, 30 Aug 2016 17:00:00 +0900</pubDate>
					<tag><![CDATA[화날때,필요한,아이템,엔터키쿠션,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[종각역 고기집 | 반갑다 하대포 | 직원들 점심 포식]]></title>
					<link>http://blog.ciceron.me/220799646352</link>
					<guid>http://blog.ciceron.me/220799646352</guid>
					<description><![CDATA[안녕하세요 점심때 고기먹는 회사 씨세론입니다 오늘도 역시 직원들의 체력 증진 차원에서 씨세론에서는 삼겹살과 목살을 먹었습니다 :) 종각역 고기집 | 반갑다 하대포 분위기는 깔끔 오픈한지 정말 얼마안됐다고 하더라구요 ㅎㅎ (음...한달이하?) 그래서 그런지 사람도 바글바글 ㅎㅎ 먼저 목살부터 시작해봅니다 음..일단 이 반갑다하대포의 고기는 두꺼운게 특징 얇은고기는 육즙이 금방 말라서 식감이 건조한데 토실토실한 목살의 두께가 어마어마해서 육즙을 그대로 간직하고 있습니다 :) 종각역 고기집 | 반갑다 하대포 다음으로는 삼겹살 :) 사실 목살보다 삼겹살을 좀더 좋아하는 편인데 음...삼겹살보다 목살이 더 맛있는 신기한 하대.......]]></description>
					<pubDate>Mon, 29 Aug 2016 18:00:00 +0900</pubDate>
					<tag><![CDATA[종각역고기집,반갑다하대포,종각역맛집,씨세론,번역,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[교육용 음악앱 | Peer Gynt | 프랑스 스타트업의 노력]]></title>
					<link>http://blog.ciceron.me/220797164722</link>
					<guid>http://blog.ciceron.me/220797164722</guid>
					<description><![CDATA[안녕하세요 오늘 소개해드릴 앱은 프랑스 스타트업 소닉솔베이지에서 개발한 Peer Gynt라는 음악앱입니다! 교육용으로 출시한 이 Peer Gynt는 저희 프랑스으로 출장때 인연이 되었던 스타트업입니다! 교육용 음악앱 | Peer Gynt 겨울이 배경인데 아주 따뜻한 느낌의 배경화면 Peer Gynt 로딩화면 이 굉장히 따뜻해요 :) 새를 누르면 오른쪽에서 메뉴가 팝업되고 음악게임을 할 수 있어요 ㅎㅎ 교육용 음악앱 | Peer Gynt 첫번째 게임은 악기 소리내기인데요! 북치고 장구치고 트라이앵글 여러가지 타악기의 소리를 들을 수 있습니다 그리고 이렇게 여러가지 카드를 골라 게임을 즐길 수도 있는데 한가지 한가지 소개해드릴게요 :) 교육용 음악앱.......]]></description>
					<pubDate>Fri, 26 Aug 2016 12:30:00 +0900</pubDate>
					<tag><![CDATA[음악용교육앱,교육앱,음악어플,씨세론,번역,번역대행,번역은씨세론,peergynt]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[스위프트 따라잡기]]></category>
					<title><![CDATA[Swift(스위프트) 배움터 강좌 04 | 테이블뷰 컨트롤러릴 이용한 할일목록앱 만들기]]></title>
					<link>http://blog.ciceron.me/220796256582</link>
					<guid>http://blog.ciceron.me/220796256582</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 화요일에 진행되었던 Swift배움터 4번째 시간에서 테이블뷰 컨트롤러를 이용해서 할일목록앱을 제작해봤는데요! 너무 간단해서 모두들 '목록추가'까지 성공을했습니다 :) Swift(스위프트) 배움터 강좌 04 | 테이블뷰 컨트롤러릴 이용한 할일목록앱 만들기 쉽지는 않았지만 열심히 따라와주신 덕분에 참여자 전원 실습 앱을 만들수 있었습니다! 참여하지 못하신 분들을 위해서 동영상으로 준비해봤습니다! https://youtu.be/4powrapDZt0 모르는 사항있으시면 언제든지 질문해주시면 친절히 답변해드리겠습니다! 여러분 무더위가 서서히 가고있습니다! 화이팅 :)]]></description>
					<pubDate>Thu, 25 Aug 2016 12:00:00 +0900</pubDate>
					<tag><![CDATA[스위프트강좌,스위프트초보,Swift기초,swift강좌,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[cel talk 8월, '웹툰 전성시대_차세대 콘텐츠 산업 먹거리로']]></title>
					<link>http://blog.ciceron.me/220795449841</link>
					<guid>http://blog.ciceron.me/220795449841</guid>
					<description><![CDATA[안녕하세요 씨세론입니다 오늘은 여러분들께 알찬소식 전달해드리려구요! 저희 씨세론이 입주해있는 한국관광공사 문화창조벤처단지내에 콘텐츠진흥원에서 8월 cel talk '웹툰 전성시대_차세대 콘텐츠 산업 먹거리로'라는 컨퍼런스를 개최합니다 ㅎㅎ 대중문화 핫 트랜드와 연계한 이번 행사는 인기 웹툰의 영화, 드라마, 뮤지컬 등 다양한 장르의 플랫폼의 성장과 수익모델의 개발에 대해 얘기한다고 합니다! http://onoffmix.com/event/75772 온오프믹스로 신청이 가능한데요! 세종대 만화애니메이션학과 한창완교수님께서 모더레이터를 맡아주셔서 더욱더 기대되는 Cel Talk !! http://www.g-enews.com/ko-kr/news/article/news_all/201608230.......]]></description>
					<pubDate>Wed, 24 Aug 2016 14:00:00 +0900</pubDate>
					<tag><![CDATA[celtalk,웹툰전성시대,차세대콘텐츠산업,먹거리로,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[종각 부대찌개 | 박가부대찌개 | 놀부보다낫다]]></title>
					<link>http://blog.ciceron.me/220794456065</link>
					<guid>http://blog.ciceron.me/220794456065</guid>
					<description><![CDATA[영업시간 11:00-22:00 주소 서울시 종로구 관철동 13-16 전화번호 02-723-2112 안녕하세요 오랜만에 씨세론입니다 저희 씨세론이 9월 중순에 미국출장을 가게됩니다! 그것 때문에 바쁜 시간을 보내고 있는 우리 씨세론 맴버들 앞으로 미국출장(테크크런치)에 대한 내용도 알차게 소식전하겠습니다 기대해주thㅔ요!! 종각 부대찌개 | 박가부대찌개 예전에 학교다닐때 점심시간마다 뭘먹을지 고민하는 그 고민사거리가 생각나는데요... 항상 고민됩니다.. 오늘 뭘먹을지... ㅠㅠㅠ 종각 부대찌개 | 박가부대찌개 박가부대찌개로 들어갔습니다! 역시 인기가 절정을 달리는 박가부대찌개! 부대찌개 맛집중에 가장 손님이 많다죠~? 3인세트에는 떡갈비.......]]></description>
					<pubDate>Tue, 23 Aug 2016 14:00:00 +0900</pubDate>
					<tag><![CDATA[종로맛집,종로부대찌개,종각부대찌개,박가부대찌개,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[스위프트 따라잡기]]></category>
					<title><![CDATA[비전공자들을 위한 Swift(스위프트) 배움터 | 리얼후기]]></title>
					<link>http://blog.ciceron.me/220791505902</link>
					<guid>http://blog.ciceron.me/220791505902</guid>
					<description><![CDATA[안녕하세요 씨세론입니다! 스위프트 배움터를 시작한지 어느덧 3주가 흘렀습니다 여러분들과 그 과정과 후기를 공유하고자 합니다 :) 비전공자들을 위한 Swift(스위프트) 배움터 실시간 모임순위 1위를 기록하면서 장안의 화재로 떠올랐던 씨세론의 스위프트 배움터!! 비전공자들을 위한 Swift(스위프트) 배움터 매주 문화창조벤처단지에서 열리고있는 스위프트배움터 씨세론에서는 코코님의 리드하에 마로님, 브라이언님, 아마데우스님, 몽고메리님이 지원해주고 계십니다 코드를 처음다뤄보지만 그 열정만큼은 그 어떤 슈퍼개발자에 밀리지 않는데요!! 비전공자들을 위한 Swift(스위프트) 배움터 한주한주 배워가면서 실습을 통해 성장해나가는.......]]></description>
					<pubDate>Fri, 19 Aug 2016 15:00:00 +0900</pubDate>
					<tag><![CDATA[스위프트배움터,스위프트,Swift강좌,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[여의도 초밥 | 동해도 씨푸드 뷔페 | 나에게 고맙다]]></title>
					<link>http://blog.ciceron.me/220790526325</link>
					<guid>http://blog.ciceron.me/220790526325</guid>
					<description><![CDATA[영업시간 평일11:30~15:30 평일런치 평일17:30~22:00 평일디너 주말11:30~22:00 주말,공휴일 주소서울특별시 영등포구 여의도동 25-11 유수홀딩스빌딩 지하1층 전화번호 02-761-8300 여의도에서 초밥을 찾는분들께 전해드리고 싶은 씨푸드 뷔페 동해도입니다 저희 씨세론 맴버들이 함께 다녀온 동해도 씨푸드 뷔페 가격부터 공개합니다!! 평일런치(성인)36,000원 평일디너(성인)48,000원 주말,공휴일(성인)56,000원 평일런치(초등학생)22,000원 평일디너(초등학생)28,000원 주말,공휴(초등학생)28,000원 미취학아동(48개월~7세)15,000원 여의도 초밥 | 동해도 씨푸드 뷔페 여의도역 6번출구 한진해운 건물에 위치한 동해도 씨푸드 뷔페 지하 1층.......]]></description>
					<pubDate>Thu, 18 Aug 2016 13:30:00 +0900</pubDate>
					<tag><![CDATA[여의도초밥,동해도씨푸드뷔페,초밥뷔페,여의도맛집,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[델 모니터 | 34인치 | U3415W]]></title>
					<link>http://blog.ciceron.me/220789975020</link>
					<guid>http://blog.ciceron.me/220789975020</guid>
					<description><![CDATA[안녕하세요 저희 씨세론에서 델 모니터를 구입했습니다!! 모니터가 없었던 코코님위한 씨세론의 작은배려 델 모니터 | 34인치 | U3415W 해외직구를 통한 배송 정말 빠르더라구요 ㅎㅎ 저희가 바로 구매한 제품은 U3415W 모델로써 34인치를 자랑합니다! 아마데우스님의 작은 마음도 담겨있는...ㅎㅎ 박스부터 엄청 큰 델 모니터인데요!! 델 모니터 | 34인치 | U3415W는 곡면으로 되어있어서 눈을 편안하게 하고 가독성이 좋기로 소문난 슈퍼모니터!! 코코님 이제부터 더더욱 빡시게 일하셔야겠어용(?) 델 모니터 | 34인치 | U3415W]]></description>
					<pubDate>Wed, 17 Aug 2016 18:30:00 +0900</pubDate>
					<tag><![CDATA[델모니터,u3415w,곡면모니터,델,dell,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[을지로 순대국 | 참맛 순대국 | 단골 생겼어요]]></title>
					<link>http://blog.ciceron.me/220786040153</link>
					<guid>http://blog.ciceron.me/220786040153</guid>
					<description><![CDATA[주소 서울특별시 중구 다동 174 전화번호02-777-5411 안녕하세요 ~~ 씨세론입니다!! 불타는 금요일 오늘은 어떤 계획이 있으신가요? 저희 씨세론 직원들은 9월 미국출장을 위해 열심히 준비중이랍니다 을지로 순대국 | 참맛 순대국 오늘은 배를 든든하게 채워줄 수 있는 순대국을 소개해드립니다! 바로 참맛순대국! ㅎㅎㅎ 이름부터 참맛!! 회사근처에 있는데 점심시간에 줄이 아주 바글바글해서 살짝 늦은 점심 1시에 출동을 했어요 ㅎㅎ 을지로 순대국 | 참맛 순대국 김치, 깍두기 , 양파, 고추 등 기본반찬이 주를 이루고 신선도는 덤으로 :) 아주 뜨끈뜨끈한 순대국이 등장했습니다 기본순대국 7000원 아. 순대의 비주얼이 마치 천안의 병천.......]]></description>
					<pubDate>Fri, 12 Aug 2016 15:00:00 +0900</pubDate>
					<tag><![CDATA[을지로순대국,참맛순대국,청계천순대국,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[고대 카페 | 보헤미안 | 조용한 옛날식 다방]]></title>
					<link>http://blog.ciceron.me/220785190064</link>
					<guid>http://blog.ciceron.me/220785190064</guid>
					<description><![CDATA[영업시간 12:00~05:00 주말, 공휴일 휴무 주소 서울특별시 성북구 안암동5가 15-85 전화번호 02-927-7949 안녕하세요 씨세론입니다 ;) 지난번 방문했던 고려대학교에서 맛난 냉면을 먹고 커피를 마셨던 카페를 소개해드립니다! 이름은 보헤미안입니다 ㅎㅎ 고대 카페 | 보헤미안 나무 베이스의 분위기 엔티크함이 느껴지는 적막함 :) 고대 카페 | 보헤미안 보헤미안의 아메리카노는 따로없고 더치커피입니다! 깔끔하고 무난했던 보헤미안 더치커피 사실은 그 안에 분위기와 시원한 에어컨바람이 좋았어요 :) 고대 카페 | 보헤미안]]></description>
					<pubDate>Thu, 11 Aug 2016 15:00:00 +0900</pubDate>
					<tag><![CDATA[고대카페,고대보헤미안,카페보헤미안,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[광화문 샌드위치 | 샌드위밋 | 품격 높이자]]></title>
					<link>http://blog.ciceron.me/220784252970</link>
					<guid>http://blog.ciceron.me/220784252970</guid>
					<description><![CDATA[영업시간 08:00~21:00 / 11:00~19:00(일요일) 주소 서울특별시 종로구 청진동 246 전화번호02-2251-8191 안녕하세요! 요새 많이 바쁘시죠~? 더우시죠~? 덥고 바쁠때 끼니를 간단하고 깔끔하게 해치울 수 있는 샌드위치 가게를 소개해드립니다 광화문에 있는 샌드위밋이라는 곳인데 새로오픈한 곳입니다 :) 광화문 샌드위치 | 샌드위밋 광화문 D타워에 위치한 샌드위밋! 오픈한지 얼마안되어 사람들이 바글바글 아주 많죠~? 오픈이벤트로 SNS에 인증샷을 올리면 이렇게 샌드위치 케이스(?)를 선물로 주고 있었어요! 광화문 샌드위치 | 샌드위밋 젤 맛있는 샐러드!! 저희 씨세론 맴버들은 포장을 했답니당 :) 광화문 샌드위치 | 샌드위밋 개인적으.......]]></description>
					<pubDate>Wed, 10 Aug 2016 14:00:00 +0900</pubDate>
					<tag><![CDATA[광화문샌드위치,샌드위밋,샌드위치맛집,광화문맛집,번역,씨세론,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[스위프트 따라잡기]]></category>
					<title><![CDATA[비전공자를 위한 Swift(스위프트) 배움터 - 개강 후기]]></title>
					<link>http://blog.ciceron.me/220783204606</link>
					<guid>http://blog.ciceron.me/220783204606</guid>
					<description><![CDATA[안녕하세요! 8월 2일 역사적인 순간! 씨세론 스위프트 배움터가 개강을 했습니다 :) 11명의 맴버들이 전원 참석을 해주신가운데 열띤 2시간이 진행되었습니다! 이번시간에는 프로그래밍 기초와 기본적인 스위프트 문법에 대하여 실습해봤습니다! Swift는 굉장히 빠르게 성장하는 언어이자 비전공자들도 쉽게 익힐 수 있는 편리한 언어입니다 :) 10월 4일 10주가 되는 그날 맴버분들의 앱이 모두 스토어에 올라가는 것을 목표로 힘차게 달려봅시다!!]]></description>
					<pubDate>Tue, 09 Aug 2016 11:30:00 +0900</pubDate>
					<tag><![CDATA[비전공자를위한스위프트배움터,스위프트,스위프트강좌,스위프트강의,씨세론,번역,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[고려대 냉면 | 서울쌈냉면 | 고기주는 냉면집]]></title>
					<link>http://blog.ciceron.me/220782567492</link>
					<guid>http://blog.ciceron.me/220782567492</guid>
					<description><![CDATA[영업시간 10:00~20:30 주소 서울특별시 성북구 안암동5가 147-9 전화번호 02-929-4610 안녕하세요! 푹푹찌는날씨 씨세론입니다! 저희 씨세론 맴버들이 고려대학교 미팅을 잠깐 다녀왔는데 점심으로 먹었던 고려대 냉면집을 소개시켜드리려구요 ㅎ 잠깐 들러서 후루룩 먹었는데 하도 인상에 깊었어요! 고려대학교 학생들도 고려대 냉면 하면 바로 알고있는 서울쌈냉면입니다 :) 고려대 냉면 | 서울쌈냉면 무더운 여름날에 냉면만한것이 없죠! 서울쌈냉면으로 후루룩 들어가보시죠! 점심시간이라그런지 학생들이 정말 바글바글 하더라구요! 고대학생들 냉면 정말 좋아하는듯!! 고려대 냉면 | 서울쌈냉면 기본으로 나오는 육수는 정말 맛있었어요! 육.......]]></description>
					<pubDate>Mon, 08 Aug 2016 16:00:00 +0900</pubDate>
					<tag><![CDATA[고려대냉면,고대냉면,서울쌈냉면,냉갈,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[청계천 카페 | 스몰하우스빅도어 | 작은집, 큰문]]></title>
					<link>http://blog.ciceron.me/220780371824</link>
					<guid>http://blog.ciceron.me/220780371824</guid>
					<description><![CDATA[영업시간 00:00~24:00 주소 서울특별시 중구 다동 115 전화번호 02-2038-8191 안녕하세요 오늘 소개해드릴 카페는 청계천 카페입니다 :) 이름이 정말 마음에 쏙드는 카페! Small House Big Door 작은집 큰문 뭔가 의미있는것 같지 않나요? 스몰하우스빅도어로 여러분들을 초대합니다!! 청계천 카페 | 스몰하우스빅도어 | 작은집, 큰문 사실 스몰하우스빅도어는 카페가 아니라 호텔입니다! 스몰하우스빅도어라는 호텔이 있고 그 호텔 1층에 카페가 있는형태죠 :) 일단 들어가보겠습니당 구석구석 아기자기하고 깔끔한듯 귀여운 인테리어 여기까지는 별 다른 예쁜카페랑 다를바가 없어보입니다! 하지만 자세히 디테일하게 보면! 청계천 카페 | 스몰.......]]></description>
					<pubDate>Fri, 05 Aug 2016 15:00:00 +0900</pubDate>
					<tag><![CDATA[청계천카페,스몰하우스빅도어,작은집큰문,을지로카페,smallhousebigdoor,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[별일없이 산다\'-'/]]></category>
					<title><![CDATA[스타벅스 화분 키트 | 네번째 후기]]></title>
					<link>http://blog.ciceron.me/220779364639</link>
					<guid>http://blog.ciceron.me/220779364639</guid>
					<description><![CDATA[안녕하세요 씨세론입니다! 혹시 기억하시려나요~? 저희가 지난 5월에 스타벅스 행사로 받았던 스위트 바질!! http://blog.naver.com/ciceron_mate/220700173552바로 이 포스팅에서 스타벅스 화분 키트를 처음으로 심었었죠 :) 이렇게 파릇파릇하던데 엊그제 같은데 벌써 8월의 시간이 흘렀습니다!! 이렇게 새싹이 자라나고! 분갈이도 해주고! 일광욕과 벌래퇴치도 해줘가면서 정성스럽게 돌봐주었습니다 :) 현재 8월 초 이렇게나 자라났습니다!!!! 처음에 새싹이던 바질들이 이렇게나 자라나는 모습을 보면서 저희 씨세론과 참 많이 닮았다는 생각이 들더라구요ㅎㅎㅎ 앞으로 더더욱 잘 키워서 무럭무럭 자라나서 바질 파스타를 요리하는 그 순간.......]]></description>
					<pubDate>Thu, 04 Aug 2016 12:30:00 +0900</pubDate>
					<tag><![CDATA[스타벅스바질,스위트바질,바질후기,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
				<item>
					<author></author>
					<category><![CDATA[종각역 5번출구]]></category>
					<title><![CDATA[종각역 중국집 | 청계면관 | 아쉽습니다]]></title>
					<link>http://blog.ciceron.me/220778596754</link>
					<guid>http://blog.ciceron.me/220778596754</guid>
					<description><![CDATA[영업시간 매일 11:00~21:30 주소 종로구 관철동 246-2 2층 전화번호02-779-0709 안녕하세요 씨세론입니다 :) 오늘소개해드릴 맛집 조금은 아쉬웠던 청계천 중국집이었습니다 종각역 청계면관이라는 곳인데 청계천에 있어서 이름도 청계면관인가봅니다ㅎㅎ 종각역 중국집 | 청계면관 2층과 3층을 사용하는 청계면관 ㅎㅎ 북적북적대는 손님들로봐서는 이집....설마 맛집~? 기대를했습니당 ㅎㅎ 종각역 중국집 | 청계면관 닭고기 탕수육입니다! 깐풍기는 아닌데 달콤한 탕수육소스에 닭고기가! 약간 부드러운 닭강정? 소스가 너무 강해요... 마파두부 덮밥! 요건 그냥 쏘쏘! 고추짜장! 요건 괜찮았어요! 매콤하고 먹을만했던! 종각역 중국집 | 청계.......]]></description>
					<pubDate>Wed, 03 Aug 2016 14:50:00 +0900</pubDate>
					<tag><![CDATA[종각역중국집,청계천중국집,청계면관,종각역맛집,종각중국집,씨세론,번역,번역대행,번역은씨세론]]></tag>
					<activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
					<activity:object-type>http://activitystrea.ms/schema/1.0/blog-entry</activity:object-type>
				</item>
			
		
		
	
</channel>
</rss>
