<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <!--<meta name="theme-color" content="#08C1CE">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0,user-scalable=yes">
		
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="<%- url %>">
		<meta name="twitter:title" content="<%- param.file.name %>">
		<meta name="twitter:description" content="<%- param.file.description %>">
		<meta name="twitter:image" content="<%- param.file.cover %>">

		<meta property="og:title" content="<%- param.file.name %>"/>
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="<%- url %>"/>
		<meta property="og:description" content="<%- param.file.description %>"/>
		<meta property="og:image" content="<%- param.file.cover %>"/>

		<title>CICÉRON</title>
		<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>-->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!--<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>-->
        <!--<link rel="stylesheet" type="text/css" media="all" href="css/jquery-ui.css">-->
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
        <link rel="stylesheet" type="text/css" media="all" href="/css/ciceron-file.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script>
			var secure_url = "<%- global.secure_url %>";
			var project_id = "<%- param.file.project_id %>";
			var language_id = "<%- param.file.language_id %>";
			var previewFileList = <%- JSON.stringify(param.file.previewFileList) %>;
			// var date = "<%- param.file.date %>";
			// var time = "<%- param.file.time %>";
			var date = new Date().toLocaleDateString();
			var time = new Date().toLocaleTimeString();
		</script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80552336-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-80552336-1');
        </script>
    </head>

    <body>
<!--		
		<div class="popup">
			<%- include div/language %>
		</div>-->
		<!-- <div class="file_intro">
		</div> -->
		

		<div class="wrap">
			<div class="header">
				<div class="header-back" onclick="location.href = '/';">
					<!-- <i class="ion-ios-arrow-left"></i> -->
				</div>
				<!--<div class="header-logo">
					<i class="fa fa-file-pdf-o" aria-hidden="true"> 샤오미 전동 스쿠터 매뉴얼 - Translated by CICÉRON</i>
				</div>-->
				<div class="header-menu">
					<!-- <button class="buttons btnLanguage">다른 언어</button>/ -->
					<button class="buttons btnShare" style="border-color: #00b3e6; background-color: #00b3e6; color: #ffffff;">공유하기</button>
					<!-- <button class="buttons btnDownload" style="border-color: #00b3e6; background-color: #00b3e6; color: #ffffff;">무료로 콘텐츠를 받으세요.</button> -->
				</div>
			</div>
			<div class="cover" style="background-color: #00779a;">
					<!-- <div class="cover" style="background-image: url(<%- param.file.cover %>)"> -->
				<!-- <div class="cover-grad"></div> -->
				<div class="cover-text">
					<div class="container">
						<span class="cover-subtitle"><%- param.file.description %></span>
						<br />
						<span class="cover-title"><%- param.file.name %></span>
					</div>
				</div>
			</div>
			<div class="content container">
				<div class="content-translateBy">
					<img src="/img/11.png" />
					<span class="content-translator">
						CICÉRON<br />TEAM
					</span>
				</div>
				<div class="content-date">
					<span>번역 요청 시간: </span>
					<!-- <span><%- param.file.date %></span>
					<span><%- param.file.time %></span> -->
					<span><%- new Date().toLocaleDateString() %></span>
					<span><%- new Date().toLocaleTimeString() %></span>
				</div>
				<div class="content-preview">

				</div>
				<!-- <% param.file.previewFileList.map(function(file){ %>
					<img src="/file/<%- req.params.id %>/lang/<%- param.file.language_id %>/preview/<%= file.id %>" />
				<% }) %> -->
				<!-- <div class="content-downloadonly">
					이 문서는 미리보기입니다.
					<br />
					<br />
					<button class="buttons btnShare">공유하기</button>
					<button class="buttons btnDownload" style="border-color: #00b3e6; background-color: #00b3e6; color: #ffffff;">다운로드</button>
				</div> -->
<!-- 
				<% for(var i=parseInt(param.file.preview_count / 2); i<param.file.preview_count; i++){ %>
					<img src="/file/<%- req.params.id %>/lang/<%- param.file.language_id %>/preview/<%= i %>" />
				<% }; %> -->
				
				<div class="content-downloadonly">
					이 콘텐츠는 무료로 제공됩니다.
					<br />
					<br />
					<button class="buttons btnShare" style="border-color: #00b3e6; background-color: #00b3e6; color: #ffffff;">공유하기</button>
					<!-- <button class="buttons btnDownload" style="border-color: #00b3e6; background-color: #00b3e6; color: #ffffff;">다운로드</button> -->
				</div>

				
			</div>
			<div class="footer">
				<div class="footer-language">
					<a href="#">한국어</a>
				</div>
				<div class="footer-menu">
					<a href="/">© 2017 CICÉRON Inc.</a>
					<a href="/terms">이용약관</a>
					<a href="/privacy">개인정보취급방침</a>
					<!-- <a href="#">도움말</a> -->
					<a href="#">의견</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="file_language">
			
			<div class="file_language-close">
				<!--<i class="ion-ios-close-empty"></i>-->
			</div>
			<div class="container">
				<span class="language-title">콘텐츠 언어</span>
				<div class="language-select selected" style="border-color: #003478;">한국어</div>
				<div class="language-select" style="border-color: #002147;">영어</div>
				<div class="language-select" style="border-color: #BE2239;">중국어</div>
				
				<span class="language-title">사이트 언어</span>
				<div class="language-select" style="border-color: #003478;">한국어</div>
				<div class="language-select selected" style="border-color: #002147;">영어</div>
				<div class="language-select" style="border-color: #BE2239;">중국어</div>
				
				<div class="clearfix"></div>
			</div>

		</div>
		
		<div class="file_download">
			<form id="frmDownload">
				<div class="file_download-close">
					<!--<i class="ion-ios-close-empty"></i>-->
				</div>
				<span class="file_download-title">
					다운로드
				</span>
				<div class="container">
					<span class="file_download-subtitle">
						다운로드 링크를 받을 이메일 주소를 입력해주세요.
					</span>
				</div>
				<div class="container">
					<input type="email" name="email" class="file_download-input" value="<%- user.email %>"/><i class="ion-arrow-right-c file_download-submit" onclick="$('#frmDownload').submit();"></i>
				</div>
				<!--<span class="sign-context">아래 버튼을 누르면 저희의 <a href="/docs/policy">이용약관</a> 및 <a href="/docs/privacy">개인정보취급방침</a>에 동의하는 것으로 간주됩니다.</span><br /><br /><br />
				<button class="buttons" type="submit" style="width: 100%; max-width: 400px;">제출</button>-->
			</form>
		</div>

	
		

		<div class="file_share" style="padding-top: 3em;">
			<!--<span class="file_share-title">
				공유
			</span>-->
			<div class="file_share-close">
				<!--<i class="ion-ios-close-empty"></i>-->
			</div>
			<div class="container">
				<input type="text" class="file_share-input" id="file_share-link" readonly/>
				<button class="file_share-button" id="file_share-copy" style="position: absolute; right: 0px; bottom: 5%;"><i class="fa fa-files-o" aria-hidden="true"></i></button>
			</div>
			OR<br /><br />
			<div class="container">
				<a class="file_share-button" href="https://www.facebook.com/sharer/sharer.php?u=<%- encodedUrl %>&display=popup&ref=plugin&src=share_button" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
				<a class="file_share-button" href="https://twitter.com/intent/tweet?url=<%- encodedUrl %>" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				
			</div>
		</div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!--<script src="/js/lib/jquery.ddslick.min.js"></script>
        <script src="/js/lib/i18n.js"></script>
        <script src="/js/lib/divhelper.js"></script>-->
        <script src="/js/global.js"></script>
        <script src="/js/<%= filename %>.js"></script>
    </body>
    
</html>
