<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="theme-color" content="#08C1CE">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>CICÉRON</title>
		<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>-->
        <!--<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>-->
        <!--<link rel="stylesheet" type="text/css" media="all" href="css/jquery-ui.css">-->
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
        <link rel="stylesheet" type="text/css" media="all" href="/css/ciceron-main.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script>
			var secure_url = "<%- global.secure_url %>";
		</script>
    </head>

    <body>
		<div class="header">
			<div class="container">
				<div class="header-left">
					<a href="/">
						<img src="/img/logo.png" class="header-left-logo" />
					</a>
				</div>
				<div class="header-right" style="line-height: 60px;">
					<span class="header-right-menu">
						<!--<a href="" class="header-right-a">HOME</a>-->
						<!--<a href="" class="header-right-a">PRICING</a>-->
						<!--<a href="" class="header-right-a">PRODUCTS</a>
						<a href="" class="header-right-a">CONTACT</a>
						<a href="" class="header-right-a">FAQ</a>-->
					</span>
					<button id="header-signin" type="button" class="buttons-full" style="background-color: transparent; color: #231f20;" >SIGN IN</button>
					<!--<span style="color: #FFFFFF">|</span>
					<form class="signup" style="display: inline-block;">
						<input type="text" name="email" placeholder="Enter your email" style="margin: 0px;"/>
						<button type="submit" class="buttons-full" style="margin: 0px;">Get Started</button>
					</form>-->
					<!--<button type="button" class="buttons-full">SIGN UP</button>-->
				</div>
			</div>
		</div>