<%- include header %>
	<!--<div class="popup">
		<%- include div/request %>
	</div>-->
	
	<div class="main contents">
		<!--<div class="main-request-temp">
			견적 의뢰 진행중인 문서가 있습니다.<br /><a href="<%- global.secure_url %>/docs/request-temp">이 메세지가 나타나는 이유</a>
		</div>-->
		<div class="container">
			<div class="main-request2">
				<span class="main-request-title">문서 번역이 필요할 땐, 일단 물어보세요</span>
				<!--<span class="main-request-title">믿고 맡기는 씨세론</span>-->
				<!--<img class="main-request-logo" src="/img/logo-fit.png" />-->
				<br />
				<!--<button class="main-request-button-file">파일 끌어오기</button> -->
				<!--<button class="main-request-button">텍스트 의뢰</button>-->
				<!--<button class="main-request-button">문서 파일 의뢰</button>-->
				<button class="main-request-button" onclick="popup('request');">지금 바로 견적 의뢰하기</button>
				<!--<button class="main-request-button">애플리케이션/웹</button>-->
				<span style="display: block; font-size: 12px; font-weight: 100;">
					※의뢰 시 제출한 문서는 계약 여부와 상관없이 안전하게 파기됩니다.
				</span>
			</div>
		</div>
		<div class="main-sample">
			<div class="container">
				<span class="main-title">
					번역 샘플
				</span>
				<span class="main-title-right">
					모두 보기 &gt;
				</span>
				<div class="main-sample-list">
					<!--<div class="main-sample-list-wrapper">-->
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/1.jpg');"/>
							<span class="main-sample-list-item-title">샘플 1</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/2.jpg');"/>
							<span class="main-sample-list-item-title">샘플 2</span>
							<span class="main-sample-list-item-content">한국어, 영어, 베트남어, 중국어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/3.jpg');"/>
							<span class="main-sample-list-item-title">샘플 3</span>
							<span class="main-sample-list-item-content">한국어, 영어, 중국어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/4.jpg');"/>
							<span class="main-sample-list-item-title">샘플 4</span>
							<span class="main-sample-list-item-content">한국어, 영어, 일본어, 포르투갈어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/5.jpg');"/>
							<span class="main-sample-list-item-title">샘플 5</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/6.jpg');"/>
							<span class="main-sample-list-item-title">샘플 6</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/1.jpg');"/>
							<span class="main-sample-list-item-title">샘플 7</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>

<%- include footer %>
