<%- include header %>

<!--<%= user.user_email %>-->
<div class="landing-intro">
	<div class="landing-intro-content">
		<div class="container">
			<div class="landing-intro-left">
				<span class="landing-intro-left-title">
					Save time for the <span style="font-weight: 700;">localization</span> of your apps or websites.
				</span>
				<button class="landing-intro-left-button">
					▶ WATCH THE VIDEO
				</button>
			</div>
			<div class="landing-intro-right">
				<form class="signup">
					<span class="landing-intro-right-title">
						You can start for free.
					</span>
					<table style="width: 100%;">
						<tbody>
							<tr>
								<td><input type="text" name="email" style="width: 100%;" placeholder="Enter your email"/></td>
								<td><button type="submit" class="buttons-full" style="width: 100%;">Get Started</button></td>
							</tr>
						</tbody>
					</table>
					<span class="landing-intro-right-context">Powerful products, Easy setting, No fee for tools.</span>
					<hr />
					<table class="landing-intro-right-logos">
						<tbody>
							<tr>
								<td><img src="/img/logos/1.png" /></td>
								<td><img src="/img/logos/2.png" /></td>
								<td><img src="/img/logos/3.png" /></td>
								<td><img src="/img/logos/4.png" /></td>

							</tr>
						</tbody>
					</table>
					
					<div class="logos">
						
					</div>
				</form>
			</div>
			<div class="landing-intro-navigate">
				<img src="/img/navigate.png" />
			</div>
		</div>
	</div>
</div>

<div class="landing-section">
	<div class="container">
		
	</div>
</div>
	
<%- include footer %>
