<%- include header %>


	<div class="main contents">
		<div class="container">
			<div class="main-request">
				<div class="main-request-left">
					<span class="main-title">번역하고 싶은 것을 선택해주세요.</span>
					
					<input type="radio" id="main-request-type-input1" class="main-request-type-input" name="request_type" checked="checked"/>
					<label for="main-request-type-input1" class="main-request-type-label">텍스트</label>
					<input type="radio" id="main-request-type-input2" class="main-request-type-input" name="request_type"/>
					<label for="main-request-type-input2" class="main-request-type-label">문서 파일</label>
					<input type="radio" id="main-request-type-input3" class="main-request-type-input" name="request_type"/>
					<label for="main-request-type-input3" class="main-request-type-label">애플리케이션/웹</label>
					
					<div id="main-request-type-div1" class="main-request-type-div">
						<textarea placeholder="번역하고자 하는 텍스트를 입력하세요." class="main-request-textarea" rows="1" required></textarea>
					</div>	
					<div id="main-request-type-div2" class="main-request-type-div">
						준비중
					</div>
					<div id="main-request-type-div3" class="main-request-type-div">
						준비중
					</div>
				</div>
				<div class="main-request-right">
					<span class="main-request-title">정보 요약</span>
					<span class="main-request-summery-title">글자 수: </span>
					<span class="main-request-summery-content">0</span>
					<div class="clearfix"></div>
					<span class="main-request-summery-title">단어 수: </span>
					<span class="main-request-summery-content">0</span>
					<div class="clearfix"></div>
					<span class="main-request-summery-title">언어: </span>
					<span class="main-request-summery-content">한국어</span>
					<div class="clearfix"></div>
					<span class="main-request-summery-title">언어당 $0(약 0원) 부터 번역 가능합니다.</span>
				</div>
				<div class="clearfix"></div>
				<div class="main-request-left">
					<button type="button" class="main-request-next">다음 단계로</button>					
				</div>

			</div>
		</div>
		<div class="main-sample">
			<div class="container">
				<span class="main-title">
					추천 번역 샘플
				</span>
				<div class="main-sample-list">
					<!--<div class="main-sample-list-wrapper">-->
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/1.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/2.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어, 베트남어, 중국어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/3.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어, 중국어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/4.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어, 일본어, 포르투갈어포르투갈어포르투갈어포르투갈어포르투갈어포르투갈어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/5.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/6.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						<div class="main-sample-list-item">
							<img class="main-sample-list-item-background" src="/img/32.png" style="background-image:url('/img/1.jpg');"/>
							<span class="main-sample-list-item-title">번역 샘플이다</span>
							<span class="main-sample-list-item-content">한국어, 영어</span>
						</div>
						
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>

<%- include footer %>
