<%- include header %>

<div class="contents">
	<div class="main">
		<div class="container">
			<div class="main-request">
				<div class="main-request-left">
					<span class="main-request-title">번역하고 싶은 것을 선택해주세요.</span>
					<input type="radio" id="main-request-type-input1" class="main-request-type-input" name="request_type" checked="checked"/>
					<label for="main-request-type-input1" class="main-request-type-label">텍스트</label>
					<input type="radio" id="main-request-type-input2" class="main-request-type-input" name="request_type"/>
					<label for="main-request-type-input2" class="main-request-type-label">문서 파일</label>
					<input type="radio" id="main-request-type-input3" class="main-request-type-input" name="request_type"/>
					<label for="main-request-type-input3" class="main-request-type-label">애플리케이션/웹</label>
					
					<div id="main-request-type-div1" class="main-request-type-div">
						<textarea placeholder="번역하고자 하는 텍스트를 입력하세요." class="main-request-textarea"></textarea>
					</div>	
					<div id="main-request-type-div2" class="main-request-type-div">
						파일 선택
					</div>
					<div id="main-request-type-div3" class="main-request-type-div">
						준비중
					</div>
					<button type="button" class="main-request-next">다음 단계로</button>
				</div>
				<div class="main-request-right">

				</div>
			</div>
		</div>
	</div>
</div>

<%- include footer %>
