<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>translation_view</title>
    <link type="text/css" rel="stylesheet" href="./css/transView.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="header_wrap"></div>
    <div class="wrap">
    <header>
        <a href="/ai1">
            <img src="./img/translation_logo.png" />
        </a>
        <!--<ul>
            <li><a href="#" class="login">로그인</a></li>
            <li><a href="#" class="signUp">회원가입</a></li>
            <li><a href="#" class="find">아이디/비밀번호 찾기</a></li>
        </ul>-->
        <div>

            <!-- <select name="lang_select" disabled> -->
            <select name="lang_select">
                <option value="1">한국어 >> 영어</option>
                <option value="0" >영어 >> 한국어</option>
            </select>

            <span class="mobile_ai_link">
                <a href="ai1">이전 페이지로 >></a>
            </span>
        </div>
    </header>
    <div class="clearfix"></div>