<div id="loading1">
    <img src="/img/ciceron_logo2.png" />
</div>
<div id="loading2">
    <img src="/img/icon3.png" /><br />
    <div id="loadingText">
        TRANSLATING
        <!-- <span></span> -->
    </div>
</div>

<div class="cssload-wrap">
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>Loading...</div>
</div>