<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <link type="text/css" rel="stylesheet" href="/css/transView.css" />
</head>
<body>
    <header>
        <h1 class="logo">CICERON</h1>
    </header>
    <div class="clearfix"></div>
    <section>
        <div class="loginBox">
            <span class="title">로그인</span>
            <input type="text" id="login" placeholder="E-Mail" /><br />
            <input type="password" id="pass" placeholder="PASS" />
            <button>로그인</button>
        </div>
        <div class="clearfix"></div>
        <div id="subBox">
            <div class="left">
                <input type="checkbox" id="memory" name="memory" /><label for="memory">아이디 저장</label>
            </div>
            <div class="right">
                <a href="/ai/signUp" value="회원가입">회원가입 ㅣ</a>
                <a href="/ai/myInfo_find" value="아이디찾기">아이디/비밀번호 찾기</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="line">------------&nbsp;&nbsp; 소셜로그인 &nbsp;&nbsp;------------</div>
        <div class="clearfix"></div>
        <div id="subLoginBox">
            <button>facebook</button>
            <button>google</button>
            <button>카카오</button>
        <div>
    </section>
    <div class="clearfix"></div>
    <footer class="footer">CICERON 번역기를 이용해 주셔서 감사합니다.</footer>
</body>
</html>