/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);*/

@font-face {
    font-family: 'KBIZ';
    src: url('/static/fonts/KBIZ.woff');
}

@media screen{
    *{
        margin: 0px;
        outline: none;
    }
    img{
        border: none;
    }   
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
/*    
    body *{
        overflow: hidden;
    }*/
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'KBIZ', sans-serif;
        overflow-x: hidden; 
        
    }

    .header{
        width: 100%;
        height: 60px;
        padding: 10px;
        position: fixed;
        left: 0px;
        top: 0px;
        
    }

    .header .header_background{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        z-index: -1;

    }
    
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: 100%;
        overflow: hidden;
        position:  relative;
    }

    pre{
        font-family: 'KBIZ', sans-serif;
        
    }
    
}

@media screen and (max-width:960px){
    
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (max-width:640px){
    
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media screen and (min-width:961px){
    
    .container{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1024px){

    .container{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}