<%- include header %>
    <div class="text_counter_container invisible">
        <div class="text_counter_popup">
            <span class="close"></span>
            <h1>Word Count</h1>
            <textarea placeholder="텍스트 공간" id="text"></textarea>
            <div class="text_counter_span">
                단어수 :
                <span id="wordCount"> 0 </span>자 &nbsp;&nbsp;&nbsp; 글자수 :
                <span id="totalChars"> 0 </span>자 (공백 포함) &nbsp;&nbsp;&nbsp; 글자수 :
                <span id="charCountNoSpace"> 0 </span>자 (공백 미포함)
            </div>
            <div id="result"></div>
            <div class="buttons">
                <button class="text_copy">복사</button>
                <button class="text_delete">모두 지우기</button>
                <button class="text_input">입력</button>
            </div>
        </div>
    </div>

    <div class="request_popup_wrap invisible">
        <div class="request_popup">
            <div class="popup_content">
                <img src="img/thank.png" />
                <h1>번역의뢰가 완료되었습니다.</h1>
                <br/>
                <span>2시간 이내로 메일로 결제창을 보내드립니다.</span>
                <span>결제가 완료되어야 번역에 착수합니다.</span>
            </div>
            <div class="under">
                <button type="button">홈으로</button>
            </div>
        </div>
    </div>
    <div class="form-header" style="border-top-color: #07b3e7;">
        <div class="container">
            <div class="form-header-top">
                <div class="form-header-logo">
                    <img src="img/logo-fit.png" style="height: 30px; vertical-align: mibble;">
                    <nav>
                        <div class="button">
                            <div class="mobile-nav-toggle">
                                <span> </span>
                                <span> </span>
                                <span> </span>
                            </div>
                        </div>
                        <div class="nav-wrapper">
                            <ul id="menu">
                                <li>
                                    <a href="#main_step" class="price_btn">의뢰 step</a>
                                </li>
                                <li>
                                    <a href="#main_party" class="about_btn">why us</a>
                                </li>
                                <li>
                                    <a href="#company-map" class="contact_btn" style="padding-right:30px;">contact</a>
                                </li>
                                <li>
                                    <button class="free_request">무료견적의뢰</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- <span class="form-header-title">우리는 번역을 잘합니다.</span>
                <span class="form-header-content">Translate your Possibility</span> -->
            </div>
        </div>
    </div>

    <div class="form-request">
        <div class="container">
            <!-- <ul class="slides">
                <input type="radio" name="radio-btn" id="img-1" checked />
                <li class="slide-container">
                    <div class="slide slide1">
                        <div></div>
                    </div>
                    <div class="nav">
                        <label for="img-3" class="prev">&#x2039;</label>
                        <label for="img-2" class="next">&#x203a;</label>
                    </div>
                </li>

                <input type="radio" name="radio-btn" id="img-2" />
                <li class="slide-container">
                    <div class="slide slide2">
                        <div></div>
                    </div>
                    <div class="nav">
                        <label for="img-1" class="prev">&#x2039;</label>
                        <label for="img-3" class="next">&#x203a;</label>
                    </div>
                </li>

                <input type="radio" name="radio-btn" id="img-3" />
                <li class="slide-container">
                    <div class="slide slide3">
                        <div></div>
                    </div>
                    <div class="nav">
                        <label for="img-2" class="prev">&#x2039;</label>
                        <label for="img-4" class="next">&#x203a;</label>
                    </div>
                </li>
                <input type="radio" name="radio-btn" id="img-4" checked />
                <li class="slide-container">
                    <div class="slide slide4">
                        <div></div>
                    </div>
                    <div class="nav">
                        <label for="img-3" class="prev">&#x2039;</label>
                        <label for="img-5" class="next">&#x203a;</label>
                    </div>
                </li>
                <input type="radio" name="radio-btn" id="img-5" checked />
                <li class="slide-container">
                    <div class="slide slide5">
                        <div></div>
                    </div>
                    <div class="nav">
                        <label for="img-4" class="prev">&#x2039;</label>
                        <label for="img-6" class="next">&#x203a;</label>
                    </div>
                </li>
                <input type="radio" name="radio-btn" id="img-6" checked />
                <li class="slide-container">
                    <div class="slide slide6">
                        <div></div>
                    </div>
                    <div class="nav">
                        <label for="img-5" class="prev">&#x2039;</label>
                        <label for="img-1" class="next">&#x203a;</label>
                    </div>
                </li>

                <li class="nav-dots">
                    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                    <label for="img-6" class="nav-dot" id="img-dot-6"></label>
                </li>
            </ul> -->
            <div class="slides">
                <div class="slide-container">
                    <div class="slide">
                        <div class="web_img"></div>
                        <div class="mobile_img"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-request-shape"></div>

        <span class="form-header-title">우리는 번역을 잘합니다.</span>
        <span class="form-header-content">Translate your Possibility</span>
    </div>

    <div class="container">

        <div class="form-request-inside">
            <h2>부담없이
                <strong>의뢰</strong>하세요.</h2>
            <h3>2시간 이내에 견적서를 메일로 받아볼 수 있습니다.
                <br>(영업시간 기준)</h3>

            <form method="POST" id="form-request">
                <div class="div70">
                    <div class="main_step">
                        <div class="inside_header" style="display:none;">
                            <span>무엇을 번역하시겠어요?</span>
                            <br />
                            <span>무엇을 번역하시겠어요?</span>
                        </div>

                        <div class="inside_left inside_doc">
                            <label>문서 종류</label>
                        </div>
                        <div class="inside_right inside_doc" style="text-align:justify;">
                            <input type="radio" name="subject" id="subject1" value="자기소개서(영문)" required>
                            <label for='subject1'>자기소개서(영문)</label>
                            <input type="radio" name="subject" id="subject2" value="아포스티유/공증">
                            <label for='subject2'>아포스티유/공증</label>
                            <input type="radio" name="subject" id="subject3" value="커버레터(영문)">
                            <label for='subject3'>커버레터(영문)</label>
                            <input type="radio" name="subject" id="subject4" value="이력서(영문)">
                            <label for='subject4'>이력서(영문)</label>
                            <input type="radio" name="subject" id="subject5" value="논문 초록">
                            <label for='subject5'>논문 초록</label>
                            <input type="radio" name="subject" id="subject6" value="해외 이메일">
                            <label for='subject6'>해외 이메일</label>
                            <input type="radio" name="subject" id="subject7" value="기타문서 의뢰">
                            <label for='subject7'>기타문서 의뢰</label>
                        </div>
                        <br/>

                        <div class="clearfix"></div>

                        <div class="inside_left">
                            <label>의뢰문서</label>
                        </div>
                        <div class="inside_right">
                            <div class="request_text">
                                <textarea onfocus="textarea_focus(false)" onblur="textarea_blur()"></textarea>
                                <div class="file_wrap">
                                    <span onclick="textarea_focus(true)">번역 의뢰할 텍스트를 붙여 넣거나 </span>
                                    <input type="file" name="file" multiple id="request_file" />
                                    <button type="button" class="file_delete_btn" style="display:none;"></button>
                                </div>
                            </div>
                        </div>

                        <div class="inside_left">
                            <label for="original_language">언어선택</label>
                        </div>
                        <div class="inside_right">
                            <div class="language_content">
                                <select class="original_language" id="original_language" name="original_language">
                                    
                                </select>
                                <i class="ion-arrow-right-c"></i>
                                <select class="target_language" name="target_language">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="inside_left etc_lang invisible">
                            <label>기타언어</label>
                        </div>
                        <div class="inside_right etc_lang invisible">
                            <input type="text" placeholder="기타언어 선택 시 의뢰할 언어를 적어주세요.">
                        </div>
                    </div>

                    <div class="main_step invisible">
                        <div class="inside_header">
                            <span>언제까지 번역을 완료할까요?</span>
                            <br />
                            <span>긴급도에 따라 추가 할증이 발생합니다.</span>
                            <span class="now_date"></span>
                        </div>
                        <div class="step2_btn">
                            <ul>
                                <li value="1" multi="1">
                                    <span>넉넉해요
                                        <sub>(최대5일 소요)</sub>
                                    </span>
                                    <br/>
                                    <span class="request_complete">예상 완료일
                                        <br/>
                                        <span class="deadline"></span>
                                    </span>
                                </li>
                                <li value="2" multi="1.3">
                                    <span>급해요
                                        <sub>(내일 모레 자정)</sub>
                                    </span>
                                    <br/>
                                    <span class="request_complete">예상 완료일
                                        <br/>
                                        <span class="deadline"></span>
                                    </span>
                                </li>
                                <li value="3" multi="1.5">
                                    <span>짱 급해요
                                        <sub>(내일 자정)</sub>
                                    </span>
                                    <br/>
                                    <span class="request_complete">예상 완료일
                                        <br/>
                                        <span class="deadline"></span>
                                    </span>
                                </li>
                            </ul>
                            <br/>
                            <!-- <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/> -->
                        </div>
                    </div>

                    <div class="main_step invisible">
                        <div class="inside_header">
                            <span>할인쿠폰이 있으신가요?</span>
                            <br />
                            <span>쿠폰을 선택하시면 결제금액에 자동 적용됩니다.</span>
                        </div>
                        <div class="inside_left">
                            <label for="coupon_btn">쿠폰</label>
                        </div>
                        <div class="inside_right">
                            <input type="text" id="coupon" placeholder="ex) C00000" />
                            <button type="button" class="coupon_btn" id="coupon_btn">쿠폰적용</button>
                        </div>
                        <div class="inside_left">
                            <label for="name">이름</label>
                        </div>
                        <div class="inside_right">
                            <input type="text" name="name" id="name" required/>
                        </div>
                        <div class="inside_left">
                            <label for="email">이메일</label>
                        </div>
                        <div class="inside_right">
                            <input type="email" name="email" id="email" placeholder="chingoo@ciceron.me" required/>
                            <sup>번역완료물을 받으실 메일을 적어주세요.</sup>
                        </div>

                    </div>

                    <div class="request_btn">
                        <button type="button" class="prev_btn invisible">이전</button>
                        <button type="button" class="next_btn">다음</button>
                    </div>
                    <br/>
                    <br/>
                    <div class="submit_check" style="display: none;">
                        <label for="terms_check">
                            <input type="checkbox" id="terms_check" required />
                            <a href="//ciceron.me/terms" target="_blank">'이용약관'</a>에 동의합니다.
                        </label>
                        <br/>
                        <label for="privacy_check">
                            <input type="checkbox" id="privacy_check" required />
                            <a href="//ciceron.me/privacy" target="_blank">'개인정보처리방침'</a>에 동의합니다.
                        </label>

                        <br/>
                        <br/>

                        <div class="div30_inside privacy_table">
                            <div class="privacy_table_row">
                                <div class="privacy_table_cell">
                                    <span>목적</span>
                                </div>
                                <div class="privacy_table_cell">
                                    <span>항목</span>
                                </div>
                                <div class="privacy_table_cell">
                                    <span>보유기간</span>
                                </div>
                            </div>
                            <div class="privacy_table_row">
                                <div class="privacy_table_cell">
                                    <span>이용자 및 의뢰 식별</span>
                                </div>
                                <div class="privacy_table_cell">
                                    <span>연락처(이메일), 이름</span>
                                </div>
                                <div class="privacy_table_cell">
                                    <span>의뢰 완료시부터 3년</span>
                                </div>
                            </div>
                            <div class="privacy_table_row">
                                <div class="privacy_table_cell">
                                    <span>고객서비스 이용에 관한 통지, CS 대응을 위한 이용자식별
                                    </span>
                                </div>
                                <div class="privacy_table_cell">
                                    <span>연락처(이메일), 이름</span>
                                </div>
                                <div class="privacy_table_cell">
                                    <span>의뢰 완료시부터 3년</span>
                                </div>
                            </div>
                        </div>
                        <div class="request_btn">
                            <button type="submit" class="payment_btn">견적의뢰</button>
                        </div>
                    </div>

                </div>

                <div class="div30">
                    <div class="inside_header">
                        <span>Your Order</span>
                    </div>
                    <br/>

                    <div class="div30_inside inside_doc">
                        <span>문서</span>
                        <span class="subject">자기소개서(영문)</span>
                    </div>

                    <div class="div30_inside word_lang">
                        <span>단어수</span>
                        <span class="count_word">0</span> 단어
                        <span>(공백포함:
                            <span class="blank_count">0</span> 단어)</span>
                    </div>

                    <div class="div30_inside text_lang invisible">
                        <span>글자수</span>
                        <span class="count_text">0</span> 자
                        <span>(공백포함:
                            <span class="blank_text">0</span> 자)</span>
                    </div>

                    <div class="div30_inside">
                        <span>파일</span>
                        <span class="file_name"></span>
                    </div>

                    <div class="div30_inside">
                        <span class="choose_language">언어</span>
                        <div class="language_content">
                            <span class="original_lang">한국어</span>
                            <i class="ion-arrow-right-c"></i>
                            <span class="target_lang">영어(미국) / 미국</span>
                        </div>
                    </div>
                    <div class="div30_inside">
                        <span class="urgency">긴급도</span>
                        <span class="urgency_rate"></span>
                        <!-- <sub>(단어당<span>0</span>원)</sub> -->
                    </div>
                    <div class="div30_inside total_price">
                        <span>예상금액</span>
                        <span class="total">
                            <span></span>
                        </span>원
                    </div>



                </div>

                <div class="help_text">
                    <ul>
                        <!-- <li>* 단가표/ 전문요율이 반영되지 않은 단가표로 변동될 수 있습니다.</li> -->
                        <li>* 단가는 A4용지 장 당 기준 입니다.</li>
                        <li>* 한국어 220단어, 영문 250단어, 중문 일문 650자, 기타 220단어 기준입니다.</li>
                        <li>* 번역문서의 전문성, 긴급정도에 따라 추가요금 발생 할 수 있습니다.</li>
                        <li>* 원어민 감수 서비스 원하실 경우 추가비용이 발생됩니다.</li>
                        <li>* 외국어 → 외국어 번역 및 기타 언어는
                            <a href="mailto:contact@ciceron.me" target="_blank">contact@ciceron.me</a>로 문의해 주세요.</li>
                        <li>* 장애신고는
                            <a href="//goo.gl/forms/cQMkN2gpYXOBtruz2" target="_blank">여기</a>를 클릭하세요.</li>
                    </ul>
                </div>

                <!-- <div class="div3 explanation">
                    <div class="input-line">
                        <div class="input-title"><sup>*</sup>E-mail</div>
                        <div class="input-content"><input name="email" type="email" placeholder="ex) chingoo@ciceron.me" required="">
                            <span class="input-help">
							이메일을 적어주세요.					
						</span>
                        </div>
                    </div>

                    <div class="input-line">
                        <div class="input-title"><sup>*</sup>성명</div>
                        <div class="input-content"><input name="name" type="text" required="">
                            <span class="input-help">
							성명을 적어주세요.					
						</span>
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-title"><sup>*</sup>문서종류</div>
                        <div class="input-content"><input id="form-request-subject" name="subject" type="text" placeholder="ex) 보고서" required="" autocomplete="off">
                            <span class="input-help">
							언어를 선택해주세요.					
						</span></div>
                    </div>
                </div>

                <div class="div3 explanation">
                    <div class="input-line">
                        <div class="input-title"><sup>*</sup>언어</div>
                        <div class="input-content">
                            <select class="original_language" required> 
                                <option value="">원본언어</option>
                                <option value="1">한국어</option>
                                <option value="2">영어(미국) / 미국</option>
                                <option value="3">영어(영국) / 영국</option>
                                <option value="4">북경어(중국) / 중국본토</option>
                                <option value="5">광동어(중국) / 중국(홍콩, 마카오)</option>
                                <option value="6">태국어</option>
                                <option value="7">대만어(중국)</option>
                                <option value="8">일본어</option>
                                <option value="9">스페인어</option>
                                <option value="10">포르투갈어</option>
                                <option value="11">베트남어</option>
                                <option value="12">독일어</option>
                                <option value="13">프랑스어</option>
                            </select>
                            <i class="fa fa-long-arrow-right" style="margin:12px 7px; display:inline-block;"></i>
                            <select class="target_language" required style="float:right;"> 
                                <option value="">번역언어</option>
                                <option value="2">영어(미국) / 미국</option>
                                <option value="1">한국어</option>
                                <option value="3">영어(영국) / 영국</option>
                                <option value="4">북경어(중국) / 중국본토</option>
                                <option value="5">광동어(중국) / 중국(홍콩, 마카오)</option>
                                <option value="6">태국어</option>
                                <option value="7">대만어(중국)</option>
                                <option value="8">일본어</option>
                                <option value="9">스페인어</option>
                                <option value="10">포르투갈어</option>
                                <option  value="11">베트남어</option>
                                <option value="12">독일어</option>
                                <option value="13">프랑스어</option>
                            </select>
                            <div class="clearfix"></div>
                            <span class="input-help">
							언어를 선택해주세요.					
						</span>
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-title"><sup>*</sup>마감일</div>
                        <div class="input-content"><input name="deadline" type="text" required="" class="ui-autocomplete-input input-deadline "></div>
                    </div>
                    <div class="input-line">
                        <div class="input-title"><sup>*</sup>메세지</div>
                        <div class="input-content"><textarea name="context" type="text" placeholder="분야 및 번역시 필요사항을 알려주세요." rows="10" required="" style="height:66px;"></textarea></div>
                    </div>
                </div>

                <div class="div3 explanation">
                    <div class="input-line">
                        <div class="input-title"><sup>&nbsp;</sup>파일</div>
                        <div class="input-content"><input name="original" type="file" placeholder=""></div>
                    </div>
                    <div class="input-line">
                        <div class="input-title count_span"><sup>&nbsp;</sup>단어수</div>
                        <div class="input-content"><input name="num" type="number" min="0" placeholder="0" style="width:40%" class="text-number"> 자
                            <button class="text_counter">글자수세기</button>
                            <div class="clearfix"></div>
                            <span class="input-help">파일 또는 단어수를 함께 보내시면<br>더 정확한 견적을 알려드립니다.</span></div>
                    </div>
                    <div class="input-line" style="margin-top:-10px;">
                        <div class="input-title"><sup>&nbsp;</sup>쿠폰</div>
                        <div class="input-content">
                            <input id="form-request-subject" name="coupon" type="text" placeholder="ex) C00000" autocomplete="off">
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- 단가표 display:none; -->
    <div id="price-table">
        <div class="container">
            <span class="explanation-subject" style="font-size:1.4em;">단가표</span>
            <br>
            <div class="table-wrap clearfix">
                <table cellspacing="3px">
                    <thead>
                        <tr>
                            <th>언어</th>
                            <th>외국어->한국어</th>
                            <th>한국어->외국어</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>영어</th>
                            <td>11,000원~</td>
                            <td>13,000원~</td>
                        </tr>
                        <tr>
                            <th>중국어</th>
                            <td>11,000원~</td>
                            <td>13,000원~</td>
                        </tr>
                        <tr>
                            <th>일본어</th>
                            <td>11,000원~</td>
                            <td>13,000원~</td>
                        </tr>
                        <tr>
                            <th>스페인어</th>
                            <td>25,000원~</td>
                            <td>30,000원~</td>
                        </tr>
                        <tr>
                            <th>프랑스어</th>
                            <td>25,000원~</td>
                            <td>30,000원~</td>
                        </tr>
                        <tr>
                            <th>독일어</th>
                            <td>30,000원~</td>
                            <td>35,000원~</td>
                        </tr>
                        <tr>
                            <th>이탈리아어</th>
                            <td>30,000원~</td>
                            <td>35,000원~</td>
                        </tr>
                        <tr>
                            <th>태국어</th>
                            <td>35,000원~</td>
                            <td>40,000원~</td>
                        </tr>
                        <tr>
                            <th>베트남어</th>
                            <td>30,000원~</td>
                            <td>35,000원~</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="help-text">
                    <li>* 단가표/ 전문요율이 반영되지 않은 단가표로 변동될 수 있습니다.</li>
                    <li>* 단가는 A4용지 장 당 기준 입니다.</li>
                    <li>* 한국어 220단어, 영문 250단어, 중문 일문 650자, 기타 220단어 기준입니다.</li>
                    <li>* 번역문서의 전문성, 긴급정도에 따라 추가요금 발생 할 수 있습니다.</li>
                    <li>* 원어민 감수 서비스 원하실 경우 추가비용이 발생됩니다.</li>
                    <li>* 기타 언어는 메일로 문의해 주세요.</li>
                    <li>
                        <button class="free_request">무료견적의뢰</button>
                    </li>
            </div>
        </div>
    </div>
    <div id="main_step">
        <img class="web_step" src="img/step1.jpg" />
        <img class="mobile_step" src="img/step_mobile1.jpg" />
    </div>
    <!-- 단가표 display:none; -->
    <div class="clearfix"></div>
    <div id="main_party">
        <div class="wrapper flex-center">
            <img src="img/partypeople.jpg" style="opacity: 0;" />
            <div class="container">
                <div class="main_party_people">
                    <img src="img/partypeople.jpg" style="opacity: 0; width:50%; height:50%;" />
                    <span class="container-dot dot-a">
                        <img class="dot" src="img/1.png" />
                    </span>
                    <span class="container-dot dot-b">
                        <img class="dot" src="img/2.png" />
                    </span>
                    <span class="container-dot dot-c">
                        <img class="dot" src="img/3.png" />
                    </span>
                    <span class="container-dot dot-d">
                        <img class="dot" src="img/4.png" />
                    </span>
                    <span class="container-dot dot-e">
                        <img class="dot" src="img/5.png" />
                    </span>
                    <span class="container-dot dot-f">
                        <img class="dot" src="img/6.png" />
                    </span>
                </div>
            </div>
        </div>
        <div class="party_mobile">
            <img src="/img/partypeople_mobile2.jpg" alt="">
        </div>
    </div>

    <!-- about display:none; -->
    <div id="about-us">
        <div class="container">
            <span class="explanation-subject" style="font-size:1.4em;">About Us</span>
            <br>
            <br>
            <div class="div3 about-explanation">
                <br>
                <img src="img/about_4.png" />
                <div class="explanation-content">
                    <span class="explanation-subject">비지니스 번역</span>
                    <br>
                    <div>회사소개서, 계약서, 법률문서 등 업무에 필요한 비지니스 문서를 빠르고 정확하게 번역합니다.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="div3 about-explanation">
                <br>
                <img src="img/about_2.png" />
                <div class="explanation-content">
                    <span class="explanation-subject">WEB/APP 현지화 번역</span>
                    <br>
                    <div>당신의 사업이 해외로 진출할 때 필요한 온라인 번역을 합니다. 해당 국가에 가장 적절한 포맷과 언어로 번역합니다.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="div3 about-explanation">
                <br>
                <img src="img/about_1.png" />
                <div class="explanation-content">
                    <span class="explanation-subject">콘텐츠 번역</span>
                    <br>
                    <div>영상, 출판물 등 다양한 형태의 콘텐츠를 번역합니다. 콘텐츠를 필요로 하는 문화의 차이를 이해하여 누구나 자연스럽게 받아들일 수 있는 번역을 합니다.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- about display:none; -->
    </div>

    <div class="clearfix"></div>
    <div id="company-map">
        <div class="container">
            <span class="explanation-subject" style="font-size:1.4em;">CONTACT</span>
            <div class="section_cont">
                <p>
                    <iframe src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.430071088408!2d126.97942471606275!3d37.56848937979755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2ee98244385%3A0x372ffcba05b5bc2!2z7ISc7Jq47Yq567OE7IucIOykkeq1rCDssq3qs4TsspzroZwgNDA!5e0!3m2!1sko!2skr!4v1486631568943"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </p>
                <ul class="company_address">
                    <li style="margin-bottom:10px; font-size:1em; color:#272828"> CICÉRON, INC </li>
                    <li> 3f, 36, Donggyo-ro 12-gil, Mapo-gu, Seoul, Republic of Korea</li><br>
                    <li>
                        서울특별시 마포구 동교로 12길 36 3층 주식회사 씨세론</li>
                </ul>
                <ul class="company_contact">
                    <li>
                        <b>TEL</b> +82-2-336-3830</li>
                    <span>&nbsp;|&nbsp;</span>
                    <li>
                        <b>E-MAIL</b>
                        <a href="mailto:webmaster@ciceron.me" target="_blank" style="text-transform:none;"> webmaster@ciceron.me</a>
                    </li>
                </ul>
                <ul class="company_sns">
                    <li>
                        <a href="//blog.ciceron.me/" target="_blank">
                            <img src="/img/blog_1.png" style="height:30px; margin-top:-1px;vertical-align: bottom;" />
                        </a>
                    </li>
                    <li>
                        <a href="//www.facebook.com/ciceronmate/" target="_blank">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//www.instagram.com/ciceron_mate/" target="_blank">
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <%- include footer %>