.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.918945;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.785156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc4{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(102,102,102),0 0.015em rgb(102,102,102),0.015em 0 rgb(102,102,102),0 -0.015em  rgb(102,102,102);}
.sc2{text-shadow:-0.015em 0 rgb(0,176,240),0 0.015em rgb(0,176,240),0.015em 0 rgb(0,176,240),0 -0.015em  rgb(0,176,240);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc4{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(102,102,102);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,176,240);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-79.926649px;}
._2{margin-left:-43.893249px;}
._1{margin-left:-40.121021px;}
._7{margin-left:-19.450882px;}
._8{margin-left:-2.107958px;}
._4{margin-left:-1.081094px;}
._5{width:1.812658px;}
._9{width:42.208990px;}
._3{width:171.730887px;}
._6{width:515.861868px;}
.fc2{color:rgb(0,176,240);}
.fc1{color:rgb(102,102,102);}
.fc3{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:27.929470px;}
.fs4{font-size:35.909320px;}
.fs3{font-size:38.901763px;}
.fs0{font-size:39.899243px;}
.fs2{font-size:43.889169px;}
.fs1{font-size:79.798487px;}
.y0{bottom:0.000000px;}
.y14{bottom:1.496232px;}
.y1{bottom:1.619629px;}
.ye{bottom:2.244320px;}
.y1e{bottom:2.244322px;}
.y1c{bottom:2.244325px;}
.y16{bottom:2.244334px;}
.y10{bottom:2.244337px;}
.y1a{bottom:2.244347px;}
.y19{bottom:14.214120px;}
.y32{bottom:56.856443px;}
.y31{bottom:130.171304px;}
.y30{bottom:143.637299px;}
.y2f{bottom:157.103294px;}
.y2e{bottom:170.569289px;}
.y2d{bottom:183.287173px;}
.y2c{bottom:193.012614px;}
.y2b{bottom:203.486165px;}
.y2a{bottom:216.952160px;}
.y29{bottom:230.418155px;}
.y28{bottom:243.884150px;}
.y27{bottom:257.350145px;}
.y26{bottom:270.816140px;}
.y25{bottom:283.534024px;}
.y24{bottom:296.251908px;}
.y23{bottom:308.969793px;}
.y22{bottom:322.435787px;}
.y21{bottom:335.153672px;}
.y20{bottom:348.619667px;}
.y1f{bottom:361.337551px;}
.y1d{bottom:377.171296px;}
.y1b{bottom:393.629731px;}
.y18{bottom:407.095704px;}
.y17{bottom:419.065491px;}
.y15{bottom:434.775818px;}
.y12{bottom:451.234253px;}
.y13{bottom:452.730469px;}
.y11{bottom:466.944581px;}
.yf{bottom:482.654908px;}
.yd{bottom:509.586915px;}
.yc{bottom:524.425712px;}
.yb{bottom:537.891707px;}
.ya{bottom:563.327475px;}
.y9{bottom:590.259465px;}
.y8{bottom:615.695233px;}
.y7{bottom:643.375334px;}
.y6{bottom:658.337550px;}
.y5{bottom:687.513873px;}
.y4{bottom:721.178860px;}
.y3{bottom:745.118406px;}
.y2{bottom:775.042840px;}
.h9{height:10.473572px;}
.h6{height:11.969757px;}
.h7{height:11.969787px;}
.hc{height:20.347055px;}
.hb{height:23.939575px;}
.h2{height:29.067222px;}
.h8{height:29.936122px;}
.ha{height:30.263421px;}
.h5{height:32.785373px;}
.h4{height:36.988626px;}
.h3{height:58.134444px;}
.h1{height:839.380371px;}
.h0{height:841.000000px;}
.w2{width:35.909302px;}
.w3{width:64.337555px;}
.w4{width:70.322387px;}
.w1{width:163.836273px;}
.w5{width:164.584396px;}
.w0{width:594.000000px;}
.x0{left:0.000000px;}
.x5{left:5.984879px;}
.xd{left:8.229234px;}
.x9{left:18.702765px;}
.xa{left:20.947118px;}
.x10{left:24.687672px;}
.xe{left:26.183894px;}
.xb{left:29.924428px;}
.xf{left:38.901778px;}
.xc{left:58.352660px;}
.x3{left:71.818640px;}
.x11{left:210.219143px;}
.x12{left:211.715365px;}
.x4{left:216.952148px;}
.x1{left:246.128463px;}
.x6{left:381.536529px;}
.x13{left:395.002518px;}
.x7{left:418.193939px;}
.x14{left:421.186397px;}
.x8{left:483.279602px;}
.x2{left:525.173803px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-106.568865pt;}
._2{margin-left:-58.524331pt;}
._1{margin-left:-53.494695pt;}
._7{margin-left:-25.934509pt;}
._8{margin-left:-2.810610pt;}
._4{margin-left:-1.441459pt;}
._5{width:2.416877pt;}
._9{width:56.278654pt;}
._3{width:228.974516pt;}
._6{width:687.815825pt;}
.fs5{font-size:37.239293pt;}
.fs4{font-size:47.879093pt;}
.fs3{font-size:51.869018pt;}
.fs0{font-size:53.198991pt;}
.fs2{font-size:58.518893pt;}
.fs1{font-size:106.397982pt;}
.y0{bottom:0.000000pt;}
.y14{bottom:1.994976pt;}
.y1{bottom:2.159505pt;}
.ye{bottom:2.992426pt;}
.y1e{bottom:2.992429pt;}
.y1c{bottom:2.992434pt;}
.y16{bottom:2.992445pt;}
.y10{bottom:2.992449pt;}
.y1a{bottom:2.992463pt;}
.y19{bottom:18.952160pt;}
.y32{bottom:75.808590pt;}
.y31{bottom:173.561739pt;}
.y30{bottom:191.516399pt;}
.y2f{bottom:209.471059pt;}
.y2e{bottom:227.425719pt;}
.y2d{bottom:244.382897pt;}
.y2c{bottom:257.350152pt;}
.y2b{bottom:271.314887pt;}
.y2a{bottom:289.269547pt;}
.y29{bottom:307.224207pt;}
.y28{bottom:325.178867pt;}
.y27{bottom:343.133527pt;}
.y26{bottom:361.088187pt;}
.y25{bottom:378.045366pt;}
.y24{bottom:395.002545pt;}
.y23{bottom:411.959723pt;}
.y22{bottom:429.914383pt;}
.y21{bottom:446.871562pt;}
.y20{bottom:464.826222pt;}
.y1f{bottom:481.783401pt;}
.y1d{bottom:502.895061pt;}
.y1b{bottom:524.839641pt;}
.y18{bottom:542.794272pt;}
.y17{bottom:558.753988pt;}
.y15{bottom:579.701091pt;}
.y12{bottom:601.645671pt;}
.y13{bottom:603.640625pt;}
.y11{bottom:622.592775pt;}
.yf{bottom:643.539877pt;}
.yd{bottom:679.449220pt;}
.yc{bottom:699.234282pt;}
.yb{bottom:717.188942pt;}
.ya{bottom:751.103300pt;}
.y9{bottom:787.012619pt;}
.y8{bottom:820.926977pt;}
.y7{bottom:857.833778pt;}
.y6{bottom:877.783400pt;}
.y5{bottom:916.685163pt;}
.y4{bottom:961.571813pt;}
.y3{bottom:993.491209pt;}
.y2{bottom:1033.390453pt;}
.h9{height:13.964763pt;}
.h6{height:15.959676pt;}
.h7{height:15.959716pt;}
.hc{height:27.129407pt;}
.hb{height:31.919433pt;}
.h2{height:38.756296pt;}
.h8{height:39.914830pt;}
.ha{height:40.351228pt;}
.h5{height:43.713830pt;}
.h4{height:49.318168pt;}
.h3{height:77.512592pt;}
.h1{height:1119.173828pt;}
.h0{height:1121.333333pt;}
.w2{width:47.879069pt;}
.w3{width:85.783407pt;}
.w4{width:93.763183pt;}
.w1{width:218.448364pt;}
.w5{width:219.445861pt;}
.w0{width:792.000000pt;}
.x0{left:0.000000pt;}
.x5{left:7.979839pt;}
.xd{left:10.972312pt;}
.x9{left:24.937020pt;}
.xa{left:27.929491pt;}
.x10{left:32.916896pt;}
.xe{left:34.911859pt;}
.xb{left:39.899237pt;}
.xf{left:51.869038pt;}
.xc{left:77.803546pt;}
.x3{left:95.758186pt;}
.x11{left:280.292191pt;}
.x12{left:282.287153pt;}
.x4{left:289.269531pt;}
.x1{left:328.171284pt;}
.x6{left:508.715372pt;}
.x13{left:526.670024pt;}
.x7{left:557.591919pt;}
.x14{left:561.581863pt;}
.x8{left:644.372803pt;}
.x2{left:700.231737pt;}
}
