<head>
<meta charset="utf8"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/css/proto.css">
</head>
<style>
.container {
	padding: 0 25px;
}
.summeryContainer {
	1background-color: #FFFFFF;
	border-radius: 5px;	
	color: #02C1CF;
	margin-bottom: 25px;
1font-size: 0;
}

.summeryContainer .header {
	background-color: #02C1CF;
	color: #FFFFFF;
	text-align: center;
	border-radius: 5px 5px 0 0;
	font-size: 13px;	
	font-weight: 100;
}

.summeryContainer .header h2 {
	padding: 10px;
	margin-bottom: 0;
}

.summeryContainer .body {

    position: relative;
    width: 49.7%;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    vertical-align: bottom;	
}

.summeryContainer .body > p{
    font-size: 18px;
    padding: 17px;
    line-height: 22px;
    box-sizing: border-box;
}
    
.summeryContainer .body > * {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	height: 80px;
}
.summeryContainer .body .revenueIcon {
	box-sizing: content-box;
}
.summeryContainer .body .revenueIcon p{
    font-size: 11px;
    width: 83px;
    text-align: center;
    /* padding-bottom: 15px; */
    margin-top: -5px;
}
.summeryContainer .body .revenueValue {
    position: absolute;
    left: 83px;
    right: 0;
    text-align: center;
}
.summeryContainer .body .badgeConatiner {
	margin-left: 14px;
	border-left: 4px solid rgba(100,100,100,.2);
}
.summeryContainer .body .badgeConatiner .badgeIcon {
	display: inline-block;
	font-size: 0;
	margin-left: 9px;

}

.summeryContainer .body .revenueIcon img {
	margin: 5px 9px;
	height: 60px;
}
.summeryContainer .body .revenueValue p {
	margin: 0 18px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 32px;	
}

.summeryContainer .body .badgeConatiner img {
	margin: 9px 8px;
	height: 60px;	
}

.translatedItemContainer .card {
	position: relative;
    width: 242px;
    height: 180px;
    margin-right: 18px;
}

.translatedItemContainer .card.request > .header > .requesterName {
	width: 140px;
}
.translatedItemContainer .card.request > .header > .toolContainer {
	width: 95px;
	
}

.translatedItemContainer .card.request .contextCol {
    width: 135px;
}

.translatedItemContainer .card.request .contextCol > .context {
    width: 105px;
}  

.size28 {
    width: 30px;
    height: 30px;
}

.size58 {
    width: 50px;
    height: 50px;
}

.avatar.size28.badge {
    border-radius: 20px;
    border: none;
}

.card.request .contextCol > .context > .language {
	height: 50px;
}
.card.request .contextCol > .context > .category {
	height: 50px;
}
.translatedItemContainer  .card.request{
    display: inline-block;
}
.translatedItemContainer li:nth-child(3n) .card {
    margin-right: 0;
}

.translatedItemContainer .card.request .contextCol > .context > .wordCount {
    font-size: 14px;
}

.feedbackContainer {
	position: absolute;
	top: 70px;
	right: 0;
}
.completedDateContainer {
	position: absolute;
	bottom: 24px;
	margin-left: 6px;
	text-align: center;
	width: 100%;
	font-size: 10px;
	color: rgba(200,200,200,1);
}
.translatedItemContainer .card.request > .content > .toggleBtn {
	position: absolute;
	top: 102px;
	right: 0;
    float: none;
    border-radius: 0 3px 0 0;
    z-index: 99;
}
.translatedItemContainer .card.request > .content > .toggleBtn img {
    height: 40px;
    width: 40px;

    border-radius: 0 0 3px 0;
}
.translatedItemContainer li {
	display: inline-block;
}
.translatedItemContainer .card.request .contextTextContainer {
	position: absolute;
	display: none;
	width: 100%;
	height: 156px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 15px;
	font-size: 12px;
	color: rgb(100,100,100);
	background-color: white;
    z-index: 98;
    top: 24px;
}

.translatedItemContainer .card.request .contextTextContainer p{

    height: 100%;
    overflow-y: scroll;
}

.feedbackContainer:hover .tooltip {
    background: #02C1CF;
    font-size: 10px;
    position: absolute;
    top: -45px;
    left: 11px;
    width: 80px;
    padding: 5px;
    z-index: 90;
    color: white;
    border-radius: 4px;
}
.feedbackContainer:hover .tooltip::after {
    display: block;
    position: absolute;
    left: 42px;
    bottom: -13px;
    content: '';
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #02C1CF;
}
</style>
<body>
	<div class="topbar">
		<div class="global-nav">
			<div class="container">
				<div class="pull-right">
				</div>
				<a href="/"><h1 class="logo-topbar"><img src="/static/img/1.1.1logo_web.png" height="30"/></h1></a>
				<div class="pull-left">
					<ul class="nav right-actions">
						<li class="me">
								<a href="/profile"><img class="avatar size32 beforeReady"/>
								<span class="profileName"></span>
								</a>
						</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div id="page-outer">
		<div id="page-container" class="AppContent wrapper">
			<div class="content-main">
				<div class="container">
				</div>
			</div>
		</div>
	</div>
<script>
</script>
<script></script>
<script data-main="/static/js/activity.js" src="/static/js/require.js"></script>
</body>