<meta charset="utf8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
<style>
.js-translating.blank {
    height: 638px;
    border-radius: 5px;
	background-color: rgba(100,100,100,.2);
    position: relative;
    padding-top: .1px;	
}
.js-translating.blank > * {
	visibility: hidden;
}

.js-translating .process-container {
	width: 100%;
	height: 45px;
	padding: 20px;
}
.js-translating .process-container .process {
	float: left;
	width: 655px;
	height: 45px;
	background: #D8D8D8;
	border-radius: 5px;
	text-align: center;
}

.js-translating .process-container .process p{
	color: white;
}

.card {
	width: 770px;
}

.js-translating .process-container .process .process-placegolder {
	position: relative;
	float: left;
	width: 640px;
	height: 16px;
	background: white;
	margin-top: 5px;
	margin-left: 8px;
	margin-bottom: 3px;
	border-radius: 8px;	
}

.js-translating .process-container .process .process-placegolder  .process-value{
	position: absolute;
	left: 0;
	width: 640px;
	height: 16px;
	background: #0079DB;
	border-radius: 8px;
}

.js-translating .process-container .saveBtn {
	float: left;
	width: 110px;
	height: 45px;
    margin-left: 7px;
   	background: #0079DB;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 14px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.js-translating {
	padding-bottom: 20px;
}
.js-translating .submitBtn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 110px;
	height: 45px;
	background: #0079DB;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	margin: 0 auto;	
    box-shadow: 0 1px 1px rgba(0,0,0,.5);

}
.translatedToneOption.selected  {
	color: white;
	background-color: #81E0E7;
}
.translatedToneOption {
	display: inline-block;
    color: #27B6C5;
    border: 1px solid #81E0E7;
	width: 128px;
    height: 40px;
    margin: 7px;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 900;
    line-height: 41px;
    text-align: center;
}
</style>
<link rel="stylesheet" type="text/css" media="all" href="/static/css/proto.css">
</head>


<body>
	<div class="topbar">
		<div class="global-nav">
			<div class="container">
				<div class="pull-right">
				</div>
				<a href="/"><h1 class="logo-topbar"><img src="/static/img/1.1.1logo_web.png" height="30"/></h1></a>
				<div class="pull-left">
					<ul class="nav right-actions">
						<li class="me">
								<a href="/profile"><img class="avatar size32 beforeReady"/>
								<span class="profileName"></span>
								</a>
						</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div id="page-outer">
		<div id="page-container" class="AppContent wrapper">
			<div class="content-main">
				<div class="container js-translating">
				</div>
			</div>
		</div>
	</div>
<script>
</script>
<script data-main="/static/js/translating.js" src="/static/js/require.js"></script>