<style>
.menu_language_select_container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 87px;
    height: 38px;
    border: 1px solid #27B6C5;
    font-size: 16px;
    background-color: #27B6C5;
    color: white;	
    border-radius: 0 20px 20px 0;

}
#menu_language_select {
	position: fixed;
    bottom: 30px;
    right: 30px;
    width: 74px;
    height: 38px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 20px 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: white;
}
.menu_language_select_container > .label {
    width: 85px;
    height: 38px;
    position: relative;
    left: -87px;
    background-color: rgba(255,255,255,.3);
    line-height: 40px;
    text-align: center;
    top: -1px;
    border-radius: 50px 0 0 50px;
    border: 1px solid #27B6C5;
    color: #27B6C5;
    font-size: 18px;	
}
.alarm_container {
	margin-right: 30px;
}
.global-nav * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.banner {
	position: fixed;
    /* transform: translateY(50%); */
    /* bottom: 0; */
    display: none;
    top: 56px;
    background-color: rgb(116,129,130);
    width: 100%;
    text-align: center;
    z-index: 4;
    height: 58px;
}


.banner-content > *{
	margin: 0;
}

.banner-content > p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin: 0 40px; */
    width: 70%;
    word-wrap: break-word;
    transform: translate(-50%, -50%);
}

.banner-content {
	position: relative;
    max-width: 1190px;
    margin: 0 auto;
    height: 58px;
}
.anchor {
	1position: fixed;
}

.topbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.anchor {
    height: 56px;
    transition: .3s linear height;
}

.banner a.close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 14px;
    background-image: url(/static/img/cancel.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    1background-position: -110px -31px;
    z-index: 1;
    text-indent: -9999em;
}



.sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    background-color: gray;
    z-index: 110;
    box-shadow: 0px 0 125px -5px black;
	transform: translateX(100%);
    transition: .3s ease all;
    opacity: 0;

}
.show .sideMenu {
    opacity: 1;
	transform: translateX(0%);
}
.dimm {
	display: none;
	right: -100%;
    transition: .3s ease all;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
}

.show .dimm {
	display: block;
	right: 0;
}

.profileName {
	1float: none;
}
	
</style>
<div class="anchor">
</div>
<div class="global-nav">
	<div class="container">
		<div class="pull-right">
			<ul class="nav left-actions">
				<li>
					<div class="alarm_container">
					</div>
				</li>
				<li>
					<div class="menu_language_select_container">
						<div class="label">{{i18n.LANGUAGE}}</div>									
						<select id="menu_language_select">
							<option value="0" data-class="eng">English</option>
							<option value="1" data-class="kor">한국어</option>
							<option value="2" data-class="mandarin">中文(繁體)</option>
						</select>
					</div>
				</li>
				<li>
					<div class="menu">
						<img src="/static/img/ham_menu.png">
					</div>
				</li>
			</ul>
		</div>
		<a href="/stoa"><h1 class="logo-topbar"><img src="/static/img/1.1.1logo_web.png" height="30"/></h1></a>
		<div class="pull-left">
			<ul class="nav left-actions">
				<li class="me">
					<a href="/profile">
						<img class="avatar size32" src="{{data.userPicPath}}"/>
						<span class="profileName">{{data.userName}}</span>
					</a>
				</li>
			</ul> 
		</div>
	</div>	
</div>
<div class="banner">
	<div class="banner-content">
		<p>hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello</p>
	<a href="javascript:;" class="close" title="배너 그만 보기" data-gaclick="{&quot;hitType&quot;:&quot;event&quot;, &quot;eventCategory&quot;:&quot;GNB&quot;, &quot;eventAction&quot;:&quot;click&quot;, &quot;eventLabel&quot;:&quot;top_banner_close&quot;, &quot;eventValue&quot;:0}">배너닫기</a>
	</div>
</div>

	<div class="sideMenuContainer">
		<div class="sideMenu">
			<ul>
				<li class="header">
					<a href="/profile">
						<div>
							<img class="avatar size32" src="/api/access_file/img/20150905070803887471.png">
							<span class="label">HeeJae Kim</span>
						</div>
					</a>
				</li>
				<div class="nav-header translator-nav-header">
					{{i18n.MENU_TRANSLATE}} 
				</div>
				<li>
					<a href="/cart">
						<div class="sideBarLabel">{{i18n.MENU_CART}}</div>
					</a>
				</li>
				<li>
					<a href="/translating">
						<div class="sideBarLabel">{{i18n.MENU_TRANSLATING}}</div>
					</a>
				</li>
				<li>
					<a href="/activity">
						<div class="sideBarLabel">{{i18n.MENU_HISTORY}}</div>
					</a>
				</li>
				<div class="nav-header translator-nav-header">
					{{i18n.MENU_REQUEST}} 
				</div>
				<li>
					<a href="/makerequest">
						<div class="sideBarLabel">{{i18n.MENU_MAKE_REQUEST}}</div>
					</a>
				</li>
				<li>
					<a href="/processingrequests">
						<div class="sideBarLabel">{{i18n.MENU_PROCESSING_REQUEST}}</div>
					</a>
				</li>
				<li>
					<a href="/donerequests">
						<div class="sideBarLabel">{{i18n.MENU_COMPLETED_REQUEST}}</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="dimm">
		</div>
	<div>
