<style>
.point-cover-container {
	position: relative;

	color: white;
	padding: 30px 40px;
}
.point-cover-container *{
	margin: 0;
}
.point-cover-container .header {
	width: 100%;
	position: relative;
}
.point-cover-container .header h2 {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 20px;
}

.point-cover-container .header .revenue {
	position: absolute;
	right: 0;
	bottom: 0px;
	1text-decoration: underline;	
	font-size: 40px;
	font-weight: 500;
	border-bottom: 1px solid white;
}
.point-cover-container .detail{
	padding-top: 36px;
	padding-bottom: 20px;
	
}

.point-cover-container .footer{
	padding-top: 44px;
	position: relative;
}
.point-cover-container .footer .toggleContainer .fold{
	display: none;
}
.point-cover-container .footer .toggleContainer.expand .fold{
	display: block;
}

.point-cover-container .footer .toggleContainer .expand{
	display: block;
}
.point-cover-container .footer .toggleContainer.expand .expand{
	display: none;
}

.point-cover-container .footer .requestRefund{
	position: absolute;
	right: 0;
	bottom: 0;
	1width: 110px;
	1height: 40px;
	font-size: 14px;
	border-radius: 5px;
    color: rgba(0, 121, 219, .8);
    border-color: rgba(0,0,0,.3);
    padding: 12px;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.point-cover-container th {
    border-top: 1px solid rgba(0, 121, 219, .8);
    border-bottom: 1px solid rgba(0, 121, 219, .8);
    padding: 16px 20px;
    font-weight: 400;
    font-size: 14px;
}
.point-cover-container th.name {
	width: 120px;
}
.point-cover-container th.expirationDate {
	width: 120px;
}
.point-cover-container th.point {
	width: 370px;
}
.point-cover-container th, 
.point-cover-container td {
    text-align: left;
    color: rgba(0, 121, 219, .8);
    font-size: 14px;
}

.point-cover-container td {
	padding: 8px 20px;
}

.point-cover-container tr:nth-child(2) > td {
	padding-top: 16px;
}

.point-cover-container table { border-collapse: collapse; }

.toggleContainer,
button {
	cursor: pointer;
}
.refundPopup {
    width: 630px;
    background-color: white;
    border: 7px solid #27B6C5;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}
.refundPopup > p {
    color: #888;
    1font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
        width: auto;
        line-height: 25px;
}
.refundPopup input[type="email"] {
    border: none;
    font-size: 30px;
    font-style: italic;
    display: block;
    width: 414px;
	color: rgba(136, 136, 136, .7);
	font-weight: 500;
    margin: 30 auto;
    padding: 5px 36px;
    text-align: center;
    border-bottom: 1px solid rgba(136, 136, 136,.6);
    outline: none;
}

.sendBtn[disabled] {
    background-color: #BBB;
    color: #DDD;
}

.sendBtn {
    height: 50px;
    width: 260px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    display: inline-block;
    background-color: #0079DB;
	margin: 20px auto 50px auto;
    outline: none;
}
.point-cover-container > .header > p {
    font-size: 16px;
    line-height: 20px;
}

</style>
<div class="point-cover-container">
	<div class="header">
		<h2>{{i18n.MY_POINT}}</h2>
		<p>{{{i18n.MY_POINT_DESC}}}</p>
		<div class="revenue">$ {{data.revenue}}</div>
	</div>
	<div class="detail">
		<table>
			<tr class="detailHeader">
				<th class="name">{{i18n.NAME}}</th>
				<th class="expirationDate">{{i18n.MY_POINT_EXPIRATION_DATE}}</th>
				<th class="point">{{i18n.MY_POINT_POINTS}}($)</th>
			</tr>
			{{#each data.expiredRequests}}
			<tr>
				<td class="name">{{request_clientName}}</td>
				<td class="expirationDate">{{request_dueTime}}</td>
				<td class="point">{{request_points}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
	<div class="footer">
		<div class="toggleContainer">
			<div class="expand">{{i18n.MY_POINT_EXPAND_DETAIL}}</div>
			<div class="fold">{{i18n.MY_POINT_FOLD_DETAIL}}</div>
		</div>
		<button class="requestRefund">{{i18n.MY_POINT_REQUEST_REFUND}}</button>	
	</div>
	<script type="text/template" id="refundPopup">
		<div class="refundPopup">
			<p>{{i18n.MY_POINT_REQUEST_REFUND_DESC}}</p>
			<!--input type="email" placeholder="example@example.com"/-->
			<button class="sendBtn">{{i18n.MY_POINT_REQUEST_REFUND_MAIL}}</button>
		</div>
	</script>
</div>