<style>
.language-container {
    position: absolute;
    top: 330px;
    left: 36px;
}
.motherLanguage,
.preferLanguageCombi {
	position: relative;
    height: 54px;
}

.motherLanguage > .icon,
.preferLanguageCombi > .icon {
	width: 54px;
	height: 54px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	
		float: left;	

}

.motherLanguage > .text,
.preferLanguageCombi > .text {
    float: left;
    line-height: 54px;
    color: white;
    text-align: left;
    width: 146px;
    font-size: 23px;
    font-weight: 100;
    margin-left: 20px;
    margin-top: 2px;
}

.motherLanguage > .icon {
	background-image: url(/static/img/mothertongue_web.png);
}

.preferLanguageCombi > .icon {
	background-image: url(/static/img/prefer_web.png);
}

.translatorLicense-container .name-ccontainer {
	width: 100%;
	background-color: #CDEDF6;
	border-radius: 3px;
}
.translatorLicense-container .badgeContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #CDEDF6;
	border-radius: 0 0 3px 3px;
}

.translatorLicense-container > ul > li {
	height: 28px;
}
.translatorLicense-container > ul {
    font-size: 12px;
    margin-top: 10px;
}
.translatorLicense-container > ul .label {
    width: 73px;
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 18px;
} 
.translatorLicense-container > ul .value {
    text-align: left;
    width: 160px;
    display: inline-block;
    float: left;
}  
.applyTranslator,
.processingTranslator {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #27B6C5;
    width: 100%;
    height: 100%;
	box-sizing: border-box;
    border-radius: 3px;
}
.applyTranslator h3,
.processingTranslator h3 {
	font-size: 18px;
	font-weight: 300;
	
    padding: 0 10px;
}
.applyTranslator p,
.processingTranslator p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
.applyTranslator button {
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	background-color: transparent;
	border: none;
	color: white;
	margin-top: 40px;
	border-bottom: 1px solid white;
	padding: 5px 10px;
}
.applyTranslator button:hover {
	background-color: rgba(255,255,255,.2);
}
.alartIcon {
    margin: 40px auto;
    width: 70px;
    height: 55px;
    background-image: url(/static/img/alart_web.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.processingIcon {
    margin: 40px auto;
width: 87px;
    height: 87px;
    background-image: url(/static/img/pencil_web.png);
    background-size: cover;
    background-image: url(/static/img/pencil_web.png);
    background-repeat: no-repeat;	
}


.profilename-container > .name::before,
.profilename-container > .email::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    top: 0;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/static/img/account_W_web.png);
}
.profilename-container > .email::before {
    width: 28px;
    height: 28px;
    background-image: url(/static/img/email_web.png);
}
</style>
<div class="profile-cover-container">
	<div class="profile-cover-bg"></div>
	<div class="profile-content">
		<div class="profilepic-container">
			<input type="file" name="profilepic-file" style="display: none;"/>
			<div class="js-upload-profilepic updateProfilePic-container">
			</div>
			<img src=""/>
		</div>
		<div class="profilename-container">
			<span class="name"></span>
			<span class="email"></span>
		</div>
		<div class="profileText-container">
		</div>
		
		<div class="language-container">
			<div class="motherLanguage">
				<div class="icon"></div>
				<div class="text"></div>
			</div>
			<!--div class="preferLanguageCombi">
				<div class="icon"></div>
				<div class="text"></div>
			</div-->
		</div>
		
		<div class="translatorLicense-container">
			<div class="name-ccontainer"><span class="name"></span></div>
			<ul>
				<li class="language"><span class="label">{{i18n.LANGUAGE}}</span><span class="value"></span></li>
				<li class="email"><span class="label">{{i18n.EMAIL}}</span><span class="value"></span></li>
			</ul>
			
			<div class="applyTranslator">
				<div class="alartIcon"></div>
				<h3>{{i18n.NO_TRANSLATOR_LICENSE}}</h3>
				<p>{{i18n.APPLY_TRANSLATOR_NOW_AND_BE_A_HERO}}</p>
				<button>{{i18n.APPLY_TRANSLATOR_NOW}}</button>
			</div>

			<div class="processingTranslator">
				<div class="processingIcon"></div>
				<h3>{{i18n.APPLY_TRANSLATOR_APPLICATION_IN_REVIEW}}</h3>
				<p>{{i18n.APPLY_TRANSLATOR_APPLICATION_IN_REVIEW_MSG}}</p>
			</div>
		</div>
		
		<div class="statistics-container">
			<div class="requestCount-container">
				<p class="label">{{i18n.PROFILE_COUNT_REQUEST}}</p>
				<p class="value requestCount"></p>
			</div>
			<div class="translationsCount-container">
				<p class="label">{{i18n.PROFILE_COUNT_TRANSLATION}}</p>
				<p class="value translationsCount"></p>
			</div>
		</div>
	</div>
	<button class="logoutBtn js-logout">{{i18n.PROFILE_LOGOUT}}</button>
</div>