<style>
.langContainer {
    width: 38px;
    height: 38px;
    background-color: gray;
    text-align: center;
    border-radius: 100px;
	border: 2px solid gray;
    font-weight: 100;
    display: inline-block;
    position: 	relative;
}
.langContainer .clean {
    font-size: 10px;
    padding-bottom: 2;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-top: 11px;
}
span.js-lang-switch {
    vertical-align: top;
    margin-top: 13px;
    display: inline-block;
        font-weight: bold;
}
.langContainer .lang {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.langContainer select {
	opacity: 0;
	position: absolute;
}
.langContainer .lang.KOREAN {
	background-image: url(/static/img/flags/ticket/Korean.png);
}
.langContainer .lang.ENGLISH_US {
	background-image: url(/static/img/flags/ticket/English_american.png);
}

.langContainer .lang.ENGLISH_UK {
	background-image: url(/static/img/flags/ticket/English_british.png);
}

.langContainer .lang.CHINESE_MANDARIN {
	background-image: url(/static/img/flags/ticket/Chinese.png);
}

.langContainer .lang.CHINESE_CANTONESE {
	background-image: url(/static/img/flags/ticket/cantonese.png);
}



</style>
<div class="card postSos js-sosRequest">
	<div class="header">
		<div class="toggle" style="float:right;"></div>
		<h3>{{i18n.MENU_SHORT_REQUEST_INTRO}}</h3>
	</div>
	<div class="content" style="display: none;">
		<textarea class="quickRequestText" placeholder="{{i18n.MENU_SHORT_REQUEST_DESCRIPTION}}" rows="3"></textarea>
		<div class="sos-tool left">
			<div class="departureLangContainer langContainer">
				<!--div class="clean">선택</div-->
				<div class="lang"></div>
				<select id="original_language_select" name="original_language_id">
	
				    <option value="0">
				        {{i18n.KOREAN}}
				    </option>
				
				    <option value="1">
				        {{i18n.ENGLISH_US}}
				    </option>
				
				    <option value="2">
				        {{i18n.ENGLISH_UK}}
				    </option>
				
				    <option value="3">
				        {{i18n.CHINESE_MANDARIN}}
				    </option>
				
				    <option value="4">
				        {{i18n.CHINESE_CANTONESE}}
				    </option>
				</select>
			</div>
			<span class="js-lang-switch">→</span>
			<div class="arrivalLangContainer langContainer">
				<!--div class="clean">선택</div-->
				<div class="lang"></div>
				<select id="target_language_select" name="target_language_id">
				    <option value="0">
				        {{i18n.KOREAN}}
				    </option>
				
				    <option value="1" selected>
				        {{i18n.ENGLISH_US}}
				    </option>
				
				    <option value="2">
				        {{i18n.ENGLISH_UK}}
				    </option>
				
				    <option value="3">
				        {{i18n.CHINESE_MANDARIN}}
				    </option>
				
				    <option value="4">
				        {{i18n.CHINESE_CANTONESE}}
				    </option>
				</select>
			</div>
		</div>
		<div class="sos-tool right">
			<p><span class="msglength">{{data.currentLength}}</span> / <span class="msgmax">{{data.maxLength}}</span></p>
			<button>{{i18n.MENU_SHORT_REQUEST_SUBMIT}}</button>
		</div>
	</div>
</div>
