<li data-request-id="{{data.request_id}}">
<div class="card request" data-original-lang="{{data.originalLangIndex}}" data-target-lang="{{data.targetLangIndex}}">
	<div class="header main">
		<div class="requesterName">
			<span>{{data.clientName}}</apsn>
		</div>
		<div class="contextHeader">
			<span>{{i18n.TICKET_CONTEXT}}</apsn>
		</div>
		<div class="toolContainer">
			<span class="reward">$ {{data.request_points}}</span> 
		</div>
	</div>
	<div class="content">
		<div class="requesterCol">
			<img class="avatar size64" src="/api/access_file/{{data.clientPicPath}}{{#unless data.clientPicPath}}{{i18n.defaultProfilePic}}{{/unless}}"/>		
			<div class="remainingHours">
				<div class="header">{{i18n.TICKET_REMAINING_HOURS}}</div>
				<div class="content">
					<span class="hour">{{data.remainingHours}} {{i18n.HOURS}}</span>
					<span class="minute">{{data.remainingMinutes}} {{i18n.MINUTES}}</span>
				</div>
			</div>
		</div>
		<div class="contextCol">
			<div class="context">
				<div class="language">
					<div class="languageIcon">
						<img class="avatar size32" src="{{data.originalLangPicPath}}">
						<p>{{data.messages.originalLang}}</p>
					</div>
					<div class="languageIcon">
						<img class="avatar size32" src="{{data.targetLangPicPath}}">
						<p>{{data.messages.targetLang}}</p>
					</div>
				</div>
				<div class="category">
					<div class="categoryIcon">
						<img class="size32" src="{{data.formatIconPath}}">
						<p>{{data.messages.format}}</p>
					</div>
					<div class="categoryIcon">
						<img class="size32" src="{{data.subjectIconPath}}">
						<p>{{data.messages.subject}}</p>
					</div>
				</div>	
				<div class="wordCount"><p>{{data.words}} {{i18n.WORDS}}<p></div>												
			</div>
		</div>
		
		<div class="contentCol">
			<p>{{{data.contextText}}}<p>
		</div>
		<div class="actionCol">
			<button class="actionBtn translate">{{i18n.TICKET_TRANSLATE}}</button>
			<button class="actionBtn cart">{{i18n.TICKET_CART}}</button>
			<button class="actionBtn resubmit">{{i18n.TICKET_RESUBMIT}}</button>
			<button class="actionBtn delete">{{i18n.TICKET_CANCEL}}</button>
			<button class="actionBtn deleteFromCart">{{i18n.TICKET_DELETE}}</button>
			<div class="makeTitleContainer">
				<h3>{{i18n.TICKET_COMPLETED}}</h3>
				<textarea placeholder="{{i18n.TICKET_ADD_TITLE}}"></textarea>
				<button class="actionBtn makeTitle">{{i18n.TICKET_DONE}}</button>			
			</div>
			<div class="interestedTranslatorContainer">
				{{#each data.translatorsInQueue}}
				<a href="#" title="{{this.user_name}}">
					<img class="avatar size32" src="/api/access_file/{{this.user_profilePicPath}}{{#unless this.user_profilePicPath}}{{@root.i18n.defaultProfilePic}}{{/unless}}"/>
				</a>
				{{/each}}
			</div>
		</div>
		<div class="translating">
			<div class="translating-content">
			<div class="progress-pie-chart" data-percent="{{data.translatingProcess}}">
			  <div class="ppc-progress">
			    <div class="ppc-progress-fill"></div>
			  </div>
			</div>
			<img class="avatar size64" src="/api/access_file/{{data.translatorPicPath}}{{#unless data.translatorPicPath}}{{i18n.defaultProfilePic}}{{/unless}}"/>
			<p>{{i18n.TICKET_WHO_TRANSLATING}}</p>
			</div>
		</div>
	</div>
	<div class="originalTextContainer">
		<h3>{{i18n.TICKET_REQUEST_CONTENT}}</h3>
		<p class="originalText">{{{data.originalText}}}</p>
		<div class="originalTextFooter">
			<button>{{i18n.TICKET_MORE}}</button>
		</div>
	</div>
</div>
</li>