body {
	1font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","Lato","sans-serif";
	font-family: '돋움','Dotum', Helvetica,sans-serif
}

body, div {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-image: url(/static/img/login_bg.jpg);
	background-size: cover;	
}

a {
  1font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.auth-container {
	color: #FFF;
}
.dim {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(80, 80, 80, .7);
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo-container {
	1position: absolute;
	position: relative;
	padding-top: 90px;
	font-size: 30px;
	color: white;
	text-align: center;
	
}

.auth-container > div {
	display: none;
}
.auth-container.login > .login-container {
	display: block;
}
.auth-container.signup > .signup-container {
	display: block;
}

.alt_form_option {
	text-align: right;
}

.login-container 
,.signup-container {
	padding: 0 20px;
	width: auto;
	max-width: 460px;
    margin: 0 auto;
}

.input-container {
   height: auto;
   overflow: hidden;
   margin-bottom: 10px;
   border-bottom: 1px solid #fff;
}

.input-container input {
	position: relative;
	width: 100%;
	height: 56px;
	z-index: 9;
	border: none;
	background: transparent;
	font-size: 15px;
	color: #fff;
	line-height: 16px;
	-webkit-appearance: none;
	outline: none;
}

.input-container > .col {
	height: 56px;
}
.input-container > .left {
    width: 110px;
    float: left;
}

.input-container .label {
	height: 100%;
	vertical-align: middle;
	line-height: 56px;
	color: #fff;	
}

.btn_auth {
	display: block;
	height: 61px;
	margin: 30px 0 13px;
}
	
.btn_auth input {
	width: 100%;
	border: none;
	height: 61px;
	background-color: #27B6C5;
	color: white;
	font-size: 24px;
	font-weight: 100;
	-webkit-appearance: none;
	cursor: pointer;
	outline: none;  
}
.input-container > .right {
    width: auto;
    overflow: hidden;
}​​
